<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_30_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22}</string>
				<key>spriteSize</key>
				<string>{174,124}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,133},{174,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_30_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,23}</string>
				<key>spriteSize</key>
				<string>{168,118}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{183,0},{168,118}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_30_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,56}</string>
				<key>spriteSize</key>
				<string>{122,90}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,258},{122,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_30_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-13.5}</string>
				<key>spriteSize</key>
				<string>{126,39}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{175,169},{126,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_30_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22}</string>
				<key>spriteSize</key>
				<string>{182,132}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,0},{182,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_30-uhd.png</string>
			<key>size</key>
			<string>{301,348}</string>
			<key>textureFileName</key>
			<string>icons/bird_30-uhd.png</string>
		</dict>
	</dict>
</plist>