<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_113_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{77,38}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{46,2},{77,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.25}</string>
			<key>spriteSize</key>
			<string>{51,14}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{100,42},{51,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_113_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26.25}</string>
			<key>spriteSize</key>
			<string>{52,46}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{46,42},{52,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,13}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{2,95},{44,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{81,42}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{2,2},{81,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_113-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_113-hd.png</string>
	</dict>
</dict>
</plist>
