<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_36_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{147,68}</string>
				<key>spriteSourceSize</key>
				<string>{155,76}</string>
				<key>textureRect</key>
				<string>{{0,77},{147,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_36_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{140,62}</string>
				<key>spriteSourceSize</key>
				<string>{155,76}</string>
				<key>textureRect</key>
				<string>{{0,146},{140,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_36_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,47}</string>
				<key>spriteSize</key>
				<string>{122,102}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{203,0},{122,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_36_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,6}</string>
				<key>spriteSize</key>
				<string>{138,46}</string>
				<key>spriteSourceSize</key>
				<string>{155,76}</string>
				<key>textureRect</key>
				<string>{{156,0},{138,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_36_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{155,76}</string>
				<key>spriteSourceSize</key>
				<string>{155,76}</string>
				<key>textureRect</key>
				<string>{{0,0},{155,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_36-uhd.png</string>
			<key>size</key>
			<string>{305,208}</string>
			<key>textureFileName</key>
			<string>icons/bird_36-uhd.png</string>
		</dict>
	</dict>
</plist>