<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_74_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{154,73}</string>
				<key>spriteSourceSize</key>
				<string>{154,73}</string>
				<key>textureRect</key>
				<string>{{0,168},{154,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,50}</string>
				<key>spriteSize</key>
				<string>{132,94}</string>
				<key>spriteSourceSize</key>
				<string>{132,94}</string>
				<key>textureRect</key>
				<string>{{170,0},{132,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{84,43}</string>
				<key>spriteSourceSize</key>
				<string>{84,43}</string>
				<key>textureRect</key>
				<string>{{155,168},{84,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{169,87}</string>
				<key>spriteSourceSize</key>
				<string>{169,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{161,79}</string>
				<key>spriteSourceSize</key>
				<string>{161,79}</string>
				<key>textureRect</key>
				<string>{{0,88},{161,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_74-uhd.png</string>
			<key>size</key>
			<string>{302,241}</string>
			<key>textureFileName</key>
			<string>icons/bird_74-uhd.png</string>
			#ICON BY KEVGEN
		</dict>
	</dict>
</plist>