<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_70_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{152,79}</string>
				<key>spriteSourceSize</key>
				<string>{152,91}</string>
				<key>textureRect</key>
				<string>{{0,88},{152,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_70_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{146,55}</string>
				<key>spriteSourceSize</key>
				<string>{160,87}</string>
				<key>textureRect</key>
				<string>{{161,0},{146,55}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_70_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,49.5}</string>
				<key>spriteSize</key>
				<string>{122,100}</string>
				<key>spriteSourceSize</key>
				<string>{122,199}</string>
				<key>textureRect</key>
				<string>{{0,193},{122,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_70_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-17.5}</string>
				<key>spriteSize</key>
				<string>{136,24}</string>
				<key>spriteSourceSize</key>
				<string>{160,87}</string>
				<key>textureRect</key>
				<string>{{0,168},{136,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_70_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{160,87}</string>
				<key>spriteSourceSize</key>
				<string>{160,99}</string>
				<key>textureRect</key>
				<string>{{0,0},{160,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_70-uhd.png</string>
			<key>size</key>
			<string>{216,293}</string>
			<key>textureFileName</key>
			<string>icons/bird_70-uhd.png</string>
		</dict>
	</dict>
</plist>