<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_141_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{188,107}</string>
                <key>spriteSourceSize</key>
                <string>{188,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{188,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{188,107}</string>
                <key>spriteSourceSize</key>
                <string>{188,107}</string>
                <key>textureRect</key>
                <string>{{189,0},{188,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,196}</string>
                <key>textureRect</key>
                <string>{{386,0},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_141_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{188,107}</string>
                <key>spriteSourceSize</key>
                <string>{188,107}</string>
                <key>textureRect</key>
                <string>{{0,108},{188,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_141_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{196,115}</string>
                <key>spriteSourceSize</key>
                <string>{196,115}</string>
                <key>textureRect</key>
                <string>{{189,108},{196,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_141-uhd.png</string>
            <key>size</key>
            <string>{734,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfebeb7952ce3f7d632c49b6c12a064:ca6268443cbb4db329ea0c7ae123cf3d:2fc98dfa407f4dc4341e4e4bb7b51ab1$</string>
            <key>textureFileName</key>
            <string>icons/bird_141-uhd.png</string>
        </dict>
    </dict>
</plist>
