<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_39_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{147,85}</string>
				<key>spriteSourceSize</key>
				<string>{207,207}</string>
				<key>textureRect</key>
				<string>{{0,93},{147,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_39_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{141,69}</string>
				<key>spriteSourceSize</key>
				<string>{207,207}</string>
				<key>textureRect</key>
				<string>{{154,0},{141,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_39_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,48}</string>
				<key>spriteSize</key>
				<string>{123,103}</string>
				<key>spriteSourceSize</key>
				<string>{207,207}</string>
				<key>textureRect</key>
				<string>{{0,179},{123,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_39_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-9.5}</string>
				<key>spriteSize</key>
				<string>{93,42}</string>
				<key>spriteSourceSize</key>
				<string>{207,207}</string>
				<key>textureRect</key>
				<string>{{124,179},{93,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_39_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6.5}</string>
				<key>spriteSize</key>
				<string>{153,92}</string>
				<key>spriteSourceSize</key>
				<string>{207,207}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_39-uhd.png</string>
			<key>size</key>
			<string>{223,282}</string>
			<key>textureFileName</key>
			<string>icons/bird_39-uhd.png</string>
		</dict>
	</dict>
</plist>