<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_108_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,11.5}</string>
			<key>spriteSize</key>
			<string>{84,55}</string>
			<key>spriteSourceSize</key>
			<string>{88,66}</string>
			<key>textureRect</key>
			<string>{{63,2},{84,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_108_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.75,9}</string>
			<key>spriteSize</key>
			<string>{69,35}</string>
			<key>spriteSourceSize</key>
			<string>{88,66}</string>
			<key>textureRect</key>
			<string>{{63,88},{69,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_108_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,29}</string>
			<key>spriteSize</key>
			<string>{62,39}</string>
			<key>spriteSourceSize</key>
			<string>{88,66}</string>
			<key>textureRect</key>
			<string>{{134,67},{62,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_108_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,19.5}</string>
			<key>spriteSize</key>
			<string>{63,34}</string>
			<key>spriteSourceSize</key>
			<string>{88,66}</string>
			<key>textureRect</key>
			<string>{{120,2},{63,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_108_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,11.5}</string>
			<key>spriteSize</key>
			<string>{88,59}</string>
			<key>spriteSourceSize</key>
			<string>{88,66}</string>
			<key>textureRect</key>
			<string>{{2,2},{88,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_108-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_108-hd.png</string>
	</dict>
</dict>
</plist>
