<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_94_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,39}</string>
				<key>spriteSize</key>
				<string>{178,164}</string>
				<key>spriteSourceSize</key>
				<string>{186,172}</string>
				<key>textureRect</key>
				<string>{{0,173},{178,164}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_94_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,39}</string>
				<key>spriteSize</key>
				<string>{172,158}</string>
				<key>spriteSourceSize</key>
				<string>{186,172}</string>
				<key>textureRect</key>
				<string>{{187,0},{172,158}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_94_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,49.5}</string>
				<key>spriteSize</key>
				<string>{122,100}</string>
				<key>spriteSourceSize</key>
				<string>{122,100}</string>
				<key>textureRect</key>
				<string>{{179,173},{122,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_94_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,39}</string>
				<key>spriteSize</key>
				<string>{186,172}</string>
				<key>spriteSourceSize</key>
				<string>{186,172}</string>
				<key>textureRect</key>
				<string>{{0,0},{186,172}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_94-uhd.png</string>
			<key>size</key>
			<string>{345,337}</string>
			<key>textureFileName</key>
			<string>icons/bird_94-uhd.png</string>
		</dict>
	</dict>
</plist>