<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_108_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,40}</string>
				<key>spriteSize</key>
				<string>{185,143}</string>
				<key>spriteSourceSize</key>
				<string>{1000,1000}</string>
				<key>textureRect</key>
				<string>{{0,150},{185,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_108_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,38}</string>
				<key>spriteSize</key>
				<string>{178,104}</string>
				<key>spriteSourceSize</key>
				<string>{1000,1000}</string>
				<key>textureRect</key>
				<string>{{194,0},{178,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_108_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,56}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{1000,1000}</string>
				<key>textureRect</key>
				<string>{{0,294},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_108_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,51}</string>
				<key>spriteSize</key>
				<string>{171,112}</string>
				<key>spriteSourceSize</key>
				<string>{1000,1000}</string>
				<key>textureRect</key>
				<string>{{194,105},{171,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_108_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,40}</string>
				<key>spriteSize</key>
				<string>{193,149}</string>
				<key>spriteSourceSize</key>
				<string>{1000,1000}</string>
				<key>textureRect</key>
				<string>{{0,0},{193,149}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_108-uhd.png</string>
			<key>size</key>
			<string>{372,371}</string>
			<key>textureFileName</key>
			<string>icons/bird_108-uhd.png</string>
		</dict>
	</dict>
</plist>