<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_105_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{169,86}</string>
				<key>spriteSourceSize</key>
				<string>{169,87}</string>
				<key>textureRect</key>
				<string>{{0,97},{169,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_105_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{163,69}</string>
				<key>spriteSourceSize</key>
				<string>{169,87}</string>
				<key>textureRect</key>
				<string>{{0,184},{163,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_105_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,55}</string>
				<key>spriteSize</key>
				<string>{120,85}</string>
				<key>spriteSourceSize</key>
				<string>{120,85}</string>
				<key>textureRect</key>
				<string>{{0,254},{120,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_105_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3.5}</string>
				<key>spriteSize</key>
				<string>{165,80}</string>
				<key>spriteSourceSize</key>
				<string>{169,87}</string>
				<key>textureRect</key>
				<string>{{180,0},{165,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_105_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,96}</string>
				<key>spriteSourceSize</key>
				<string>{179,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{179,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_105-uhd.png</string>
			<key>size</key>
			<string>{260,339}</string>
			<key>textureFileName</key>
			<string>icons/bird_105-uhd.png</string>
		</dict>
	</dict>
</plist>