<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_99_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{152,93}</string>
                <key>spriteSourceSize</key>
                <string>{152,93}</string>
                <key>textureRect</key>
                <string>{{0,1},{152,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{152,93}</string>
                <key>spriteSourceSize</key>
                <string>{152,93}</string>
                <key>textureRect</key>
                <string>{{0,101},{152,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{122,77}</string>
                <key>spriteSourceSize</key>
                <string>{122,77}</string>
                <key>textureRect</key>
                <string>{{21,408},{122,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{152,93}</string>
                <key>spriteSourceSize</key>
                <string>{152,93}</string>
                <key>textureRect</key>
                <string>{{0,201},{152,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_99_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{160,101}</string>
                <key>spriteSourceSize</key>
                <string>{160,101}</string>
                <key>textureRect</key>
                <string>{{3,299},{160,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_99-uhd.png</string>
            <key>size</key>
            <string>{234,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfc0542f9fd206720dff49cabe796ef:b3b0286ff94fddd2e6c0979c1ef4d018:5b3aeef92af226801eff6e5aba28da4a$</string>
            <key>textureFileName</key>
            <string>icons/bird_99-uhd.png</string>
        </dict>
    </dict>
</plist>
