<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_73_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{169,80}</string>
				<key>spriteSourceSize</key>
				<string>{169,80}</string>
				<key>textureRect</key>
				<string>{{0,89},{169,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_73_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{163,72}</string>
				<key>spriteSourceSize</key>
				<string>{163,72}</string>
				<key>textureRect</key>
				<string>{{0,170},{163,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_73_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,52}</string>
				<key>spriteSize</key>
				<string>{121,95}</string>
				<key>spriteSourceSize</key>
				<string>{121,95}</string>
				<key>textureRect</key>
				<string>{{237,0},{121,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_73_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{160,58}</string>
				<key>spriteSourceSize</key>
				<string>{160,58}</string>
				<key>textureRect</key>
				<string>{{178,0},{160,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_73_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{177,88}</string>
				<key>spriteSourceSize</key>
				<string>{177,88}</string>
				<key>textureRect</key>
				<string>{{0,0},{177,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_73-uhd.png</string>
			<key>size</key>
			<string>{332,242}</string>
			<key>textureFileName</key>
			<string>icons/bird_73-uhd.png</string>
		</dict>
	</dict>
</plist>