<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_53_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{167,77}</string>
				<key>spriteSourceSize</key>
				<string>{167,77}</string>
				<key>textureRect</key>
				<string>{{0,86},{167,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_53_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{155,66}</string>
				<key>spriteSourceSize</key>
				<string>{155,66}</string>
				<key>textureRect</key>
				<string>{{0,164},{155,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_53_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,65}</string>
				<key>spriteSize</key>
				<string>{120,75}</string>
				<key>spriteSourceSize</key>
				<string>{120,75}</string>
				<key>textureRect</key>
				<string>{{0,231},{120,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_53_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{153,58}</string>
				<key>spriteSourceSize</key>
				<string>{153,58}</string>
				<key>textureRect</key>
				<string>{{176,0},{153,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_53_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{175,85}</string>
				<key>spriteSourceSize</key>
				<string>{175,85}</string>
				<key>textureRect</key>
				<string>{{0,0},{175,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_53-uhd.png</string>
			<key>size</key>
			<string>{234,306}</string>
			<key>textureFileName</key>
			<string>icons/bird_53-uhd.png</string>
		</dict>
	</dict>
</plist>