<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_135_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{132,80}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,86},{132,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_135_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{114,67}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,167},{114,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_135_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,58}</string>
				<key>spriteSize</key>
				<string>{116,73}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{137,0},{116,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_135_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{86,52}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{115,167},{86,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_135_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5.5}</string>
				<key>spriteSize</key>
				<string>{136,85}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,0},{136,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_135-uhd.png</string>
			<key>size</key>
			<string>{210,234}</string>
			<key>textureFileName</key>
			<string>icons/bird_135-uhd.png</string>
		</dict>
	</dict>
</plist>