<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_32_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{142,90}</string>
				<key>spriteSourceSize</key>
				<string>{144,92}</string>
				<key>textureRect</key>
				<string>{{0,99},{142,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_32_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{126,78}</string>
				<key>spriteSourceSize</key>
				<string>{144,92}</string>
				<key>textureRect</key>
				<string>{{0,190},{126,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_32_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{110,78}</string>
				<key>spriteSourceSize</key>
				<string>{110,80}</string>
				<key>textureRect</key>
				<string>{{143,139},{110,78}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_32_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{138,72}</string>
				<key>spriteSourceSize</key>
				<string>{144,92}</string>
				<key>textureRect</key>
				<string>{{151,0},{138,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_32_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{150,98}</string>
				<key>spriteSourceSize</key>
				<string>{152,100}</string>
				<key>textureRect</key>
				<string>{{0,0},{150,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_32-uhd.png</string>
			<key>size</key>
			<string>{223,268}</string>
			<key>textureFileName</key>
			<string>icons/bird_32-uhd.png</string>
		</dict>
	</dict>
</plist>