<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_87_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{161,92}</string>
				<key>spriteSourceSize</key>
				<string>{161,92}</string>
				<key>textureRect</key>
				<string>{{0,101},{161,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_87_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,16}</string>
				<key>spriteSize</key>
				<string>{157,90}</string>
				<key>spriteSourceSize</key>
				<string>{157,90}</string>
				<key>textureRect</key>
				<string>{{170,0},{157,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_87_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,37}</string>
				<key>spriteSize</key>
				<string>{123,123}</string>
				<key>spriteSourceSize</key>
				<string>{123,123}</string>
				<key>textureRect</key>
				<string>{{0,194},{123,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_87_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{134,84}</string>
				<key>spriteSourceSize</key>
				<string>{134,84}</string>
				<key>textureRect</key>
				<string>{{162,101},{134,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_87_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{169,100}</string>
				<key>spriteSourceSize</key>
				<string>{169,100}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_87-uhd.png</string>
			<key>size</key>
			<string>{327,317}</string>
			<key>textureFileName</key>
			<string>icons/bird_87-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>