<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_102_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{141,78}</string>
				<key>spriteSourceSize</key>
				<string>{151,86}</string>
				<key>textureRect</key>
				<string>{{0,87},{141,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_102_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{103,50}</string>
				<key>spriteSourceSize</key>
				<string>{151,86}</string>
				<key>textureRect</key>
				<string>{{0,166},{103,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_102_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,47}</string>
				<key>spriteSize</key>
				<string>{122,102}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{152,0},{122,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_102_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3.5}</string>
				<key>spriteSize</key>
				<string>{95,49}</string>
				<key>spriteSourceSize</key>
				<string>{151,86}</string>
				<key>textureRect</key>
				<string>{{104,166},{95,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_102_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{151,86}</string>
				<key>spriteSourceSize</key>
				<string>{151,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{151,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_102-uhd.png</string>
			<key>size</key>
			<string>{254,216}</string>
			<key>textureFileName</key>
			<string>icons/bird_102-uhd.png</string>
		</dict>
	</dict>
</plist>