<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{82,47}</string>
			<key>spriteSourceSize</key>
			<string>{86,74}</string>
			<key>textureRect</key>
			<string>{{55,2},{82,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_29_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.75}</string>
			<key>spriteSize</key>
			<string>{79,36}</string>
			<key>spriteSourceSize</key>
			<string>{86,74}</string>
			<key>textureRect</key>
			<string>{{55,86},{79,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_29_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24.75}</string>
			<key>spriteSize</key>
			<string>{61,50}</string>
			<key>spriteSourceSize</key>
			<string>{86,74}</string>
			<key>textureRect</key>
			<string>{{136,2},{61,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_29_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.25}</string>
			<key>spriteSize</key>
			<string>{70,30}</string>
			<key>spriteSourceSize</key>
			<string>{86,74}</string>
			<key>textureRect</key>
			<string>{{104,2},{70,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_29_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{86,51}</string>
			<key>spriteSourceSize</key>
			<string>{86,74}</string>
			<key>textureRect</key>
			<string>{{2,2},{86,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_29-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_29-hd.png</string>
	</dict>
</dict>
</plist>
