<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_116_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{68,39}</string>
			<key>spriteSourceSize</key>
			<string>{71,68}</string>
			<key>textureRect</key>
			<string>{{46,2},{68,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_116_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,29}</string>
			<key>spriteSourceSize</key>
			<string>{71,68}</string>
			<key>textureRect</key>
			<string>{{46,43},{63,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_116_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27.5}</string>
			<key>spriteSize</key>
			<string>{60,43}</string>
			<key>spriteSourceSize</key>
			<string>{71,68}</string>
			<key>textureRect</key>
			<string>{{67,74},{60,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_116_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{63,35}</string>
			<key>spriteSourceSize</key>
			<string>{71,68}</string>
			<key>textureRect</key>
			<string>{{2,75},{63,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_116_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{71,42}</string>
			<key>spriteSourceSize</key>
			<string>{71,68}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_116-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_116-hd.png</string>
	</dict>
</dict>
</plist>
