<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_123_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{173,78}</string>
				<key>spriteSourceSize</key>
				<string>{173,78}</string>
				<key>textureRect</key>
				<string>{{0,87},{173,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_123_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{169,74}</string>
				<key>spriteSourceSize</key>
				<string>{169,74}</string>
				<key>textureRect</key>
				<string>{{182,0},{169,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_123_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{122,76}</string>
				<key>spriteSourceSize</key>
				<string>{122,76}</string>
				<key>textureRect</key>
				<string>{{182,75},{122,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_123_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{173,70}</string>
				<key>spriteSourceSize</key>
				<string>{173,70}</string>
				<key>textureRect</key>
				<string>{{0,166},{173,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_123_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{181,86}</string>
				<key>spriteSourceSize</key>
				<string>{181,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{181,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_123-uhd.png</string>
			<key>size</key>
			<string>{351,236}</string>
			<key>textureFileName</key>
			<string>icons/bird_123-uhd.png</string>
		</dict>
	</dict>
</plist>