<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_97_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{84,47}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{55,2},{84,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_97_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{81,44}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{104,2},{81,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_97_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24.75}</string>
			<key>spriteSize</key>
			<string>{61,50}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{150,2},{61,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16.5}</string>
			<key>spriteSize</key>
			<string>{65,17}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{2,92},{65,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{88,51}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{2,2},{88,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_97-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_97-hd.png</string>
	</dict>
</dict>
</plist>
