<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_144_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,85}</string>
				<key>spriteSourceSize</key>
				<string>{174,93}</string>
				<key>textureRect</key>
				<string>{{0,94},{166,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_144_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{158,80}</string>
				<key>spriteSourceSize</key>
				<string>{174,93}</string>
				<key>textureRect</key>
				<string>{{175,0},{158,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_144_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,47}</string>
				<key>spriteSize</key>
				<string>{122,102}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{256,0},{122,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_144_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{156,75}</string>
				<key>spriteSourceSize</key>
				<string>{174,93}</string>
				<key>textureRect</key>
				<string>{{0,180},{156,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_144_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{174,93}</string>
				<key>spriteSourceSize</key>
				<string>{174,93}</string>
				<key>textureRect</key>
				<string>{{0,0},{174,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_144-uhd.png</string>
			<key>size</key>
			<string>{358,255}</string>
			<key>textureFileName</key>
			<string>icons/bird_144-uhd.png</string>
		</dict>
	</dict>
</plist>