<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_52_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{164,67}</string>
				<key>spriteSourceSize</key>
				<string>{172,75}</string>
				<key>textureRect</key>
				<string>{{0,76},{164,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_52_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{158,55}</string>
				<key>spriteSourceSize</key>
				<string>{172,75}</string>
				<key>textureRect</key>
				<string>{{0,144},{158,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_52_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,200},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_52_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{134,34}</string>
				<key>spriteSourceSize</key>
				<string>{172,75}</string>
				<key>textureRect</key>
				<string>{{173,0},{134,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_52_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{172,75}</string>
				<key>spriteSourceSize</key>
				<string>{172,75}</string>
				<key>textureRect</key>
				<string>{{0,0},{172,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_52-uhd.png</string>
			<key>size</key>
			<string>{207,277}</string>
			<key>textureFileName</key>
			<string>icons/bird_52-uhd.png</string>
		</dict>
	</dict>
</plist>