<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_47_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6.5}</string>
				<key>spriteSize</key>
				<string>{144,81}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,90},{144,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_47_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6.5}</string>
				<key>spriteSize</key>
				<string>{134,73}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{151,0},{134,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_47_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,48.5}</string>
				<key>spriteSize</key>
				<string>{100,99}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{225,0},{100,99}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_47_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{134,64}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,172},{134,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_47_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6.5}</string>
				<key>spriteSize</key>
				<string>{150,89}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,0},{150,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_47-uhd.png</string>
			<key>size</key>
			<string>{324,236}</string>
			<key>textureFileName</key>
			<string>icons/bird_47-uhd.png</string>
		</dict>
	</dict>
</plist>