<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_12_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{140,76}</string>
				<key>spriteSourceSize</key>
				<string>{140,76}</string>
				<key>textureRect</key>
				<string>{{0,86},{140,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_12_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{136,72}</string>
				<key>spriteSourceSize</key>
				<string>{136,72}</string>
				<key>textureRect</key>
				<string>{{150,0},{136,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_12_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{122,77}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{0,164},{122,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_12_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{64,40}</string>
				<key>spriteSourceSize</key>
				<string>{64,40}</string>
				<key>textureRect</key>
				<string>{{124,164},{64,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_12_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{148,84}</string>
				<key>spriteSourceSize</key>
				<string>{148,84}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_12-uhd.png</string>
			<key>size</key>
			<string>{222,241}</string>
			<key>textureFileName</key>
			<string>icons/bird_12-uhd.png</string>
		</dict>
	</dict>
</plist>