<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_28_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{151,79}</string>
				<key>spriteSourceSize</key>
				<string>{151,79}</string>
				<key>textureRect</key>
				<string>{{0,88},{151,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_28_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{144,68}</string>
				<key>spriteSourceSize</key>
				<string>{144,68}</string>
				<key>textureRect</key>
				<string>{{159,0},{144,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_28_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{121,75}</string>
				<key>spriteSourceSize</key>
				<string>{121,75}</string>
				<key>textureRect</key>
				<string>{{228,0},{121,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_28_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{137,66}</string>
				<key>spriteSourceSize</key>
				<string>{137,66}</string>
				<key>textureRect</key>
				<string>{{0,168},{137,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_28_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{158,87}</string>
				<key>spriteSourceSize</key>
				<string>{158,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{158,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_28-uhd.png</string>
			<key>size</key>
			<string>{303,234}</string>
			<key>textureFileName</key>
			<string>icons/bird_28-uhd.png</string>
		</dict>
	</dict>
</plist>