<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_110_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,3.5}</string>
			<key>spriteSize</key>
			<string>{73,36}</string>
			<key>spriteSourceSize</key>
			<string>{75,66}</string>
			<key>textureRect</key>
			<string>{{42,2},{73,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_110_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,3}</string>
			<key>spriteSize</key>
			<string>{61,30}</string>
			<key>spriteSourceSize</key>
			<string>{75,66}</string>
			<key>textureRect</key>
			<string>{{2,79},{61,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_110_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,28}</string>
			<key>spriteSize</key>
			<string>{56,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,66}</string>
			<key>textureRect</key>
			<string>{{65,40},{56,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_110_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,4}</string>
			<key>spriteSize</key>
			<string>{38,10}</string>
			<key>spriteSourceSize</key>
			<string>{75,66}</string>
			<key>textureRect</key>
			<string>{{65,86},{38,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_110_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,3.25}</string>
			<key>spriteSize</key>
			<string>{75,38}</string>
			<key>spriteSourceSize</key>
			<string>{75,66}</string>
			<key>textureRect</key>
			<string>{{2,2},{75,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_110-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_110-hd.png</string>
	</dict>
</dict>
</plist>
