<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_141_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{80,46}</string>
			<key>spriteSourceSize</key>
			<string>{84,70}</string>
			<key>textureRect</key>
			<string>{{102,2},{80,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_141_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{80,46}</string>
			<key>spriteSourceSize</key>
			<string>{84,70}</string>
			<key>textureRect</key>
			<string>{{150,2},{80,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_141_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,29.5}</string>
			<key>spriteSize</key>
			<string>{61,39}</string>
			<key>spriteSourceSize</key>
			<string>{84,70}</string>
			<key>textureRect</key>
			<string>{{102,84},{61,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_141_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{80,46}</string>
			<key>spriteSourceSize</key>
			<string>{84,70}</string>
			<key>textureRect</key>
			<string>{{54,2},{80,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_141_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{84,50}</string>
			<key>spriteSourceSize</key>
			<string>{84,70}</string>
			<key>textureRect</key>
			<string>{{2,2},{84,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_141-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_141-hd.png</string>
	</dict>
</dict>
</plist>
