<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_94_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13.5}</string>
			<key>spriteSize</key>
			<string>{88,60}</string>
			<key>spriteSourceSize</key>
			<string>{92,68}</string>
			<key>textureRect</key>
			<string>{{68,2},{88,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_94_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16.5}</string>
			<key>spriteSize</key>
			<string>{84,51}</string>
			<key>spriteSourceSize</key>
			<string>{92,68}</string>
			<key>textureRect</key>
			<string>{{130,2},{84,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_94_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,24.5}</string>
			<key>spriteSize</key>
			<string>{60,49}</string>
			<key>spriteSourceSize</key>
			<string>{92,68}</string>
			<key>textureRect</key>
			<string>{{183,87},{60,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_94_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{83,43}</string>
			<key>spriteSourceSize</key>
			<string>{92,68}</string>
			<key>textureRect</key>
			<string>{{183,2},{83,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_94_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13.5}</string>
			<key>spriteSize</key>
			<string>{92,64}</string>
			<key>spriteSourceSize</key>
			<string>{92,68}</string>
			<key>textureRect</key>
			<string>{{2,2},{92,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_94-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_94-hd.png</string>
	</dict>
</dict>
</plist>
