<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_06_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10.5}</string>
				<key>spriteSize</key>
				<string>{152,83}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,113},{152,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_06_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,24.5}</string>
				<key>spriteSize</key>
				<string>{138,101}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{159,0},{138,101}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_06_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,50}</string>
				<key>spriteSize</key>
				<string>{104,97}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{153,139},{104,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_06_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10.5}</string>
				<key>spriteSize</key>
				<string>{138,73}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,197},{138,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_06_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22}</string>
				<key>spriteSize</key>
				<string>{158,112}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,0},{158,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_06-uhd.png</string>
			<key>size</key>
			<string>{260,270}</string>
			<key>textureFileName</key>
			<string>icons/bird_06-uhd.png</string>
		</dict>
	</dict>
</plist>