<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_65_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{163,71}</string>
				<key>spriteSourceSize</key>
				<string>{173,81}</string>
				<key>textureRect</key>
				<string>{{0,82},{163,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_65_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{135,61}</string>
				<key>spriteSourceSize</key>
				<string>{173,81}</string>
				<key>textureRect</key>
				<string>{{174,0},{135,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_65_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,47}</string>
				<key>spriteSize</key>
				<string>{122,102}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{0,199},{122,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_65_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,12.5}</string>
				<key>spriteSize</key>
				<string>{136,44}</string>
				<key>spriteSourceSize</key>
				<string>{173,81}</string>
				<key>textureRect</key>
				<string>{{0,154},{136,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_65_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{173,81}</string>
				<key>spriteSourceSize</key>
				<string>{173,81}</string>
				<key>textureRect</key>
				<string>{{0,0},{173,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_65-uhd.png</string>
			<key>size</key>
			<string>{235,301}</string>
			<key>textureFileName</key>
			<string>icons/bird_65-uhd.png</string>
		</dict>
	</dict>
</plist>