<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_13_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{140,68}</string>
				<key>spriteSourceSize</key>
				<string>{148,76}</string>
				<key>textureRect</key>
				<string>{{0,77},{140,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_13_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{134,25}</string>
				<key>spriteSourceSize</key>
				<string>{148,76}</string>
				<key>textureRect</key>
				<string>{{0,146},{134,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_13_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,52.5}</string>
				<key>spriteSize</key>
				<string>{122,94}</string>
				<key>spriteSourceSize</key>
				<string>{122,94}</string>
				<key>textureRect</key>
				<string>{{149,0},{122,94}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_13_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{10,10}</string>
				<key>spriteSourceSize</key>
				<string>{148,76}</string>
				<key>textureRect</key>
				<string>{{135,146},{10,10}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_13_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{148,76}</string>
				<key>spriteSourceSize</key>
				<string>{148,76}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_13-uhd.png</string>
			<key>size</key>
			<string>{243,171}</string>
			<key>textureFileName</key>
			<string>icons/bird_13-uhd.png</string>
		</dict>
	</dict>
</plist>