<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_109_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{145,66}</string>
				<key>spriteSourceSize</key>
				<string>{145,66}</string>
				<key>textureRect</key>
				<string>{{0,75},{145,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_109_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{141,62}</string>
				<key>spriteSourceSize</key>
				<string>{141,62}</string>
				<key>textureRect</key>
				<string>{{0,142},{141,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_109_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,57}</string>
				<key>spriteSize</key>
				<string>{120,82}</string>
				<key>spriteSourceSize</key>
				<string>{120,82}</string>
				<key>textureRect</key>
				<string>{{185,0},{120,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_109_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,11}</string>
				<key>spriteSize</key>
				<string>{130,30}</string>
				<key>spriteSourceSize</key>
				<string>{130,30}</string>
				<key>textureRect</key>
				<string>{{154,0},{130,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_109_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{153,74}</string>
				<key>spriteSourceSize</key>
				<string>{153,74}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_109-uhd.png</string>
			<key>size</key>
			<string>{267,204}</string>
			<key>textureFileName</key>
			<string>icons/bird_109-uhd.png</string>
		</dict>
	</dict>
</plist>