<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_71_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{176,75}</string>
				<key>spriteSourceSize</key>
				<string>{184,116}</string>
				<key>textureRect</key>
				<string>{{0,117},{176,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_71_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,16}</string>
				<key>spriteSize</key>
				<string>{152,100}</string>
				<key>spriteSourceSize</key>
				<string>{152,132}</string>
				<key>textureRect</key>
				<string>{{185,0},{152,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_71_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,49.5}</string>
				<key>spriteSize</key>
				<string>{122,100}</string>
				<key>spriteSourceSize</key>
				<string>{122,199}</string>
				<key>textureRect</key>
				<string>{{0,267},{122,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_71_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,24.5}</string>
				<key>spriteSize</key>
				<string>{144,73}</string>
				<key>spriteSourceSize</key>
				<string>{144,122}</string>
				<key>textureRect</key>
				<string>{{0,193},{144,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_71_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,12}</string>
				<key>spriteSize</key>
				<string>{184,116}</string>
				<key>spriteSourceSize</key>
				<string>{184,140}</string>
				<key>textureRect</key>
				<string>{{0,0},{184,116}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_71-uhd.png</string>
			<key>size</key>
			<string>{285,367}</string>
			<key>textureFileName</key>
			<string>icons/bird_71-uhd.png</string>
		</dict>
	</dict>
</plist>