<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_46_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{164,77}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,83},{164,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_46_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{98,56}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{165,107},{98,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_46_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,64}</string>
				<key>spriteSize</key>
				<string>{106,69}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{171,0},{106,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_46_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13}</string>
				<key>spriteSize</key>
				<string>{154,53}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,161},{154,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_46_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{170,82}</string>
				<key>spriteSourceSize</key>
				<string>{205,164}</string>
				<key>textureRect</key>
				<string>{{0,0},{170,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_46-uhd.png</string>
			<key>size</key>
			<string>{240,214}</string>
			<key>textureFileName</key>
			<string>icons/bird_46-uhd.png</string>
		</dict>
	</dict>
</plist>