<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_55_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,64}</string>
				<key>spriteSourceSize</key>
				<string>{161,64}</string>
				<key>textureRect</key>
				<string>{{0,73},{161,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_55_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{153,57}</string>
				<key>spriteSourceSize</key>
				<string>{153,57}</string>
				<key>textureRect</key>
				<string>{{0,138},{153,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_55_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{122,76}</string>
				<key>spriteSourceSize</key>
				<string>{122,76}</string>
				<key>textureRect</key>
				<string>{{0,196},{122,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_55_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,55}</string>
				<key>spriteSourceSize</key>
				<string>{150,55}</string>
				<key>textureRect</key>
				<string>{{170,0},{150,55}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_55_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{169,72}</string>
				<key>spriteSourceSize</key>
				<string>{169,72}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_55-uhd.png</string>
			<key>size</key>
			<string>{225,272}</string>
			<key>textureFileName</key>
			<string>icons/bird_55-uhd.png</string>
		</dict>
	</dict>
</plist>