<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_58_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{157,76}</string>
				<key>spriteSourceSize</key>
				<string>{157,76}</string>
				<key>textureRect</key>
				<string>{{0,85},{157,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_58_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,68}</string>
				<key>spriteSourceSize</key>
				<string>{150,68}</string>
				<key>textureRect</key>
				<string>{{0,162},{150,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_58_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{121,75}</string>
				<key>spriteSourceSize</key>
				<string>{121,75}</string>
				<key>textureRect</key>
				<string>{{0,231},{121,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_58_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{148,66}</string>
				<key>spriteSourceSize</key>
				<string>{148,66}</string>
				<key>textureRect</key>
				<string>{{166,0},{148,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_58_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,84}</string>
				<key>spriteSourceSize</key>
				<string>{165,84}</string>
				<key>textureRect</key>
				<string>{{0,0},{165,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_58-uhd.png</string>
			<key>size</key>
			<string>{232,306}</string>
			<key>textureFileName</key>
			<string>icons/bird_58-uhd.png</string>
		</dict>
	</dict>
</plist>