<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_119_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{84,34}</string>
			<key>spriteSourceSize</key>
			<string>{87,66}</string>
			<key>textureRect</key>
			<string>{{41,2},{84,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_119_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,32}</string>
			<key>spriteSourceSize</key>
			<string>{87,66}</string>
			<key>textureRect</key>
			<string>{{2,91},{82,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_119_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{60,44}</string>
			<key>spriteSourceSize</key>
			<string>{87,66}</string>
			<key>textureRect</key>
			<string>{{86,70},{60,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_119_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,10.5}</string>
			<key>spriteSize</key>
			<string>{66,11}</string>
			<key>spriteSourceSize</key>
			<string>{87,66}</string>
			<key>textureRect</key>
			<string>{{77,2},{66,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_119_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{87,37}</string>
			<key>spriteSourceSize</key>
			<string>{87,66}</string>
			<key>textureRect</key>
			<string>{{2,2},{87,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_119-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_119-hd.png</string>
	</dict>
</dict>
</plist>
