<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_127_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{93,100}</string>
				<key>spriteSourceSize</key>
				<string>{93,100}</string>
				<key>textureRect</key>
				<string>{{231,0},{93,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_127_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{153,92}</string>
				<key>spriteSourceSize</key>
				<string>{153,92}</string>
				<key>textureRect</key>
				<string>{{0,109},{153,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_127_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{122,76}</string>
				<key>spriteSourceSize</key>
				<string>{122,76}</string>
				<key>textureRect</key>
				<string>{{154,145},{122,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_127_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,15}</string>
				<key>spriteSize</key>
				<string>{144,68}</string>
				<key>spriteSourceSize</key>
				<string>{145,68}</string>
				<key>textureRect</key>
				<string>{{162,0},{144,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_127_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{161,108}</string>
				<key>spriteSourceSize</key>
				<string>{161,108}</string>
				<key>textureRect</key>
				<string>{{0,0},{161,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_127-uhd.png</string>
			<key>size</key>
			<string>{324,278}</string>
			<key>textureFileName</key>
			<string>icons/bird_127-uhd.png</string>
		</dict>
	</dict>
</plist>