<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_74_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13}</string>
				<key>spriteSize</key>
				<string>{159,87}</string>
				<key>spriteSourceSize</key>
				<string>{159,87}</string>
				<key>textureRect</key>
				<string>{{0,75},{159,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{153,60}</string>
				<key>spriteSourceSize</key>
				<string>{153,60}</string>
				<key>textureRect</key>
				<string>{{0,163},{153,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_74_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,58}</string>
				<key>spriteSize</key>
				<string>{120,89}</string>
				<key>spriteSourceSize</key>
				<string>{120,89}</string>
				<key>textureRect</key>
				<string>{{220,0},{120,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_74_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,4.5}</string>
				<key>spriteSize</key>
				<string>{136,51}</string>
				<key>spriteSourceSize</key>
				<string>{136,51}</string>
				<key>textureRect</key>
				<string>{{168,0},{136,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_74_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{167,74}</string>
				<key>spriteSourceSize</key>
				<string>{167,74}</string>
				<key>textureRect</key>
				<string>{{0,0},{167,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_74-uhd.png</string>
			<key>size</key>
			<string>{309,223}</string>
			<key>textureFileName</key>
			<string>icons/bird_74-uhd.png</string>
		</dict>
	</dict>
</plist>