<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_133_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,16}</string>
				<key>spriteSize</key>
				<string>{154,94}</string>
				<key>spriteSourceSize</key>
				<string>{162,102}</string>
				<key>textureRect</key>
				<string>{{0,103},{154,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_133_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,25.5}</string>
				<key>spriteSize</key>
				<string>{150,73}</string>
				<key>spriteSourceSize</key>
				<string>{162,102}</string>
				<key>textureRect</key>
				<string>{{163,0},{150,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_133_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,198},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_133_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,20}</string>
				<key>spriteSize</key>
				<string>{122,56}</string>
				<key>spriteSourceSize</key>
				<string>{162,102}</string>
				<key>textureRect</key>
				<string>{{155,151},{122,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_133_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,16}</string>
				<key>spriteSize</key>
				<string>{162,102}</string>
				<key>spriteSourceSize</key>
				<string>{162,102}</string>
				<key>textureRect</key>
				<string>{{0,0},{162,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_133-uhd.png</string>
			<key>size</key>
			<string>{236,275}</string>
			<key>textureFileName</key>
			<string>icons/bird_133-uhd.png</string>
		</dict>
	</dict>
</plist>