<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_137_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,11.5}</string>
			<key>spriteSize</key>
			<string>{78,55}</string>
			<key>spriteSourceSize</key>
			<string>{82,66}</string>
			<key>textureRect</key>
			<string>{{62,2},{78,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_137_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,11.5}</string>
			<key>spriteSize</key>
			<string>{76,53}</string>
			<key>spriteSourceSize</key>
			<string>{82,66}</string>
			<key>textureRect</key>
			<string>{{119,2},{76,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_137_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27.5}</string>
			<key>spriteSize</key>
			<string>{60,43}</string>
			<key>spriteSourceSize</key>
			<string>{82,66}</string>
			<key>textureRect</key>
			<string>{{119,80},{60,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_137_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,22.25}</string>
			<key>spriteSize</key>
			<string>{73,30}</string>
			<key>spriteSourceSize</key>
			<string>{82,66}</string>
			<key>textureRect</key>
			<string>{{174,2},{73,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_137_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,11.5}</string>
			<key>spriteSize</key>
			<string>{82,58}</string>
			<key>spriteSourceSize</key>
			<string>{82,66}</string>
			<key>textureRect</key>
			<string>{{2,2},{82,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_137-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_137-hd.png</string>
	</dict>
</dict>
</plist>
