<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_78_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11.5}</string>
				<key>spriteSize</key>
				<string>{178,91}</string>
				<key>spriteSourceSize</key>
				<string>{186,100}</string>
				<key>textureRect</key>
				<string>{{0,100},{178,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_78_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11.5}</string>
				<key>spriteSize</key>
				<string>{172,85}</string>
				<key>spriteSourceSize</key>
				<string>{186,100}</string>
				<key>textureRect</key>
				<string>{{187,0},{172,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_78_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,272},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_78_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14.5}</string>
				<key>spriteSize</key>
				<string>{172,79}</string>
				<key>spriteSourceSize</key>
				<string>{186,100}</string>
				<key>textureRect</key>
				<string>{{0,192},{172,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_78_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11.5}</string>
				<key>spriteSize</key>
				<string>{186,99}</string>
				<key>spriteSourceSize</key>
				<string>{186,100}</string>
				<key>textureRect</key>
				<string>{{0,0},{186,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_78-uhd.png</string>
			<key>size</key>
			<string>{272,349}</string>
			<key>textureFileName</key>
			<string>icons/bird_78-uhd.png</string>
		</dict>
	</dict>
</plist>