<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_86_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{176,84}</string>
				<key>spriteSourceSize</key>
				<string>{176,84}</string>
				<key>textureRect</key>
				<string>{{0,93},{176,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_86_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{125,57}</string>
				<key>spriteSourceSize</key>
				<string>{125,57}</string>
				<key>textureRect</key>
				<string>{{185,0},{125,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_86_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{121,75}</string>
				<key>spriteSourceSize</key>
				<string>{121,75}</string>
				<key>textureRect</key>
				<string>{{243,0},{121,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_86_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{164,73}</string>
				<key>spriteSourceSize</key>
				<string>{164,73}</string>
				<key>textureRect</key>
				<string>{{0,178},{164,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_86_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{184,92}</string>
				<key>spriteSourceSize</key>
				<string>{184,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{184,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_86-uhd.png</string>
			<key>size</key>
			<string>{318,251}</string>
			<key>textureFileName</key>
			<string>icons/bird_86-uhd.png</string>
		</dict>
	</dict>
</plist>