<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_69_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,9}</string>
				<key>spriteSize</key>
				<string>{172,82}</string>
				<key>spriteSourceSize</key>
				<string>{181,92}</string>
				<key>textureRect</key>
				<string>{{0,93},{172,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_69_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,17.5}</string>
				<key>spriteSize</key>
				<string>{161,59}</string>
				<key>spriteSourceSize</key>
				<string>{181,92}</string>
				<key>textureRect</key>
				<string>{{182,0},{161,59}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_69_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,47}</string>
				<key>spriteSize</key>
				<string>{122,102}</string>
				<key>spriteSourceSize</key>
				<string>{122,196}</string>
				<key>textureRect</key>
				<string>{{0,213},{122,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_69_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,12}</string>
				<key>spriteSize</key>
				<string>{163,36}</string>
				<key>spriteSourceSize</key>
				<string>{181,92}</string>
				<key>textureRect</key>
				<string>{{0,176},{163,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_69_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{181,92}</string>
				<key>spriteSourceSize</key>
				<string>{181,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{181,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_69-uhd.png</string>
			<key>size</key>
			<string>{241,315}</string>
			<key>textureFileName</key>
			<string>icons/bird_69-uhd.png</string>
		</dict>
	</dict>
</plist>