<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_11_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{166,81}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,89},{166,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_11_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{138,59}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{175,0},{138,59}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_11_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,50.5}</string>
				<key>spriteSize</key>
				<string>{130,95}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,231},{130,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_11_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{156,59}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,171},{156,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_11_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{174,88}</string>
				<key>spriteSourceSize</key>
				<string>{258,232}</string>
				<key>textureRect</key>
				<string>{{0,0},{174,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_11-uhd.png</string>
			<key>size</key>
			<string>{234,326}</string>
			<key>textureFileName</key>
			<string>icons/bird_11-uhd.png</string>
		</dict>
	</dict>
</plist>