<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_42_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{148,69}</string>
				<key>spriteSourceSize</key>
				<string>{168,80}</string>
				<key>textureRect</key>
				<string>{{0,78},{148,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_42_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{140,49}</string>
				<key>spriteSourceSize</key>
				<string>{168,80}</string>
				<key>textureRect</key>
				<string>{{157,0},{140,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_42_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,194},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_42_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13.5}</string>
				<key>spriteSize</key>
				<string>{144,45}</string>
				<key>spriteSourceSize</key>
				<string>{168,80}</string>
				<key>textureRect</key>
				<string>{{0,148},{144,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_42_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{156,77}</string>
				<key>spriteSourceSize</key>
				<string>{168,80}</string>
				<key>textureRect</key>
				<string>{{0,0},{156,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_42-uhd.png</string>
			<key>size</key>
			<string>{206,271}</string>
			<key>textureFileName</key>
			<string>icons/bird_42-uhd.png</string>
		</dict>
	</dict>
</plist>