<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{153,70}</string>
				<key>spriteSourceSize</key>
				<string>{153,70}</string>
				<key>textureRect</key>
				<string>{{0,79},{153,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{139,53}</string>
				<key>spriteSourceSize</key>
				<string>{139,53}</string>
				<key>textureRect</key>
				<string>{{0,150},{139,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_02_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{122,76}</string>
				<key>spriteSourceSize</key>
				<string>{122,76}</string>
				<key>textureRect</key>
				<string>{{163,0},{122,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{162,78}</string>
				<key>spriteSourceSize</key>
				<string>{162,78}</string>
				<key>textureRect</key>
				<string>{{0,0},{162,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_02-uhd.png</string>
			<key>size</key>
			<string>{239,203}</string>
			<key>textureFileName</key>
			<string>icons/bird_02-uhd.png</string>
		</dict>
	</dict>
</plist>