<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_148_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{147,73}</string>
				<key>spriteSourceSize</key>
				<string>{237,237}</string>
				<key>textureRect</key>
				<string>{{0,82},{147,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_148_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{59,57}</string>
				<key>spriteSourceSize</key>
				<string>{237,237}</string>
				<key>textureRect</key>
				<string>{{148,140},{59,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_148_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,50}</string>
				<key>spriteSize</key>
				<string>{120,99}</string>
				<key>spriteSourceSize</key>
				<string>{237,237}</string>
				<key>textureRect</key>
				<string>{{0,156},{120,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_148_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{139,64}</string>
				<key>spriteSourceSize</key>
				<string>{237,237}</string>
				<key>textureRect</key>
				<string>{{156,0},{139,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_148_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{155,81}</string>
				<key>spriteSourceSize</key>
				<string>{237,237}</string>
				<key>textureRect</key>
				<string>{{0,0},{155,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_148-uhd.png</string>
			<key>size</key>
			<string>{220,255}</string>
			<key>textureFileName</key>
			<string>icons/bird_148-uhd.png</string>
		</dict>
	</dict>
</plist>