<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_89_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13}</string>
				<key>spriteSize</key>
				<string>{148,99}</string>
				<key>spriteSourceSize</key>
				<string>{148,99}</string>
				<key>textureRect</key>
				<string>{{0,106},{148,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_89_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,14}</string>
				<key>spriteSize</key>
				<string>{144,93}</string>
				<key>spriteSourceSize</key>
				<string>{144,93}</string>
				<key>textureRect</key>
				<string>{{155,0},{144,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_89_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,60}</string>
				<key>spriteSize</key>
				<string>{120,95}</string>
				<key>spriteSourceSize</key>
				<string>{120,95}</string>
				<key>textureRect</key>
				<string>{{0,206},{120,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_89_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,27.5}</string>
				<key>spriteSize</key>
				<string>{78,12}</string>
				<key>spriteSourceSize</key>
				<string>{78,12}</string>
				<key>textureRect</key>
				<string>{{121,206},{78,12}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_89_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13}</string>
				<key>spriteSize</key>
				<string>{154,105}</string>
				<key>spriteSourceSize</key>
				<string>{154,105}</string>
				<key>textureRect</key>
				<string>{{0,0},{154,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_89-uhd.png</string>
			<key>size</key>
			<string>{248,301}</string>
			<key>textureFileName</key>
			<string>icons/bird_89-uhd.png</string>
		</dict>
	</dict>
</plist>