<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_26_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{158,80}</string>
				<key>spriteSourceSize</key>
				<string>{166,88}</string>
				<key>textureRect</key>
				<string>{{0,89},{158,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_26_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{136,67}</string>
				<key>spriteSourceSize</key>
				<string>{166,88}</string>
				<key>textureRect</key>
				<string>{{167,0},{136,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_26_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,59.5}</string>
				<key>spriteSize</key>
				<string>{123,77}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,234},{123,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_26_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{130,63}</string>
				<key>spriteSourceSize</key>
				<string>{166,88}</string>
				<key>textureRect</key>
				<string>{{0,170},{130,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_26_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6}</string>
				<key>spriteSize</key>
				<string>{166,88}</string>
				<key>spriteSourceSize</key>
				<string>{166,88}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_26-uhd.png</string>
			<key>size</key>
			<string>{234,311}</string>
			<key>textureFileName</key>
			<string>icons/bird_26-uhd.png</string>
		</dict>
	</dict>
</plist>