<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_51_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,3.5}</string>
			<key>spriteSize</key>
			<string>{80,45}</string>
			<key>spriteSourceSize</key>
			<string>{85,71}</string>
			<key>textureRect</key>
			<string>{{55,2},{80,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_51_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5.5}</string>
			<key>spriteSize</key>
			<string>{68,39}</string>
			<key>spriteSourceSize</key>
			<string>{85,71}</string>
			<key>textureRect</key>
			<string>{{55,84},{68,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_51_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,23.5}</string>
			<key>spriteSize</key>
			<string>{61,51}</string>
			<key>spriteSourceSize</key>
			<string>{85,71}</string>
			<key>textureRect</key>
			<string>{{112,2},{61,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_51_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8.8}</string>
			<key>spriteSize</key>
			<string>{65,8}</string>
			<key>spriteSourceSize</key>
			<string>{85,71}</string>
			<key>textureRect</key>
			<string>{{102,2},{65,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_51_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3.5}</string>
			<key>spriteSize</key>
			<string>{85,51}</string>
			<key>spriteSourceSize</key>
			<string>{85,71}</string>
			<key>textureRect</key>
			<string>{{2,2},{85,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_51-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_51-hd.png</string>
	</dict>
</dict>
</plist>
