<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_47_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.8}</string>
			<key>spriteSize</key>
			<string>{82,48}</string>
			<key>spriteSourceSize</key>
			<string>{86,70}</string>
			<key>textureRect</key>
			<string>{{56,2},{82,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_47_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{77,39}</string>
			<key>spriteSourceSize</key>
			<string>{86,70}</string>
			<key>textureRect</key>
			<string>{{106,2},{77,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_47_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,21.5}</string>
			<key>spriteSize</key>
			<string>{59,54}</string>
			<key>spriteSourceSize</key>
			<string>{86,70}</string>
			<key>textureRect</key>
			<string>{{183,2},{59,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_47_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.2}</string>
			<key>spriteSize</key>
			<string>{75,42}</string>
			<key>spriteSourceSize</key>
			<string>{86,70}</string>
			<key>textureRect</key>
			<string>{{106,81},{75,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_47_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.8}</string>
			<key>spriteSize</key>
			<string>{86,52}</string>
			<key>spriteSourceSize</key>
			<string>{86,70}</string>
			<key>textureRect</key>
			<string>{{2,2},{86,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_47-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_47-hd.png</string>
	</dict>
</dict>
</plist>
