<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,74}</string>
			<key>spriteSourceSize</key>
			<string>{199,185}</string>
			<key>textureRect</key>
			<string>{{0,84},{172,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_10_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{162,64}</string>
			<key>spriteSourceSize</key>
			<string>{199,185}</string>
			<key>textureRect</key>
			<string>{{0,159},{162,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_10_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,194}</string>
			<key>textureRect</key>
			<string>{{0,224},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_10_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{162,60}</string>
			<key>spriteSourceSize</key>
			<string>{199,185}</string>
			<key>textureRect</key>
			<string>{{183,0},{162,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_10_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,83}</string>
			<key>spriteSourceSize</key>
			<string>{199,185}</string>
			<key>textureRect</key>
			<string>{{0,0},{182,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_10-uhd.png</string>
		<key>size</key>
		<string>{243,294}</string>
		<key>textureFileName</key>
		<string>icons/bird_10-uhd.png</string>
	</dict>
</dict>
</plist>
