<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_96_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{160,66}</string>
				<key>spriteSourceSize</key>
				<string>{160,66}</string>
				<key>textureRect</key>
				<string>{{0,73},{160,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_96_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{156,62}</string>
				<key>spriteSourceSize</key>
				<string>{156,62}</string>
				<key>textureRect</key>
				<string>{{0,140},{156,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_96_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,55}</string>
				<key>spriteSize</key>
				<string>{120,88}</string>
				<key>spriteSourceSize</key>
				<string>{120,88}</string>
				<key>textureRect</key>
				<string>{{0,203},{120,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_96_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{152,54}</string>
				<key>spriteSourceSize</key>
				<string>{152,54}</string>
				<key>textureRect</key>
				<string>{{167,0},{152,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_96_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{166,72}</string>
				<key>spriteSourceSize</key>
				<string>{166,72}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_96-uhd.png</string>
			<key>size</key>
			<string>{221,291}</string>
			<key>textureFileName</key>
			<string>icons/bird_96-uhd.png</string>
		</dict>
	</dict>
</plist>