<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_92_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,47}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{22,345},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{0,160},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_92_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{158,88}</string>
                <key>textureRect</key>
                <string>{{0,246},{158,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/bird_92-uhd.png</string>
            <key>size</key>
            <string>{234,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfc0542f9fd206720dff49cabe796ef:b3b0286ff94fddd2e6c0979c1ef4d018:5b3aeef92af226801eff6e5aba28da4a$</string>
            <key>textureFileName</key>
            <string>icons/bird_92-uhd.png</string>
        </dict>
    </dict>
</plist>
