<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{153,65}</string>
				<key>spriteSourceSize</key>
				<string>{153,65}</string>
				<key>textureRect</key>
				<string>{{0,72},{153,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{145,54}</string>
				<key>spriteSourceSize</key>
				<string>{145,54}</string>
				<key>textureRect</key>
				<string>{{0,138},{145,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_03_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,58}</string>
				<key>spriteSize</key>
				<string>{120,85}</string>
				<key>spriteSourceSize</key>
				<string>{120,85}</string>
				<key>textureRect</key>
				<string>{{0,193},{120,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_03_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{121,37}</string>
				<key>spriteSourceSize</key>
				<string>{121,37}</string>
				<key>textureRect</key>
				<string>{{160,0},{121,37}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{159,71}</string>
				<key>spriteSourceSize</key>
				<string>{159,71}</string>
				<key>textureRect</key>
				<string>{{0,0},{159,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_03-uhd.png</string>
			<key>size</key>
			<string>{197,278}</string>
			<key>textureFileName</key>
			<string>icons/bird_03-uhd.png</string>
		</dict>
	</dict>
</plist>