<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_96_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{5,2},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{5,92},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{5,182},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_96_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,99}</string>
                <key>spriteSourceSize</key>
                <string>{130,99}</string>
                <key>textureRect</key>
                <string>{{1,273},{130,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_96-uhd.png</string>
            <key>size</key>
            <string>{114,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6520c238eff853fbf05858c8d68d2af3:759f3a1af2cfbdd3f75e555a28e48bd4:abb929e4ef2f43883d4a417500e9792b$</string>
            <key>textureFileName</key>
            <string>icons/dart_96-uhd.png</string>
        </dict>
    </dict>
</plist>
