<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{108,74}</string>
				<key>spriteSourceSize</key>
				<string>{116,82}</string>
				<key>textureRect</key>
				<string>{{0,83},{108,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-22.5,0}</string>
				<key>spriteSize</key>
				<string>{63,28}</string>
				<key>spriteSourceSize</key>
				<string>{116,82}</string>
				<key>textureRect</key>
				<string>{{117,0},{63,28}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dart_02_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{116,82}</string>
				<key>textureRect</key>
				<string>{{117,64},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{116,82}</string>
				<key>spriteSourceSize</key>
				<string>{116,82}</string>
				<key>textureRect</key>
				<string>{{0,0},{116,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/dart_02-uhd.png</string>
			<key>size</key>
			<string>{145,157}</string>
			<key>textureFileName</key>
			<string>icons/dart_02-uhd.png</string>
		</dict>
	</dict>
</plist>