<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_86_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,0}</string>
			<key>spriteSize</key>
			<string>{50,38}</string>
			<key>spriteSourceSize</key>
			<string>{54,42}</string>
			<key>textureRect</key>
			<string>{{46,2},{50,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_86_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{54,42}</string>
			<key>textureRect</key>
			<string>{{86,2},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_86_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.25,0}</string>
			<key>spriteSize</key>
			<string>{30,9}</string>
			<key>spriteSourceSize</key>
			<string>{54,42}</string>
			<key>textureRect</key>
			<string>{{86,37},{30,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_86_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,0}</string>
			<key>spriteSize</key>
			<string>{54,42}</string>
			<key>spriteSourceSize</key>
			<string>{54,42}</string>
			<key>textureRect</key>
			<string>{{2,2},{54,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_86-hd.png</string>
		<key>size</key>
		<string>{128,64}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_86-hd.png</string>
	</dict>
</dict>
</plist>
