<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.8,0}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{61,44}</string>
			<key>textureRect</key>
			<string>{{65,2},{58,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_18_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{53,27}</string>
			<key>spriteSourceSize</key>
			<string>{61,44}</string>
			<key>textureRect</key>
			<string>{{2,48},{53,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_18_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,30}</string>
			<key>spriteSourceSize</key>
			<string>{61,44}</string>
			<key>textureRect</key>
			<string>{{2,77},{18,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_18_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{61,44}</string>
			<key>spriteSourceSize</key>
			<string>{61,44}</string>
			<key>textureRect</key>
			<string>{{2,2},{61,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_18-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_18-hd.png</string>
	</dict>
</dict>
</plist>
