<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0" msg="🛠️ Created using the Icon Workshop by Ethan Hazel">
  <dict>
    <key>frames</key>
    <dict>
      <key>dart_14_glow_001.png</key>
      <dict>
        <key>aliases</key>
        <array></array>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{112,84}</string>
        <key>spriteSourceSize</key>
        <string>{112,84}</string>
        <key>textureRect</key>
        <string>{{0,0},{112,84}}</string>
        <key>textureRotated</key>
        <false></false>
      </dict>
      <key>dart_14_001.png</key>
      <dict>
        <key>aliases</key>
        <array></array>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{104,76}</string>
        <key>spriteSourceSize</key>
        <string>{104,76}</string>
        <key>textureRect</key>
        <string>{{114,0},{104,76}}</string>
        <key>textureRotated</key>
        <false></false>
      </dict>
      <key>dart_14_2_001.png</key>
      <dict>
        <key>aliases</key>
        <array></array>
        <key>spriteOffset</key>
        <string>{-18,0}</string>
        <key>spriteSize</key>
        <string>{62,45}</string>
        <key>spriteSourceSize</key>
        <string>{62,45}</string>
        <key>textureRect</key>
        <string>{{220,0},{62,45}}</string>
        <key>textureRotated</key>
        <false></false>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false></false>
      <key>realTextureFileName</key>
      <string>icons/dart_14-uhd.png</string>
      <key>size</key>
      <string>{284,84}</string>
      <key>textureFileName</key>
      <string>icons/dart_14-uhd.png</string>
    </dict>
  </dict>
</plist>