<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_48_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,61}</string>
				<key>spriteSourceSize</key>
				<string>{95,61}</string>
				<key>textureRect</key>
				<string>{{0,70},{95,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_48_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{85,55}</string>
				<key>spriteSourceSize</key>
				<string>{85,55}</string>
				<key>textureRect</key>
				<string>{{102,0},{85,55}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dart_48_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{47,37}</string>
				<key>spriteSourceSize</key>
				<string>{47,37}</string>
				<key>textureRect</key>
				<string>{{96,86},{47,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_48_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,69}</string>
				<key>spriteSourceSize</key>
				<string>{101,69}</string>
				<key>textureRect</key>
				<string>{{0,0},{101,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/dart_48-uhd.png</string>
			<key>size</key>
			<string>{157,131}</string>
			<key>textureFileName</key>
			<string>icons/dart_48-uhd.png</string>
		</dict>
	</dict>
</plist>