<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_80_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{85,73}</string>
				<key>spriteSourceSize</key>
				<string>{85,73}</string>
				<key>textureRect</key>
				<string>{{0,85},{85,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_80_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,69}</string>
				<key>spriteSourceSize</key>
				<string>{81,69}</string>
				<key>textureRect</key>
				<string>{{97,0},{81,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dart_80_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,4}</string>
				<key>spriteSize</key>
				<string>{80,61}</string>
				<key>spriteSourceSize</key>
				<string>{81,69}</string>
				<key>textureRect</key>
				<string>{{0,160},{80,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_80_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,83}</string>
				<key>spriteSourceSize</key>
				<string>{95,83}</string>
				<key>textureRect</key>
				<string>{{0,0},{95,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/dart_80-uhd.png</string>
			<key>size</key>
			<string>{166,221}</string>
			<key>textureFileName</key>
			<string>icons/dart_80-uhd.png</string>
		</dict>
	</dict>
</plist>