<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>jetpack_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,6}</string>
				<key>spriteSize</key>
				<string>{148,152}</string>
				<key>spriteSourceSize</key>
				<string>{156,160}</string>
				<key>textureRect</key>
				<string>{{157,0},{148,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jetpack_05_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,10.5}</string>
				<key>spriteSize</key>
				<string>{127,137}</string>
				<key>spriteSourceSize</key>
				<string>{156,160}</string>
				<key>textureRect</key>
				<string>{{0,161},{127,137}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>jetpack_05_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{45.5,21.5}</string>
				<key>spriteSize</key>
				<string>{65,65}</string>
				<key>spriteSourceSize</key>
				<string>{156,160}</string>
				<key>textureRect</key>
				<string>{{138,161},{65,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jetpack_05_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,6}</string>
				<key>spriteSize</key>
				<string>{156,160}</string>
				<key>spriteSourceSize</key>
				<string>{156,160}</string>
				<key>textureRect</key>
				<string>{{0,0},{156,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/jetpack_05-uhd.png</string>
			<key>size</key>
			<string>{305,288}</string>
			<key>textureFileName</key>
			<string>icons/jetpack_05-uhd.png</string>
		</dict>
	</dict>
</plist>