<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_107_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-1}</string>
				<key>spriteSize</key>
				<string>{140,143}</string>
				<key>spriteSourceSize</key>
				<string>{140,143}</string>
				<key>textureRect</key>
				<string>{{147,0},{140,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_107_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-13}</string>
				<key>spriteSize</key>
				<string>{86,37}</string>
				<key>spriteSourceSize</key>
				<string>{86,37}</string>
				<key>textureRect</key>
				<string>{{0,150},{86,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_107_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,4}</string>
				<key>spriteSize</key>
				<string>{63,80}</string>
				<key>spriteSourceSize</key>
				<string>{67,84}</string>
				<key>textureRect</key>
				<string>{{0,188},{63,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_ball_107_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-1}</string>
				<key>spriteSize</key>
				<string>{146,149}</string>
				<key>spriteSourceSize</key>
				<string>{146,149}</string>
				<key>textureRect</key>
				<string>{{0,0},{146,149}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_107-uhd.png</string>
			<key>size</key>
			<string>{287,251}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_107-uhd.png</string>
		</dict>
	</dict>
</plist>