<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_72_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,128}</string>
				<key>spriteSourceSize</key>
				<string>{124,128}</string>
				<key>textureRect</key>
				<string>{{0,136},{124,128}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_72_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-9}</string>
				<key>spriteSize</key>
				<string>{107,89}</string>
				<key>spriteSourceSize</key>
				<string>{107,89}</string>
				<key>textureRect</key>
				<string>{{137,112},{107,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_72_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,9}</string>
				<key>spriteSize</key>
				<string>{111,97}</string>
				<key>spriteSourceSize</key>
				<string>{111,97}</string>
				<key>textureRect</key>
				<string>{{137,0},{111,97}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_72_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{136,135}</string>
				<key>spriteSourceSize</key>
				<string>{136,135}</string>
				<key>textureRect</key>
				<string>{{0,0},{136,135}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_72-uhd.png</string>
			<key>size</key>
			<string>{234,260}</string>
			<key>textureFileName</key>
			<string>icons/player_72-uhd.png</string>
		</dict>
	</dict>
</plist>