<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_52_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,121}</string>
				<key>spriteSourceSize</key>
				<string>{120,121}</string>
				<key>textureRect</key>
				<string>{{128,0},{120,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_52_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{110,110}</string>
				<key>spriteSourceSize</key>
				<string>{110,110}</string>
				<key>textureRect</key>
				<string>{{0,130},{110,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_52_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{108,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,108}</string>
				<key>textureRect</key>
				<string>{{111,130},{108,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_52_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{127,129}</string>
				<key>spriteSourceSize</key>
				<string>{127,129}</string>
				<key>textureRect</key>
				<string>{{0,0},{127,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_52-uhd.png</string>
			<key>size</key>
			<string>{248,240}</string>
			<key>textureFileName</key>
			<string>icons/player_52-uhd.png</string>
		</dict>
	</dict>
</plist>