<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_110_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,121}</string>
				<key>spriteSourceSize</key>
				<string>{124,121}</string>
				<key>textureRect</key>
				<string>{{0,130},{124,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_110_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{118,112}</string>
				<key>spriteSourceSize</key>
				<string>{118,112}</string>
				<key>textureRect</key>
				<string>{{133,0},{118,112}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_110_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,37}</string>
				<key>spriteSize</key>
				<string>{86,20}</string>
				<key>spriteSourceSize</key>
				<string>{87,21}</string>
				<key>textureRect</key>
				<string>{{133,119},{86,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_110_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,129}</string>
				<key>spriteSourceSize</key>
				<string>{132,129}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_110-uhd.png</string>
			<key>size</key>
			<string>{245,251}</string>
			<key>textureFileName</key>
			<string>icons/player_110-uhd.png</string>
		</dict>
	</dict>
</plist>