<?xml version="1.0"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_181_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{126,125}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{2,141},{126,125}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>player_181_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{132,141},{122,122}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>player_181_extra_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,-18.75}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{142,2},{66,76}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>player_181_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,135}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{2,2},{136,135}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>icons/player_181-uhd.png</string>
            <key>size</key>
            <string>{256,268}</string>
            <key>textureFileName</key>
            <string>icons/player_181-uhd.png</string>
        </dict>
    </dict>
</plist>
