<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_64_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,120}</string>
				<key>spriteSourceSize</key>
				<string>{119,120}</string>
				<key>textureRect</key>
				<string>{{128,0},{119,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_64_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,112}</string>
				<key>spriteSourceSize</key>
				<string>{112,112}</string>
				<key>textureRect</key>
				<string>{{0,129},{112,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_64_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,101}</string>
				<key>spriteSourceSize</key>
				<string>{100,101}</string>
				<key>textureRect</key>
				<string>{{113,129},{100,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_64_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{127,128}</string>
				<key>spriteSourceSize</key>
				<string>{127,128}</string>
				<key>textureRect</key>
				<string>{{0,0},{127,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_64-uhd.png</string>
			<key>size</key>
			<string>{247,241}</string>
			<key>textureFileName</key>
			<string>icons/player_64-uhd.png</string>
		</dict>
	</dict>
</plist>