<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_370_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{158,126}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,135},{158,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_370_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{114,114}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{159,147},{114,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_370_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,22}</string>
				<key>spriteSize</key>
				<string>{146,63}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{167,0},{146,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_370_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{166,134}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_370-uhd.png</string>
			<key>size</key>
			<string>{345,261}</string>
			<key>textureFileName</key>
			<string>icons/player_370-uhd.png</string>
		</dict>
	</dict>
</plist>