<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_181_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{137,130}</string>
			<key>spriteSourceSize</key>
			<string>{178,174}</string>
			<key>textureRect</key>
			<string>{{0,139},{137,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_181_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{131,123}</string>
			<key>spriteSourceSize</key>
			<string>{178,174}</string>
			<key>textureRect</key>
			<string>{{144,0},{131,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_181_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{131,122}</string>
			<key>spriteSourceSize</key>
			<string>{178,174}</string>
			<key>textureRect</key>
			<string>{{144,132},{131,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_181_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{143,138}</string>
			<key>spriteSourceSize</key>
			<string>{178,174}</string>
			<key>textureRect</key>
			<string>{{0,0},{143,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_181-uhd.png</string>
		<key>size</key>
		<string>{267,269}</string>
		<key>textureFileName</key>
		<string>icons/player_181-uhd.png</string>
	</dict>
</dict>
</plist>
