<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_108_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,122}</string>
				<key>spriteSourceSize</key>
				<string>{124,122}</string>
				<key>textureRect</key>
				<string>{{0,133},{124,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_108_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,110}</string>
				<key>spriteSourceSize</key>
				<string>{115,110}</string>
				<key>textureRect</key>
				<string>{{137,0},{115,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_108_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,5}</string>
				<key>spriteSize</key>
				<string>{108,98}</string>
				<key>spriteSourceSize</key>
				<string>{108,98}</string>
				<key>textureRect</key>
				<string>{{137,111},{108,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_108_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{136,132}</string>
				<key>spriteSourceSize</key>
				<string>{136,132}</string>
				<key>textureRect</key>
				<string>{{0,0},{136,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_108-uhd.png</string>
			<key>size</key>
			<string>{252,255}</string>
			<key>textureFileName</key>
			<string>icons/player_108-uhd.png</string>
		</dict>
	</dict>
</plist>