<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_100_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_100_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,134}</string>
                <key>textureRect</key>
                <string>{{141,0},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_100_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,134}</string>
                <key>textureRect</key>
                <string>{{0,135},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_100_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{148,142}</string>
                <key>textureRect</key>
                <string>{{141,135},{148,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_100-uhd.png</string>
            <key>size</key>
            <string>{242,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8f8d4308bb094b861720fbce979f1f:84b5af196d238516d3c2623cbeee3ab0:53c1c6311a1ad90d040dba7c4c056dfa$</string>
            <key>textureFileName</key>
            <string>icons/player_100-uhd.png</string>
        </dict>
    </dict>
</plist>
