<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_344_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{133,0},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_344_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,112}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{0,133},{112,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_344_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,25.5}</string>
				<key>spriteSize</key>
				<string>{90,31}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{113,133},{90,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_344_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,132}</string>
				<key>spriteSourceSize</key>
				<string>{134,134}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_344-uhd.png</string>
			<key>size</key>
			<string>{253,245}</string>
			<key>textureFileName</key>
			<string>icons/player_344-uhd.png</string>
		</dict>
	</dict>
</plist>