<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_412_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{126,131}</string>
			<key>spriteSourceSize</key>
			<string>{177,185}</string>
			<key>textureRect</key>
			<string>{{139,0},{126,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_412_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{118,115}</string>
			<key>spriteSourceSize</key>
			<string>{177,185}</string>
			<key>textureRect</key>
			<string>{{0,143},{118,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_412_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,13}</string>
			<key>spriteSourceSize</key>
			<string>{177,185}</string>
			<key>textureRect</key>
			<string>{{119,143},{64,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_412_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4.5}</string>
			<key>spriteSize</key>
			<string>{138,142}</string>
			<key>spriteSourceSize</key>
			<string>{177,185}</string>
			<key>textureRect</key>
			<string>{{0,0},{138,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_412-uhd.png</string>
		<key>size</key>
		<string>{265,258}</string>
		<key>textureFileName</key>
		<string>icons/player_412-uhd.png</string>
	</dict>
</dict>
</plist>
