<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_118_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{138,138}</string>
				<key>spriteSourceSize</key>
				<string>{149,149}</string>
				<key>textureRect</key>
				<string>{{149,0},{138,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_118_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,126}</string>
				<key>spriteSourceSize</key>
				<string>{149,149}</string>
				<key>textureRect</key>
				<string>{{0,149},{126,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_118_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,112}</string>
				<key>spriteSourceSize</key>
				<string>{149,149}</string>
				<key>textureRect</key>
				<string>{{127,149},{112,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_118_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{148,148}</string>
				<key>spriteSourceSize</key>
				<string>{149,149}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_118-uhd.png</string>
			<key>size</key>
			<string>{287,275}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_118-uhd.png</string>
		</dict>
	</dict>
</plist>