<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_173_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{143,151}</string>
			<key>spriteSourceSize</key>
			<string>{191,184}</string>
			<key>textureRect</key>
			<string>{{0,0},{143,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_173_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{133,130}</string>
			<key>spriteSourceSize</key>
			<string>{191,184}</string>
			<key>textureRect</key>
			<string>{{0,152},{133,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_173_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{132,120}</string>
			<key>spriteSourceSize</key>
			<string>{191,184}</string>
			<key>textureRect</key>
			<string>{{134,152},{132,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_173_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{151,142}</string>
			<key>spriteSourceSize</key>
			<string>{191,184}</string>
			<key>textureRect</key>
			<string>{{144,0},{151,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_173-uhd.png</string>
		<key>size</key>
		<string>{286,282}</string>
		<key>textureFileName</key>
		<string>icons/player_173-uhd.png</string>
	</dict>
</dict>
</plist>
