<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_173_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{131,129}</string>
				<key>spriteSourceSize</key>
				<string>{131,129}</string>
				<key>textureRect</key>
				<string>{{0,138},{131,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_173_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{127,125}</string>
				<key>spriteSourceSize</key>
				<string>{127,125}</string>
				<key>textureRect</key>
				<string>{{140,0},{127,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_173_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12.5,27}</string>
				<key>spriteSize</key>
				<string>{88,34}</string>
				<key>spriteSourceSize</key>
				<string>{88,34}</string>
				<key>textureRect</key>
				<string>{{140,128},{88,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_173_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{139,137}</string>
				<key>spriteSourceSize</key>
				<string>{139,137}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_173-uhd.png</string>
			<key>size</key>
			<string>{265,267}</string>
			<key>textureFileName</key>
			<string>icons/player_173-uhd.png</string>
		</dict>
	</dict>
</plist>