<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_185_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,121}</string>
			<key>spriteSourceSize</key>
			<string>{182,175}</string>
			<key>textureRect</key>
			<string>{{0,130},{154,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_185_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{129,96}</string>
			<key>spriteSourceSize</key>
			<string>{182,175}</string>
			<key>textureRect</key>
			<string>{{0,252},{129,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_185_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{141,112}</string>
			<key>spriteSourceSize</key>
			<string>{182,175}</string>
			<key>textureRect</key>
			<string>{{164,0},{141,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_185_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,129}</string>
			<key>spriteSourceSize</key>
			<string>{182,175}</string>
			<key>textureRect</key>
			<string>{{0,0},{163,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_185-uhd.png</string>
		<key>size</key>
		<string>{276,348}</string>
		<key>textureFileName</key>
		<string>icons/player_185-uhd.png</string>
	</dict>
</dict>
</plist>
