<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_175_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,2.5}</string>
				<key>spriteSize</key>
				<string>{134,127}</string>
				<key>spriteSourceSize</key>
				<string>{161,160}</string>
				<key>textureRect</key>
				<string>{{0,139},{134,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_175_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,2.5}</string>
				<key>spriteSize</key>
				<string>{129,121}</string>
				<key>spriteSourceSize</key>
				<string>{161,160}</string>
				<key>textureRect</key>
				<string>{{146,0},{129,121}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_175_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{19,14.5}</string>
				<key>spriteSize</key>
				<string>{65,27}</string>
				<key>spriteSourceSize</key>
				<string>{161,160}</string>
				<key>textureRect</key>
				<string>{{146,130},{65,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_175_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,3}</string>
				<key>spriteSize</key>
				<string>{145,138}</string>
				<key>spriteSourceSize</key>
				<string>{161,160}</string>
				<key>textureRect</key>
				<string>{{0,0},{145,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_175-uhd.png</string>
			<key>size</key>
			<string>{267,266}</string>
			<key>textureFileName</key>
			<string>icons/player_175-uhd.png</string>
		</dict>
	</dict>
</plist>