<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_113_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{136,133}</string>
				<key>spriteSourceSize</key>
				<string>{146,141}</string>
				<key>textureRect</key>
				<string>{{0,142},{136,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_113_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{17,10}</string>
				<key>spriteSize</key>
				<string>{96,115}</string>
				<key>spriteSourceSize</key>
				<string>{146,141}</string>
				<key>textureRect</key>
				<string>{{137,142},{96,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_113_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,10}</string>
				<key>spriteSize</key>
				<string>{122,91}</string>
				<key>spriteSourceSize</key>
				<string>{146,141}</string>
				<key>textureRect</key>
				<string>{{147,0},{122,91}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_113_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{146,141}</string>
				<key>spriteSourceSize</key>
				<string>{146,141}</string>
				<key>textureRect</key>
				<string>{{0,0},{146,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_113-uhd.png</string>
			<key>size</key>
			<string>{238,275}</string>
			<key>textureFileName</key>
			<string>icons/player_113-uhd.png</string>
		</dict>
	</dict>
</plist>