<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_433_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,125}</string>
				<key>spriteSourceSize</key>
				<string>{593,445}</string>
				<key>textureRect</key>
				<string>{{136,0},{125,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_433_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,113}</string>
				<key>spriteSourceSize</key>
				<string>{593,445}</string>
				<key>textureRect</key>
				<string>{{0,138},{113,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_433_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,23}</string>
				<key>spriteSize</key>
				<string>{109,63}</string>
				<key>spriteSourceSize</key>
				<string>{593,445}</string>
				<key>textureRect</key>
				<string>{{114,138},{109,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_433_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{135,137}</string>
				<key>spriteSourceSize</key>
				<string>{593,445}</string>
				<key>textureRect</key>
				<string>{{0,0},{135,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_433-uhd.png</string>
			<key>size</key>
			<string>{261,251}</string>
			<key>textureFileName</key>
			<string>icons/player_433-uhd.png</string>
		</dict>
	</dict>
</plist>