<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_79_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{123,122}</string>
				<key>spriteSourceSize</key>
				<string>{593,444}</string>
				<key>textureRect</key>
				<string>{{133,0},{123,122}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_79_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{92,93}</string>
				<key>spriteSourceSize</key>
				<string>{593,444}</string>
				<key>textureRect</key>
				<string>{{0,133},{92,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_79_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{132,132}</string>
				<key>spriteSourceSize</key>
				<string>{593,444}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_79-uhd.png</string>
			<key>size</key>
			<string>{255,225}</string>
			<key>textureFileName</key>
			<string>icons/player_79-uhd.png</string>
		</dict>
	</dict>
</plist>