<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_18_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{127,0},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_18_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{108,108}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,172},{108,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_18_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,34.5}</string>
				<key>spriteSize</key>
				<string>{112,44}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,127},{112,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_18_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{126,126}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_18-uhd.png</string>
			<key>size</key>
			<string>{247,280}</string>
			<key>textureFileName</key>
			<string>icons/player_18-uhd.png</string>
		</dict>
	</dict>
</plist>