<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_34_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,122}</string>
				<key>spriteSourceSize</key>
				<string>{182,182}</string>
				<key>textureRect</key>
				<string>{{129,0},{122,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_34_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,94}</string>
				<key>spriteSourceSize</key>
				<string>{182,182}</string>
				<key>textureRect</key>
				<string>{{0,129},{94,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_34_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,90}</string>
				<key>spriteSourceSize</key>
				<string>{182,182}</string>
				<key>textureRect</key>
				<string>{{95,129},{90,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_34_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{182,182}</string>
				<key>textureRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_34-uhd.png</string>
			<key>size</key>
			<string>{251,223}</string>
			<key>textureFileName</key>
			<string>icons/player_34-uhd.png</string>
		</dict>
	</dict>
</plist>