<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_297_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,120}</string>
				<key>spriteSourceSize</key>
				<string>{132,130}</string>
				<key>textureRect</key>
				<string>{{0,131},{122,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_297_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-20.5}</string>
				<key>spriteSize</key>
				<string>{77,49}</string>
				<key>spriteSourceSize</key>
				<string>{132,130}</string>
				<key>textureRect</key>
				<string>{{133,0},{77,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_297_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-21.5}</string>
				<key>spriteSize</key>
				<string>{72,47}</string>
				<key>spriteSourceSize</key>
				<string>{132,130}</string>
				<key>textureRect</key>
				<string>{{133,78},{72,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_297_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,130}</string>
				<key>spriteSourceSize</key>
				<string>{132,130}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_297-uhd.png</string>
			<key>size</key>
			<string>{182,251}</string>
			<key>textureFileName</key>
			<string>icons/player_297-uhd.png</string>
		</dict>
	</dict>
</plist>