<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_210_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-1}</string>
				<key>spriteSize</key>
				<string>{129,122}</string>
				<key>spriteSourceSize</key>
				<string>{181,180}</string>
				<key>textureRect</key>
				<string>{{0,135},{129,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_210_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-6.5}</string>
				<key>spriteSize</key>
				<string>{105,103}</string>
				<key>spriteSourceSize</key>
				<string>{181,180}</string>
				<key>textureRect</key>
				<string>{{140,0},{105,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_210_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,-15.5}</string>
				<key>spriteSize</key>
				<string>{79,81}</string>
				<key>spriteSourceSize</key>
				<string>{181,180}</string>
				<key>textureRect</key>
				<string>{{140,106},{79,81}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_210_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-1}</string>
				<key>spriteSize</key>
				<string>{139,134}</string>
				<key>spriteSourceSize</key>
				<string>{181,180}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_210-uhd.png</string>
			<key>size</key>
			<string>{243,257}</string>
			<key>textureFileName</key>
			<string>icons/player_210-uhd.png</string>
		</dict>
	</dict>
</plist>