<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_66_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{130,121}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,130},{130,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_66_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-9.5}</string>
				<key>spriteSize</key>
				<string>{69,66}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{141,0},{69,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_66_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{140,129}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,0},{140,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_66-uhd.png</string>
			<key>size</key>
			<string>{207,251}</string>
			<key>textureFileName</key>
			<string>icons/player_66-uhd.png</string>
		</dict>
	</dict>
</plist>