<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_111_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,-9.5}</string>
				<key>spriteSize</key>
				<string>{126,123}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,132},{126,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_111_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,-9.5}</string>
				<key>spriteSize</key>
				<string>{115,111}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{136,0},{115,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_ball_111_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{136,116},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_111_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,-9.5}</string>
				<key>spriteSize</key>
				<string>{135,131}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,0},{135,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_111-uhd.png</string>
			<key>size</key>
			<string>{247,255}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_111-uhd.png</string>
		</dict>
	</dict>
</plist>