<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_173_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,136}</string>
			<key>spriteSourceSize</key>
			<string>{194,172}</string>
			<key>textureRect</key>
			<string>{{0,146},{146,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_173_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{137,125}</string>
			<key>spriteSourceSize</key>
			<string>{194,172}</string>
			<key>textureRect</key>
			<string>{{156,0},{137,125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_173_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-4}</string>
			<key>spriteSize</key>
			<string>{131,118}</string>
			<key>spriteSourceSize</key>
			<string>{194,172}</string>
			<key>textureRect</key>
			<string>{{147,146},{131,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_173_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,145}</string>
			<key>spriteSourceSize</key>
			<string>{194,172}</string>
			<key>textureRect</key>
			<string>{{0,0},{155,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_173-uhd.png</string>
		<key>size</key>
		<string>{281,282}</string>
		<key>textureFileName</key>
		<string>icons/player_173-uhd.png</string>
	</dict>
</dict>
</plist>
