<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_463_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,122}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,129},{126,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_463_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{116,113}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{137,0},{116,113}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_463_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,27}</string>
				<key>spriteSize</key>
				<string>{42,36}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{137,117},{42,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_463_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{136,128}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,0},{136,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_463-uhd.png</string>
			<key>size</key>
			<string>{250,251}</string>
			<key>textureFileName</key>
			<string>icons/player_463-uhd.png</string>
		</dict>
	</dict>
</plist>