<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_177_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{121,124}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{130,0},{121,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_177_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{109,109}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,133},{109,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_177_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-5}</string>
				<key>spriteSize</key>
				<string>{94,98}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{110,133},{94,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_177_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{129,132}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,0},{129,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_177-uhd.png</string>
			<key>size</key>
			<string>{251,242}</string>
			<key>textureFileName</key>
			<string>icons/player_177-uhd.png</string>
		</dict>
	</dict>
</plist>