<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_212_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{122,127}</string>
			<key>spriteSourceSize</key>
			<string>{161,167}</string>
			<key>textureRect</key>
			<string>{{133,0},{122,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_212_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,38}</string>
			<key>spriteSize</key>
			<string>{118,48}</string>
			<key>spriteSourceSize</key>
			<string>{161,167}</string>
			<key>textureRect</key>
			<string>{{0,138},{118,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_212_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24}</string>
			<key>spriteSize</key>
			<string>{60,9}</string>
			<key>spriteSourceSize</key>
			<string>{161,167}</string>
			<key>textureRect</key>
			<string>{{119,138},{60,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_212_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,137}</string>
			<key>spriteSourceSize</key>
			<string>{161,167}</string>
			<key>textureRect</key>
			<string>{{0,0},{132,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_212-uhd.png</string>
		<key>size</key>
		<string>{255,186}</string>
		<key>textureFileName</key>
		<string>icons/player_212-uhd.png</string>
	</dict>
</dict>
</plist>
