<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_103_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{120,124}</string>
				<key>spriteSourceSize</key>
				<string>{120,124}</string>
				<key>textureRect</key>
				<string>{{131,0},{120,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_103_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,110}</string>
				<key>spriteSourceSize</key>
				<string>{110,110}</string>
				<key>textureRect</key>
				<string>{{0,136},{110,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_103_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,12.5}</string>
				<key>spriteSize</key>
				<string>{97,69}</string>
				<key>spriteSourceSize</key>
				<string>{97,69}</string>
				<key>textureRect</key>
				<string>{{131,125},{97,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_103_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{130,135}</string>
				<key>spriteSourceSize</key>
				<string>{130,135}</string>
				<key>textureRect</key>
				<string>{{0,0},{130,135}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_103-uhd.png</string>
			<key>size</key>
			<string>{251,246}</string>
			<key>textureFileName</key>
			<string>icons/player_103-uhd.png</string>
		</dict>
	</dict>
</plist>