<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_47_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{142,142}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{153,0},{142,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_47_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,153},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_47_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{111,111}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{129,153},{111,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_47_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{152,152}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_47-uhd.png</string>
			<key>size</key>
			<string>{295,281}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_47-uhd.png</string>
		</dict>
	</dict>
</plist>