<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_280_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{123,123}</string>
				<key>spriteSourceSize</key>
				<string>{225,225}</string>
				<key>textureRect</key>
				<string>{{132,0},{123,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_280_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,113}</string>
				<key>spriteSourceSize</key>
				<string>{225,225}</string>
				<key>textureRect</key>
				<string>{{0,132},{113,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_280_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{131,131}</string>
				<key>spriteSourceSize</key>
				<string>{225,225}</string>
				<key>textureRect</key>
				<string>{{0,0},{131,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_280-uhd.png</string>
			<key>size</key>
			<string>{255,245}</string>
			<key>textureFileName</key>
			<string>icons/player_280-uhd.png</string>
		</dict>
	</dict>
</plist>