<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_362_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{101,114}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,129},{101,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_362_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,0}</string>
				<key>spriteSize</key>
				<string>{101,114}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{115,129},{101,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_362_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{129,0},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_362_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{180,180}</string>
				<key>textureRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_362-uhd.png</string>
			<key>size</key>
			<string>{249,230}</string>
			<key>textureFileName</key>
			<string>icons/player_362-uhd.png</string>
		</dict>
	</dict>
</plist>