<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_246_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{143,126}</string>
				<key>spriteSourceSize</key>
				<string>{143,126}</string>
				<key>textureRect</key>
				<string>{{0,137},{143,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_246_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{143,125}</string>
				<key>spriteSourceSize</key>
				<string>{143,126}</string>
				<key>textureRect</key>
				<string>{{154,0},{143,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_246_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{143,125}</string>
				<key>spriteSourceSize</key>
				<string>{143,126}</string>
				<key>textureRect</key>
				<string>{{154,126},{143,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_246_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{153,136}</string>
				<key>spriteSourceSize</key>
				<string>{153,136}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_246-uhd.png</string>
			<key>size</key>
			<string>{297,263}</string>
			<key>textureFileName</key>
			<string>icons/player_246-uhd.png</string>
		</dict>
	</dict>
</plist>