<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_234_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,119}</string>
				<key>spriteSourceSize</key>
				<string>{130,119}</string>
				<key>textureRect</key>
				<string>{{0,128},{130,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_234_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{121,110}</string>
				<key>spriteSourceSize</key>
				<string>{121,110}</string>
				<key>textureRect</key>
				<string>{{139,0},{121,110}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_234_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,107}</string>
				<key>spriteSourceSize</key>
				<string>{118,107}</string>
				<key>textureRect</key>
				<string>{{131,128},{118,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_234_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{138,127}</string>
				<key>spriteSourceSize</key>
				<string>{138,127}</string>
				<key>textureRect</key>
				<string>{{0,0},{138,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_234-uhd.png</string>
			<key>size</key>
			<string>{249,247}</string>
			<key>textureFileName</key>
			<string>icons/player_234-uhd.png</string>
		</dict>
	</dict>
</plist>