<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_216_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{143,130}</string>
				<key>spriteSourceSize</key>
				<string>{177,176}</string>
				<key>textureRect</key>
				<string>{{0,140},{143,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_216_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,7}</string>
				<key>spriteSize</key>
				<string>{82,72}</string>
				<key>spriteSourceSize</key>
				<string>{177,176}</string>
				<key>textureRect</key>
				<string>{{154,95},{82,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_216_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{91,94}</string>
				<key>spriteSourceSize</key>
				<string>{177,176}</string>
				<key>textureRect</key>
				<string>{{154,0},{91,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_216_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{153,139}</string>
				<key>spriteSourceSize</key>
				<string>{177,176}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,139}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_216-uhd.png</string>
			<key>size</key>
			<string>{245,270}</string>
			<key>textureFileName</key>
			<string>icons/player_216-uhd.png</string>
		</dict>
	</dict>
</plist>