<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_325_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{120,126}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{129,0},{120,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_325_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{102,116}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{0,135},{102,116}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_325_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{98,98}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{117,135},{98,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_325_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{128,134}</string>
				<key>spriteSourceSize</key>
				<string>{200,200}</string>
				<key>textureRect</key>
				<string>{{0,0},{128,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_325-uhd.png</string>
			<key>size</key>
			<string>{249,237}</string>
			<key>textureFileName</key>
			<string>icons/player_325-uhd.png</string>
		</dict>
	</dict>
</plist>