<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_447_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{132,126}</string>
				<key>spriteSourceSize</key>
				<string>{140,135}</string>
				<key>textureRect</key>
				<string>{{0,135},{132,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_447_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-4}</string>
				<key>spriteSize</key>
				<string>{118,116}</string>
				<key>spriteSourceSize</key>
				<string>{140,135}</string>
				<key>textureRect</key>
				<string>{{141,0},{118,116}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_447_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-6}</string>
				<key>spriteSize</key>
				<string>{118,108}</string>
				<key>spriteSourceSize</key>
				<string>{140,135}</string>
				<key>textureRect</key>
				<string>{{133,135},{118,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_447_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-1}</string>
				<key>spriteSize</key>
				<string>{140,134}</string>
				<key>spriteSourceSize</key>
				<string>{140,135}</string>
				<key>textureRect</key>
				<string>{{0,0},{140,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_447-uhd.png</string>
			<key>size</key>
			<string>{257,261}</string>
			<key>textureFileName</key>
			<string>icons/player_447-uhd.png</string>
		</dict>
	</dict>
</plist>