<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_115_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{140,140}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{147,0},{140,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_115_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,106}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,147},{128,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_115_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,46}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{129,147},{42,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_115_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{146,146}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{0,0},{146,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_115-uhd.png</string>
			<key>size</key>
			<string>{287,253}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_115-uhd.png</string>
		</dict>
	</dict>
</plist>