<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_09_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{142,142}</string>
				<key>spriteSourceSize</key>
				<string>{142,142}</string>
				<key>textureRect</key>
				<string>{{153,0},{142,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_09_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,20}</string>
				<key>spriteSize</key>
				<string>{56,97}</string>
				<key>spriteSourceSize</key>
				<string>{56,97}</string>
				<key>textureRect</key>
				<string>{{0,153},{56,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_09_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,21.5}</string>
				<key>spriteSize</key>
				<string>{20,63}</string>
				<key>spriteSourceSize</key>
				<string>{20,63}</string>
				<key>textureRect</key>
				<string>{{57,153},{20,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_09_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{152,152}</string>
				<key>spriteSourceSize</key>
				<string>{152,152}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_09-uhd.png</string>
			<key>size</key>
			<string>{295,250}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_09-uhd.png</string>
		</dict>
	</dict>
</plist>