<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_104_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-7.5}</string>
				<key>spriteSize</key>
				<string>{59,84}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{160,151},{59,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_104_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-6}</string>
				<key>spriteSize</key>
				<string>{150,125}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{168,0},{150,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_104_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-9}</string>
				<key>spriteSize</key>
				<string>{167,149}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,0},{167,149}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_104_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-9}</string>
				<key>spriteSize</key>
				<string>{159,143}</string>
				<key>spriteSourceSize</key>
				<string>{185,185}</string>
				<key>textureRect</key>
				<string>{{0,150},{159,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_104-uhd.png</string>
			<key>size</key>
			<string>{293,293}</string>
			<key>textureFileName</key>
			<string>icons/player_104-uhd.png</string>
		</dict>
	</dict>
</plist>