<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_52_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,9.5}</string>
				<key>spriteSize</key>
				<string>{132,103}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{0,115},{132,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,11}</string>
				<key>spriteSize</key>
				<string>{121,92}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{143,0},{121,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_52_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,3.5}</string>
				<key>spriteSize</key>
				<string>{12,11}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{171,195},{12,11}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,10}</string>
				<key>spriteSize</key>
				<string>{142,114}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{42,60}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{186,193},{42,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,11.5}</string>
				<key>spriteSize</key>
				<string>{19,19}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{89,219},{19,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{52,72}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{133,122},{52,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{22,56}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{133,195},{22,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{14,48}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{156,195},{14,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{34,66}</string>
				<key>spriteSourceSize</key>
				<string>{350,350}</string>
				<key>textureRect</key>
				<string>{{0,219},{34,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_52_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,38}</string>
				<key>spriteSourceSize</key>
				<string>{70,48}</string>
				<key>textureRect</key>
				<string>{{229,193},{60,38}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_52_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{21,23}</string>
				<key>spriteSourceSize</key>
				<string>{70,48}</string>
				<key>textureRect</key>
				<string>{{67,219},{21,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_52_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,48}</string>
				<key>spriteSourceSize</key>
				<string>{70,48}</string>
				<key>textureRect</key>
				<string>{{186,122},{70,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_52-uhd.png</string>
			<key>size</key>
			<string>{274,253}</string>
			<key>textureFileName</key>
			<string>icons/robot_52-uhd.png</string>
		</dict>
	</dict>
</plist>