<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,3}</string>
			<key>spriteSize</key>
			<string>{72,64}</string>
			<key>spriteSourceSize</key>
			<string>{77,68}</string>
			<key>textureRect</key>
			<string>{{72,2},{72,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-19,3}</string>
			<key>spriteSize</key>
			<string>{46,61}</string>
			<key>spriteSourceSize</key>
			<string>{77,68}</string>
			<key>textureRect</key>
			<string>{{73,76},{46,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,8.5}</string>
			<key>spriteSize</key>
			<string>{69,36}</string>
			<key>spriteSourceSize</key>
			<string>{77,68}</string>
			<key>textureRect</key>
			<string>{{2,81},{69,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,3}</string>
			<key>spriteSize</key>
			<string>{77,68}</string>
			<key>spriteSourceSize</key>
			<string>{77,68}</string>
			<key>textureRect</key>
			<string>{{2,2},{77,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{6,119},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{10,119},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{2,119},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-7}</string>
			<key>spriteSize</key>
			<string>{12,18}</string>
			<key>spriteSourceSize</key>
			<string>{16,22}</string>
			<key>textureRect</key>
			<string>{{153,61},{12,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-7}</string>
			<key>spriteSize</key>
			<string>{9,15}</string>
			<key>spriteSourceSize</key>
			<string>{16,22}</string>
			<key>textureRect</key>
			<string>{{136,115},{9,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-7}</string>
			<key>spriteSize</key>
			<string>{16,22}</string>
			<key>spriteSourceSize</key>
			<string>{16,22}</string>
			<key>textureRect</key>
			<string>{{153,37},{16,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{33,17}</string>
			<key>spriteSourceSize</key>
			<string>{37,21}</string>
			<key>textureRect</key>
			<string>{{138,2},{33,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{29,13}</string>
			<key>spriteSourceSize</key>
			<string>{37,21}</string>
			<key>textureRect</key>
			<string>{{138,37},{29,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{37,21}</string>
			<key>spriteSourceSize</key>
			<string>{37,21}</string>
			<key>textureRect</key>
			<string>{{136,76},{37,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_68-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_68-hd.png</string>
	</dict>
</dict>
</plist>
