<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_44_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,0}</string>
			<key>spriteSize</key>
			<string>{68,53}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{61,2},{68,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_44_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,4.8}</string>
			<key>spriteSize</key>
			<string>{61,41}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{2,76},{61,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,-2}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{116,30},{23,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,0}</string>
			<key>spriteSize</key>
			<string>{72,57}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{2,2},{72,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_44_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,30}</string>
			<key>textureRect</key>
			<string>{{116,2},{22,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.8,1.2}</string>
			<key>spriteSize</key>
			<string>{11,19}</string>
			<key>spriteSourceSize</key>
			<string>{26,30}</string>
			<key>textureRect</key>
			<string>{{116,57},{11,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,30}</string>
			<key>textureRect</key>
			<string>{{88,72},{26,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{140,2},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{7,11}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{116,78},{7,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{65,106},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_44_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{96,104},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4.5}</string>
			<key>spriteSize</key>
			<string>{23,4}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{2,119},{23,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{65,72},{32,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_44-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_44-hd.png</string>
	</dict>
</dict>
</plist>
