<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_57_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,114}</string>
				<key>spriteSourceSize</key>
				<string>{118,114}</string>
				<key>textureRect</key>
				<string>{{0,124},{118,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,106}</string>
				<key>spriteSourceSize</key>
				<string>{110,106}</string>
				<key>textureRect</key>
				<string>{{127,0},{110,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,17.5}</string>
				<key>spriteSize</key>
				<string>{92,67}</string>
				<key>spriteSourceSize</key>
				<string>{92,67}</string>
				<key>textureRect</key>
				<string>{{127,107},{92,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,123}</string>
				<key>spriteSourceSize</key>
				<string>{126,123}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{17,48}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{192,175},{17,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{64,45}</string>
				<key>spriteSourceSize</key>
				<string>{64,45}</string>
				<key>textureRect</key>
				<string>{{238,0},{64,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{59,40}</string>
				<key>spriteSourceSize</key>
				<string>{59,40}</string>
				<key>textureRect</key>
				<string>{{238,46},{59,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{72,53}</string>
				<key>spriteSourceSize</key>
				<string>{72,53}</string>
				<key>textureRect</key>
				<string>{{119,175},{72,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_57-uhd.png</string>
			<key>size</key>
			<string>{302,238}</string>
			<key>textureFileName</key>
			<string>icons/robot_57-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>