<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_60_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,43}</string>
			<key>spriteSourceSize</key>
			<string>{59,47}</string>
			<key>textureRect</key>
			<string>{{2,63},{55,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.2}</string>
			<key>spriteSize</key>
			<string>{55,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,47}</string>
			<key>textureRect</key>
			<string>{{47,63},{55,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.2}</string>
			<key>spriteSize</key>
			<string>{54,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,47}</string>
			<key>textureRect</key>
			<string>{{51,2},{54,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,47}</string>
			<key>spriteSourceSize</key>
			<string>{59,47}</string>
			<key>textureRect</key>
			<string>{{2,2},{59,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,29}</string>
			<key>spriteSourceSize</key>
			<string>{24,33}</string>
			<key>textureRect</key>
			<string>{{95,2},{20,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.2}</string>
			<key>spriteSize</key>
			<string>{20,29}</string>
			<key>spriteSourceSize</key>
			<string>{24,33}</string>
			<key>textureRect</key>
			<string>{{95,24},{20,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,33}</string>
			<key>spriteSourceSize</key>
			<string>{24,33}</string>
			<key>textureRect</key>
			<string>{{91,58},{24,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{95,46},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{122,46},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{91,107},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,17}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{122,107},{26,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.5,-3.8}</string>
			<key>spriteSize</key>
			<string>{13,7}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{123,84},{13,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_60_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,21}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{91,84},{30,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_60-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_60-hd.png</string>
	</dict>
</dict>
</plist>
