<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_16_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,4}</string>
				<key>spriteSize</key>
				<string>{112,102}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>textureRect</key>
				<string>{{0,111},{112,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,4}</string>
				<key>spriteSize</key>
				<string>{104,94}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>textureRect</key>
				<string>{{121,0},{104,94}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{22,1}</string>
				<key>spriteSize</key>
				<string>{22,22}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>textureRect</key>
				<string>{{183,203},{22,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,4}</string>
				<key>spriteSize</key>
				<string>{120,110}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>textureRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,50}</string>
				<key>spriteSourceSize</key>
				<string>{42,56}</string>
				<key>textureRect</key>
				<string>{{53,214},{36,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,56}</string>
				<key>spriteSourceSize</key>
				<string>{42,56}</string>
				<key>textureRect</key>
				<string>{{140,150},{42,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{183,105},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{113,111},{5,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{113,150},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,37}</string>
				<key>spriteSourceSize</key>
				<string>{52,40}</string>
				<key>textureRect</key>
				<string>{{0,214},{52,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{46,31}</string>
				<key>spriteSourceSize</key>
				<string>{46,34}</string>
				<key>textureRect</key>
				<string>{{183,156},{46,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{60,44}</string>
				<key>spriteSourceSize</key>
				<string>{60,46}</string>
				<key>textureRect</key>
				<string>{{121,105},{60,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_16-uhd.png</string>
			<key>size</key>
			<string>{215,251}</string>
			<key>textureFileName</key>
			<string>icons/robot_16-uhd.png</string>
		</dict>
	</dict>
</plist>