<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_20_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,8}</string>
				<key>spriteSize</key>
				<string>{145,101}</string>
				<key>spriteSourceSize</key>
				<string>{153,109}</string>
				<key>textureRect</key>
				<string>{{0,110},{145,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,8}</string>
				<key>spriteSize</key>
				<string>{127,93}</string>
				<key>spriteSourceSize</key>
				<string>{153,109}</string>
				<key>textureRect</key>
				<string>{{154,0},{127,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_20_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,8}</string>
				<key>spriteSize</key>
				<string>{153,109}</string>
				<key>spriteSourceSize</key>
				<string>{153,109}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-0.5}</string>
				<key>spriteSize</key>
				<string>{48,53}</string>
				<key>spriteSourceSize</key>
				<string>{58,54}</string>
				<key>textureRect</key>
				<string>{{0,247},{48,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_20_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-19,-0.5}</string>
				<key>spriteSize</key>
				<string>{16,31}</string>
				<key>spriteSourceSize</key>
				<string>{54,32}</string>
				<key>textureRect</key>
				<string>{{61,212},{16,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{56,62}</string>
				<key>spriteSourceSize</key>
				<string>{66,62}</string>
				<key>textureRect</key>
				<string>{{189,128},{56,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,50}</string>
				<key>spriteSourceSize</key>
				<string>{22,50}</string>
				<key>textureRect</key>
				<string>{{146,197},{22,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{17,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,46}</string>
				<key>textureRect</key>
				<string>{{54,248},{17,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,58}</string>
				<key>spriteSourceSize</key>
				<string>{30,58}</string>
				<key>textureRect</key>
				<string>{{189,191},{30,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_20_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,0}</string>
				<key>spriteSize</key>
				<string>{60,34}</string>
				<key>spriteSourceSize</key>
				<string>{67,34}</string>
				<key>textureRect</key>
				<string>{{0,212},{60,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_20_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13.5,-5.5}</string>
				<key>spriteSize</key>
				<string>{32,19}</string>
				<key>spriteSourceSize</key>
				<string>{59,30}</string>
				<key>textureRect</key>
				<string>{{169,197},{32,19}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_20_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,0}</string>
				<key>spriteSize</key>
				<string>{68,42}</string>
				<key>spriteSourceSize</key>
				<string>{75,42}</string>
				<key>textureRect</key>
				<string>{{146,128},{68,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_20-uhd.png</string>
			<key>size</key>
			<string>{247,295}</string>
			<key>textureFileName</key>
			<string>icons/robot_20-uhd.png</string>
		</dict>
	</dict>
</plist>