<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_53_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,0}</string>
				<key>spriteSize</key>
				<string>{139,105}</string>
				<key>spriteSourceSize</key>
				<string>{147,113}</string>
				<key>textureRect</key>
				<string>{{0,114},{139,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12.5,0}</string>
				<key>spriteSize</key>
				<string>{130,97}</string>
				<key>spriteSourceSize</key>
				<string>{147,113}</string>
				<key>textureRect</key>
				<string>{{148,0},{130,97}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_53_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-0.5}</string>
				<key>spriteSize</key>
				<string>{89,94}</string>
				<key>spriteSourceSize</key>
				<string>{147,113}</string>
				<key>textureRect</key>
				<string>{{0,220},{89,94}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_53_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,0}</string>
				<key>spriteSize</key>
				<string>{147,113}</string>
				<key>spriteSourceSize</key>
				<string>{147,113}</string>
				<key>textureRect</key>
				<string>{{0,0},{147,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,50}</string>
				<key>spriteSourceSize</key>
				<string>{42,56}</string>
				<key>textureRect</key>
				<string>{{142,213},{36,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,56}</string>
				<key>spriteSourceSize</key>
				<string>{42,56}</string>
				<key>textureRect</key>
				<string>{{171,131},{42,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_53_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,50}</string>
				<key>spriteSourceSize</key>
				<string>{22,50}</string>
				<key>textureRect</key>
				<string>{{95,282},{22,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_53_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{17,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,46}</string>
				<key>textureRect</key>
				<string>{{228,131},{17,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,58}</string>
				<key>spriteSourceSize</key>
				<string>{30,58}</string>
				<key>textureRect</key>
				<string>{{140,131},{30,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{53,38}</string>
				<key>spriteSourceSize</key>
				<string>{54,40}</string>
				<key>textureRect</key>
				<string>{{171,174},{53,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{46,32}</string>
				<key>spriteSourceSize</key>
				<string>{46,34}</string>
				<key>textureRect</key>
				<string>{{146,264},{46,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_53_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{61,46}</string>
				<key>spriteSourceSize</key>
				<string>{62,48}</string>
				<key>textureRect</key>
				<string>{{95,220},{61,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_53-uhd.png</string>
			<key>size</key>
			<string>{245,309}</string>
			<key>textureFileName</key>
			<string>icons/robot_53-uhd.png</string>
		</dict>
	</dict>
</plist>