<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_57_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,57}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{2,67},{59,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_57_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{63,67},{55,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,8.75}</string>
			<key>spriteSize</key>
			<string>{46,34}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{66,2},{46,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_57_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,62}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{2,2},{63,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{117,34},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{120,34},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{114,34},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.25}</string>
			<key>spriteSize</key>
			<string>{9,24}</string>
			<key>spriteSourceSize</key>
			<string>{9,24}</string>
			<key>textureRect</key>
			<string>{{136,2},{9,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_57_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{9,24}</string>
			<key>textureRect</key>
			<string>{{126,34},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{9,24}</string>
			<key>textureRect</key>
			<string>{{123,34},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{32,23}</string>
			<key>spriteSourceSize</key>
			<string>{36,27}</string>
			<key>textureRect</key>
			<string>{{104,38},{32,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_57_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{30,20}</string>
			<key>spriteSourceSize</key>
			<string>{36,27}</string>
			<key>textureRect</key>
			<string>{{114,2},{30,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_57_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,27}</string>
			<key>textureRect</key>
			<string>{{66,38},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_57-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_57-hd.png</string>
	</dict>
</dict>
</plist>
