<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_38_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{75,65}</string>
			<key>spriteSourceSize</key>
			<string>{78,68}</string>
			<key>textureRect</key>
			<string>{{72,2},{75,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,58}</string>
			<key>spriteSourceSize</key>
			<string>{78,68}</string>
			<key>textureRect</key>
			<string>{{139,2},{73,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{44,59}</string>
			<key>spriteSourceSize</key>
			<string>{78,68}</string>
			<key>textureRect</key>
			<string>{{72,79},{44,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{78,68}</string>
			<key>spriteSourceSize</key>
			<string>{78,68}</string>
			<key>textureRect</key>
			<string>{{2,2},{78,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,29},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,33},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,25},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,41},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,45},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{249,37},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{36,21}</string>
			<key>spriteSourceSize</key>
			<string>{39,24}</string>
			<key>textureRect</key>
			<string>{{214,2},{36,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{33,18}</string>
			<key>spriteSourceSize</key>
			<string>{39,24}</string>
			<key>textureRect</key>
			<string>{{214,25},{33,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{39,24}</string>
			<key>spriteSourceSize</key>
			<string>{39,24}</string>
			<key>textureRect</key>
			<string>{{2,82},{39,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_38-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_38-hd.png</string>
	</dict>
</dict>
</plist>
