<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_38_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{75,65}</string>
			<key>spriteSourceSize</key>
			<string>{79,69}</string>
			<key>textureRect</key>
			<string>{{73,2},{75,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{73,58}</string>
			<key>spriteSourceSize</key>
			<string>{79,69}</string>
			<key>textureRect</key>
			<string>{{140,2},{73,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{43,58}</string>
			<key>spriteSourceSize</key>
			<string>{79,69}</string>
			<key>textureRect</key>
			<string>{{73,79},{43,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{79,69}</string>
			<key>spriteSourceSize</key>
			<string>{79,69}</string>
			<key>textureRect</key>
			<string>{{2,2},{79,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,30},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,34},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,26},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,42},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,46},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,38},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_38_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{30,18}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{215,26},{30,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{27,15}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{215,46},{27,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_38_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{34,22}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{215,2},{34,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_38-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_38-hd.png</string>
	</dict>
</dict>
</plist>
