<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_14_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-14}</string>
				<key>spriteSize</key>
				<string>{122,127}</string>
				<key>spriteSourceSize</key>
				<string>{132,137}</string>
				<key>textureRect</key>
				<string>{{133,0},{122,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-14}</string>
				<key>spriteSize</key>
				<string>{112,119}</string>
				<key>spriteSourceSize</key>
				<string>{132,137}</string>
				<key>textureRect</key>
				<string>{{0,138},{112,119}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_14_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,-26.5}</string>
				<key>spriteSize</key>
				<string>{97,92}</string>
				<key>spriteSourceSize</key>
				<string>{132,137}</string>
				<key>textureRect</key>
				<string>{{120,138},{97,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_14_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-14}</string>
				<key>spriteSize</key>
				<string>{132,137}</string>
				<key>spriteSourceSize</key>
				<string>{132,137}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{64,35}</string>
				<key>spriteSourceSize</key>
				<string>{75,45}</string>
				<key>textureRect</key>
				<string>{{213,128},{64,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_14_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-6}</string>
				<key>spriteSize</key>
				<string>{37,15}</string>
				<key>spriteSourceSize</key>
				<string>{75,45}</string>
				<key>textureRect</key>
				<string>{{213,193},{37,15}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_14_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,45}</string>
				<key>spriteSourceSize</key>
				<string>{75,45}</string>
				<key>textureRect</key>
				<string>{{0,251},{75,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_14-uhd.png</string>
			<key>size</key>
			<string>{255,296}</string>
			<key>textureFileName</key>
			<string>icons/robot_14-uhd.png</string>
		</dict>
	</dict>
</plist>