<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_48_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2.75}</string>
			<key>spriteSize</key>
			<string>{61,58}</string>
			<key>spriteSourceSize</key>
			<string>{65,62}</string>
			<key>textureRect</key>
			<string>{{66,2},{61,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{59,56}</string>
			<key>spriteSourceSize</key>
			<string>{65,62}</string>
			<key>textureRect</key>
			<string>{{66,65},{59,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,2.5}</string>
			<key>spriteSize</key>
			<string>{52,51}</string>
			<key>spriteSourceSize</key>
			<string>{65,62}</string>
			<key>textureRect</key>
			<string>{{2,69},{52,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2.75}</string>
			<key>spriteSize</key>
			<string>{65,62}</string>
			<key>spriteSourceSize</key>
			<string>{65,62}</string>
			<key>textureRect</key>
			<string>{{2,2},{65,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{126,2},{21,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1.25}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{149,2},{18,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{124,65},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{55,69},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{7,11}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{55,111},{7,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{126,33},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{141,33},{28,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3.75}</string>
			<key>spriteSize</key>
			<string>{13,7}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{55,96},{13,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{124,100},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_48-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_48-hd.png</string>
	</dict>
</dict>
</plist>
