<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_50_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,0}</string>
				<key>spriteSize</key>
				<string>{117,104}</string>
				<key>spriteSourceSize</key>
				<string>{125,112}</string>
				<key>textureRect</key>
				<string>{{0,113},{117,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,0}</string>
				<key>spriteSize</key>
				<string>{107,96}</string>
				<key>spriteSourceSize</key>
				<string>{125,112}</string>
				<key>textureRect</key>
				<string>{{126,0},{107,96}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_50_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,0}</string>
				<key>spriteSize</key>
				<string>{96,92}</string>
				<key>spriteSourceSize</key>
				<string>{125,112}</string>
				<key>textureRect</key>
				<string>{{126,108},{96,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,0}</string>
				<key>spriteSize</key>
				<string>{125,112}</string>
				<key>spriteSourceSize</key>
				<string>{125,112}</string>
				<key>textureRect</key>
				<string>{{0,0},{125,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,56}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{154,201},{40,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,32}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{223,54},{22,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_50_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,64}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{0,218},{48,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_50_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{195,201},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{14,45}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{195,252},{14,45}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_50_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{127,201},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{53,38}</string>
				<key>spriteSourceSize</key>
				<string>{54,40}</string>
				<key>textureRect</key>
				<string>{{223,0},{53,38}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_50_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{46,32}</string>
				<key>spriteSourceSize</key>
				<string>{46,34}</string>
				<key>textureRect</key>
				<string>{{214,201},{46,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_50_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{61,46}</string>
				<key>spriteSourceSize</key>
				<string>{62,48}</string>
				<key>textureRect</key>
				<string>{{65,218},{61,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_50-uhd.png</string>
			<key>size</key>
			<string>{261,266}</string>
			<key>textureFileName</key>
			<string>icons/robot_50-uhd.png</string>
		</dict>
	</dict>
</plist>