<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_33_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,46}</string>
			<key>spriteSourceSize</key>
			<string>{58,50}</string>
			<key>textureRect</key>
			<string>{{2,62},{54,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,43}</string>
			<key>spriteSourceSize</key>
			<string>{58,50}</string>
			<key>textureRect</key>
			<string>{{50,62},{51,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,4.2}</string>
			<key>spriteSize</key>
			<string>{46,33}</string>
			<key>spriteSourceSize</key>
			<string>{58,50}</string>
			<key>textureRect</key>
			<string>{{54,2},{46,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,50}</string>
			<key>spriteSourceSize</key>
			<string>{58,50}</string>
			<key>textureRect</key>
			<string>{{2,2},{58,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{22,26}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{110,91},{22,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,4}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{77,115},{7,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{27,31}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{95,26},{27,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{50,115},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{54,59},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{95,91},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{30,18}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{95,59},{30,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{86,122},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{34,22}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{89,2},{34,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_33-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_33-hd.png</string>
	</dict>
</dict>
</plist>
