<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_62_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,5}</string>
				<key>spriteSize</key>
				<string>{119,77}</string>
				<key>spriteSourceSize</key>
				<string>{119,77}</string>
				<key>textureRect</key>
				<string>{{0,86},{119,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,5}</string>
				<key>spriteSize</key>
				<string>{114,73}</string>
				<key>spriteSourceSize</key>
				<string>{114,73}</string>
				<key>textureRect</key>
				<string>{{128,0},{114,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_62_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9.5,5.5}</string>
				<key>spriteSize</key>
				<string>{104,67}</string>
				<key>spriteSourceSize</key>
				<string>{104,67}</string>
				<key>textureRect</key>
				<string>{{0,164},{104,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,5}</string>
				<key>spriteSize</key>
				<string>{127,85}</string>
				<key>spriteSourceSize</key>
				<string>{127,85}</string>
				<key>textureRect</key>
				<string>{{0,0},{127,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,55}</string>
				<key>spriteSourceSize</key>
				<string>{37,55}</string>
				<key>textureRect</key>
				<string>{{190,120},{37,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,54}</string>
				<key>spriteSourceSize</key>
				<string>{36,54}</string>
				<key>textureRect</key>
				<string>{{186,176},{36,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,62}</string>
				<key>spriteSourceSize</key>
				<string>{44,62}</string>
				<key>textureRect</key>
				<string>{{105,164},{44,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,49}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{0,232},{17,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_62_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,45}</string>
				<key>spriteSourceSize</key>
				<string>{13,45}</string>
				<key>textureRect</key>
				<string>{{223,176},{13,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,57}</string>
				<key>spriteSourceSize</key>
				<string>{25,57}</string>
				<key>textureRect</key>
				<string>{{202,62},{25,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_62_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,35}</string>
				<key>spriteSourceSize</key>
				<string>{61,35}</string>
				<key>textureRect</key>
				<string>{{150,159},{61,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_62_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,35}</string>
				<key>spriteSourceSize</key>
				<string>{61,35}</string>
				<key>textureRect</key>
				<string>{{202,0},{61,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_62_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,43}</string>
				<key>spriteSourceSize</key>
				<string>{69,43}</string>
				<key>textureRect</key>
				<string>{{120,115},{69,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_62-uhd.png</string>
			<key>size</key>
			<string>{237,249}</string>
			<key>textureFileName</key>
			<string>icons/robot_62-uhd.png</string>
		</dict>
	</dict>
</plist>