<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_65_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,74}</string>
				<key>spriteSourceSize</key>
				<string>{106,74}</string>
				<key>textureRect</key>
				<string>{{0,84},{106,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,70}</string>
				<key>spriteSourceSize</key>
				<string>{102,70}</string>
				<key>textureRect</key>
				<string>{{116,0},{102,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_65_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{114,82}</string>
				<key>spriteSourceSize</key>
				<string>{114,82}</string>
				<key>textureRect</key>
				<string>{{0,0},{114,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,47}</string>
				<key>spriteSourceSize</key>
				<string>{37,47}</string>
				<key>textureRect</key>
				<string>{{170,104},{37,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_65_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,43}</string>
				<key>spriteSourceSize</key>
				<string>{33,43}</string>
				<key>textureRect</key>
				<string>{{188,57},{33,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,55}</string>
				<key>spriteSourceSize</key>
				<string>{45,55}</string>
				<key>textureRect</key>
				<string>{{188,0},{45,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,48}</string>
				<key>spriteSourceSize</key>
				<string>{19,48}</string>
				<key>textureRect</key>
				<string>{{58,160},{19,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_65_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,44}</string>
				<key>spriteSourceSize</key>
				<string>{15,44}</string>
				<key>textureRect</key>
				<string>{{212,143},{15,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,56}</string>
				<key>spriteSourceSize</key>
				<string>{27,56}</string>
				<key>textureRect</key>
				<string>{{0,160},{27,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_65_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,35}</string>
				<key>spriteSourceSize</key>
				<string>{52,35}</string>
				<key>textureRect</key>
				<string>{{108,149},{52,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,30}</string>
				<key>spriteSourceSize</key>
				<string>{48,30}</string>
				<key>textureRect</key>
				<string>{{162,149},{48,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_65_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,43}</string>
				<key>spriteSourceSize</key>
				<string>{60,43}</string>
				<key>textureRect</key>
				<string>{{108,104},{60,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_65-uhd.png</string>
			<key>size</key>
			<string>{233,187}</string>
			<key>textureFileName</key>
			<string>icons/robot_65-uhd.png</string>
		</dict>
	</dict>
</plist>