<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_57_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,6}</string>
				<key>spriteSize</key>
				<string>{132,94}</string>
				<key>spriteSourceSize</key>
				<string>{132,94}</string>
				<key>textureRect</key>
				<string>{{0,103},{132,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,6}</string>
				<key>spriteSize</key>
				<string>{123,85}</string>
				<key>spriteSourceSize</key>
				<string>{123,85}</string>
				<key>textureRect</key>
				<string>{{141,0},{123,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,4}</string>
				<key>spriteSize</key>
				<string>{103,63}</string>
				<key>spriteSourceSize</key>
				<string>{103,63}</string>
				<key>textureRect</key>
				<string>{{141,86},{103,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,6}</string>
				<key>spriteSize</key>
				<string>{140,102}</string>
				<key>spriteSourceSize</key>
				<string>{140,102}</string>
				<key>textureRect</key>
				<string>{{0,0},{140,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,49}</string>
				<key>spriteSourceSize</key>
				<string>{48,49}</string>
				<key>textureRect</key>
				<string>{{88,198},{48,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,42}</string>
				<key>spriteSourceSize</key>
				<string>{30,42}</string>
				<key>textureRect</key>
				<string>{{137,198},{30,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{61,58}</string>
				<key>spriteSourceSize</key>
				<string>{61,59}</string>
				<key>textureRect</key>
				<string>{{0,198},{61,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,49}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{245,86},{17,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,57}</string>
				<key>spriteSourceSize</key>
				<string>{25,57}</string>
				<key>textureRect</key>
				<string>{{62,198},{25,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,32}</string>
				<key>spriteSourceSize</key>
				<string>{54,32}</string>
				<key>textureRect</key>
				<string>{{196,150},{54,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-11}</string>
				<key>spriteSize</key>
				<string>{47,6}</string>
				<key>spriteSourceSize</key>
				<string>{47,6}</string>
				<key>textureRect</key>
				<string>{{133,191},{47,6}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_57_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,40}</string>
				<key>spriteSourceSize</key>
				<string>{62,40}</string>
				<key>textureRect</key>
				<string>{{133,150},{62,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_57-uhd.png</string>
			<key>size</key>
			<string>{264,256}</string>
			<key>textureFileName</key>
			<string>icons/robot_57-uhd.png</string>
		</dict>
	</dict>
</plist>