<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_58_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{112,101}</string>
				<key>spriteSourceSize</key>
				<string>{112,101}</string>
				<key>textureRect</key>
				<string>{{127,0},{112,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,6}</string>
				<key>spriteSize</key>
				<string>{104,84}</string>
				<key>spriteSourceSize</key>
				<string>{104,84}</string>
				<key>textureRect</key>
				<string>{{127,102},{104,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{126,115}</string>
				<key>spriteSourceSize</key>
				<string>{126,115}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{118,107}</string>
				<key>spriteSourceSize</key>
				<string>{118,107}</string>
				<key>textureRect</key>
				<string>{{0,116},{118,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,49}</string>
				<key>spriteSourceSize</key>
				<string>{36,49}</string>
				<key>textureRect</key>
				<string>{{240,88},{36,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,61}</string>
				<key>spriteSourceSize</key>
				<string>{48,61}</string>
				<key>textureRect</key>
				<string>{{119,187},{48,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,53}</string>
				<key>spriteSourceSize</key>
				<string>{40,53}</string>
				<key>textureRect</key>
				<string>{{240,34},{40,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,58}</string>
				<key>spriteSourceSize</key>
				<string>{20,58}</string>
				<key>textureRect</key>
				<string>{{168,187},{20,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,52}</string>
				<key>spriteSourceSize</key>
				<string>{14,52}</string>
				<key>textureRect</key>
				<string>{{281,34},{14,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,28}</string>
				<key>spriteSourceSize</key>
				<string>{50,28}</string>
				<key>textureRect</key>
				<string>{{64,224},{50,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,41}</string>
				<key>spriteSourceSize</key>
				<string>{63,41}</string>
				<key>textureRect</key>
				<string>{{0,224},{63,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,33}</string>
				<key>spriteSourceSize</key>
				<string>{55,33}</string>
				<key>textureRect</key>
				<string>{{240,0},{55,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_58-uhd.png</string>
			<key>size</key>
			<string>{295,265}</string>
			<key>textureFileName</key>
			<string>icons/robot_58-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>