<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_61_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,0}</string>
				<key>spriteSize</key>
				<string>{128,90}</string>
				<key>spriteSourceSize</key>
				<string>{128,90}</string>
				<key>textureRect</key>
				<string>{{0,99},{128,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_61_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,0}</string>
				<key>spriteSize</key>
				<string>{124,86}</string>
				<key>spriteSourceSize</key>
				<string>{124,86}</string>
				<key>textureRect</key>
				<string>{{137,0},{124,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,0}</string>
				<key>spriteSize</key>
				<string>{136,98}</string>
				<key>spriteSourceSize</key>
				<string>{136,98}</string>
				<key>textureRect</key>
				<string>{{0,0},{136,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_61_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{42,53}</string>
				<key>spriteSourceSize</key>
				<string>{42,54}</string>
				<key>textureRect</key>
				<string>{{63,190},{42,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,7}</string>
				<key>spriteSize</key>
				<string>{37,8}</string>
				<key>spriteSourceSize</key>
				<string>{38,22}</string>
				<key>textureRect</key>
				<string>{{199,125},{37,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_61_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,62}</string>
				<key>spriteSourceSize</key>
				<string>{50,62}</string>
				<key>textureRect</key>
				<string>{{0,190},{50,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{164,211},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{14,45}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{220,195},{14,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_61_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{164,168},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{61,34}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>textureRect</key>
				<string>{{129,168},{61,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_61_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{55,15}</string>
				<key>spriteSourceSize</key>
				<string>{58,28}</string>
				<key>textureRect</key>
				<string>{{164,195},{55,15}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_61_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{69,42}</string>
				<key>spriteSourceSize</key>
				<string>{72,42}</string>
				<key>textureRect</key>
				<string>{{129,125},{69,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_61-uhd.png</string>
			<key>size</key>
			<string>{238,240}</string>
			<key>textureFileName</key>
			<string>icons/robot_61-uhd.png</string>
		</dict>
	</dict>
</plist>