<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_51_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{69,49}</string>
			<key>spriteSourceSize</key>
			<string>{73,53}</string>
			<key>textureRect</key>
			<string>{{57,2},{69,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{66,47}</string>
			<key>spriteSourceSize</key>
			<string>{73,53}</string>
			<key>textureRect</key>
			<string>{{2,77},{66,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,5}</string>
			<key>spriteSize</key>
			<string>{56,45}</string>
			<key>spriteSourceSize</key>
			<string>{73,53}</string>
			<key>textureRect</key>
			<string>{{70,73},{56,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{73,53}</string>
			<key>spriteSourceSize</key>
			<string>{73,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{73,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{147,2},{22,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{19,19}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{128,63},{19,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{127,35},{26,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,13}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{128,102},{13,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{143,102},{10,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{128,84},{16,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{108,35},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{131,2},{24,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{108,2},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_51-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_51-hd.png</string>
	</dict>
</dict>
</plist>
