<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_31_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{154,138}</string>
				<key>spriteSourceSize</key>
				<string>{162,146}</string>
				<key>textureRect</key>
				<string>{{0,147},{154,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,9.5}</string>
				<key>spriteSize</key>
				<string>{126,63}</string>
				<key>spriteSourceSize</key>
				<string>{162,146}</string>
				<key>textureRect</key>
				<string>{{163,0},{126,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_31_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{40.5,7}</string>
				<key>spriteSize</key>
				<string>{63,56}</string>
				<key>spriteSourceSize</key>
				<string>{162,146}</string>
				<key>textureRect</key>
				<string>{{155,192},{63,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{162,146}</string>
				<key>spriteSourceSize</key>
				<string>{162,146}</string>
				<key>textureRect</key>
				<string>{{0,0},{162,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,132},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,136},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,140},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,144},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,148},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{221,152},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,1}</string>
				<key>spriteSize</key>
				<string>{57,36}</string>
				<key>spriteSourceSize</key>
				<string>{58,38}</string>
				<key>textureRect</key>
				<string>{{155,249},{57,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{221,127},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_31_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,1}</string>
				<key>spriteSize</key>
				<string>{65,44}</string>
				<key>spriteSourceSize</key>
				<string>{66,46}</string>
				<key>textureRect</key>
				<string>{{155,147},{65,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_31-uhd.png</string>
			<key>size</key>
			<string>{226,285}</string>
			<key>textureFileName</key>
			<string>icons/robot_31-uhd.png</string>
		</dict>
	</dict>
</plist>