<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_51_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6.5}</string>
			<key>spriteSize</key>
			<string>{64,61}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{132,2},{64,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-2.5}</string>
			<key>spriteSize</key>
			<string>{67,58}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{72,2},{67,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,3.5}</string>
			<key>spriteSize</key>
			<string>{37,29}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{2,76},{37,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-5.25}</string>
			<key>spriteSize</key>
			<string>{72,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{2,2},{72,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,31}</string>
			<key>textureRect</key>
			<string>{{88,101},{20,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{26,31}</string>
			<key>textureRect</key>
			<string>{{129,71},{18,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,0}</string>
			<key>spriteSize</key>
			<string>{26,31}</string>
			<key>spriteSourceSize</key>
			<string>{26,31}</string>
			<key>textureRect</key>
			<string>{{60,76},{26,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{13,19}</string>
			<key>spriteSourceSize</key>
			<string>{18,25}</string>
			<key>textureRect</key>
			<string>{{60,109},{13,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,2}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{18,25}</string>
			<key>textureRect</key>
			<string>{{33,112},{12,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{18,25}</string>
			<key>spriteSourceSize</key>
			<string>{18,25}</string>
			<key>textureRect</key>
			<string>{{109,71},{18,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,1.25}</string>
			<key>spriteSize</key>
			<string>{28,19}</string>
			<key>spriteSourceSize</key>
			<string>{34,25}</string>
			<key>textureRect</key>
			<string>{{88,71},{28,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,1.5}</string>
			<key>spriteSize</key>
			<string>{21,20}</string>
			<key>spriteSourceSize</key>
			<string>{34,25}</string>
			<key>textureRect</key>
			<string>{{116,98},{21,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{34,25}</string>
			<key>spriteSourceSize</key>
			<string>{34,25}</string>
			<key>textureRect</key>
			<string>{{33,76},{34,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_51-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_51-hd.png</string>
	</dict>
</dict>
</plist>
