<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_31_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,69}</string>
			<key>spriteSourceSize</key>
			<string>{81,73}</string>
			<key>textureRect</key>
			<string>{{77,2},{77,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,4.8}</string>
			<key>spriteSize</key>
			<string>{63,32}</string>
			<key>spriteSourceSize</key>
			<string>{81,73}</string>
			<key>textureRect</key>
			<string>{{2,85},{63,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20.2,3.5}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{81,73}</string>
			<key>textureRect</key>
			<string>{{91,81},{32,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,73}</string>
			<key>spriteSourceSize</key>
			<string>{81,73}</string>
			<key>textureRect</key>
			<string>{{2,2},{81,73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{81,81},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{85,81},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{77,81},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{6,120},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{10,120},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{2,120},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{29,18}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{121,81},{29,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{14,120},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{33,22}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{67,85},{33,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_31-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_31-hd.png</string>
	</dict>
</dict>
</plist>
