<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_21_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,95}</string>
				<key>spriteSourceSize</key>
				<string>{116,103}</string>
				<key>textureRect</key>
				<string>{{0,104},{108,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,89}</string>
				<key>spriteSourceSize</key>
				<string>{116,103}</string>
				<key>textureRect</key>
				<string>{{117,0},{102,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{19,2.5}</string>
				<key>spriteSize</key>
				<string>{62,82}</string>
				<key>spriteSourceSize</key>
				<string>{116,103}</string>
				<key>textureRect</key>
				<string>{{117,103},{62,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,103}</string>
				<key>spriteSourceSize</key>
				<string>{116,103}</string>
				<key>textureRect</key>
				<string>{{0,0},{116,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{41,53}</string>
				<key>spriteSourceSize</key>
				<string>{41,53}</string>
				<key>textureRect</key>
				<string>{{200,103},{41,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{16,26}</string>
				<key>spriteSourceSize</key>
				<string>{41,53}</string>
				<key>textureRect</key>
				<string>{{161,227},{16,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{51,63}</string>
				<key>spriteSourceSize</key>
				<string>{51,63}</string>
				<key>textureRect</key>
				<string>{{109,166},{51,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{190,166},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{66,230},{14,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,60}</string>
				<key>spriteSourceSize</key>
				<string>{28,60}</string>
				<key>textureRect</key>
				<string>{{161,166},{28,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{207,0},{55,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_21_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13,-5}</string>
				<key>spriteSize</key>
				<string>{23,16}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{188,227},{23,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_21_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,44}</string>
				<key>spriteSourceSize</key>
				<string>{65,44}</string>
				<key>textureRect</key>
				<string>{{0,200},{65,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_21-uhd.png</string>
			<key>size</key>
			<string>{241,244}</string>
			<key>textureFileName</key>
			<string>icons/robot_21-uhd.png</string>
		</dict>
	</dict>
</plist>