<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_50_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{59,52}</string>
			<key>spriteSourceSize</key>
			<string>{63,56}</string>
			<key>textureRect</key>
			<string>{{60,2},{59,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0}</string>
			<key>spriteSize</key>
			<string>{54,48}</string>
			<key>spriteSourceSize</key>
			<string>{63,56}</string>
			<key>textureRect</key>
			<string>{{2,67},{54,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{63,56}</string>
			<key>textureRect</key>
			<string>{{52,67},{48,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{63,56}</string>
			<key>spriteSourceSize</key>
			<string>{63,56}</string>
			<key>textureRect</key>
			<string>{{2,2},{63,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,28}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{121,2},{20,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,16}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{126,53},{11,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{100,56},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{60,56},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.2}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{52,117},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{125,90},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{27,19}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{121,32},{27,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_50_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{143,2},{23,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_50_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{31,23}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{100,90},{31,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_50-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_50-hd.png</string>
	</dict>
</dict>
</plist>
