<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_40_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{134,109}</string>
				<key>spriteSourceSize</key>
				<string>{134,109}</string>
				<key>textureRect</key>
				<string>{{149,0},{134,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,37}</string>
				<key>spriteSize</key>
				<string>{111,48}</string>
				<key>spriteSourceSize</key>
				<string>{111,48}</string>
				<key>textureRect</key>
				<string>{{149,110},{111,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{148,123}</string>
				<key>spriteSourceSize</key>
				<string>{148,123}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{140,115}</string>
				<key>spriteSourceSize</key>
				<string>{140,115}</string>
				<key>textureRect</key>
				<string>{{0,124},{140,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,10}</string>
				<key>spriteSize</key>
				<string>{63,46}</string>
				<key>spriteSourceSize</key>
				<string>{63,46}</string>
				<key>textureRect</key>
				<string>{{217,159},{63,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,10}</string>
				<key>spriteSize</key>
				<string>{75,58}</string>
				<key>spriteSourceSize</key>
				<string>{75,58}</string>
				<key>textureRect</key>
				<string>{{141,159},{75,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,10}</string>
				<key>spriteSize</key>
				<string>{67,50}</string>
				<key>spriteSourceSize</key>
				<string>{67,50}</string>
				<key>textureRect</key>
				<string>{{0,240},{67,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{17,48}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{261,110},{17,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{5,5}</string>
				<key>spriteSourceSize</key>
				<string>{5,5}</string>
				<key>textureRect</key>
				<string>{{277,206},{5,5}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,45}</string>
				<key>spriteSourceSize</key>
				<string>{67,45}</string>
				<key>textureRect</key>
				<string>{{68,240},{67,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,37}</string>
				<key>spriteSourceSize</key>
				<string>{59,37}</string>
				<key>textureRect</key>
				<string>{{217,206},{59,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_40-uhd.png</string>
			<key>size</key>
			<string>{283,290}</string>
			<key>textureFileName</key>
			<string>icons/robot_40-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>