<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_16_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,114}</string>
				<key>spriteSourceSize</key>
				<string>{110,122}</string>
				<key>textureRect</key>
				<string>{{111,0},{102,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{75,108}</string>
				<key>spriteSourceSize</key>
				<string>{110,122}</string>
				<key>textureRect</key>
				<string>{{0,123},{75,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,-30}</string>
				<key>spriteSize</key>
				<string>{49,46}</string>
				<key>spriteSourceSize</key>
				<string>{110,122}</string>
				<key>textureRect</key>
				<string>{{163,176},{49,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,122}</string>
				<key>spriteSourceSize</key>
				<string>{110,122}</string>
				<key>textureRect</key>
				<string>{{0,0},{110,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,54}</string>
				<key>spriteSourceSize</key>
				<string>{45,54}</string>
				<key>textureRect</key>
				<string>{{214,0},{45,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,12}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{45,54}</string>
				<key>textureRect</key>
				<string>{{208,166},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,62}</string>
				<key>spriteSourceSize</key>
				<string>{53,62}</string>
				<key>textureRect</key>
				<string>{{109,123},{53,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{208,115},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{111,115},{5,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{0,199},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_16_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,37}</string>
				<key>spriteSourceSize</key>
				<string>{52,40}</string>
				<key>textureRect</key>
				<string>{{109,186},{52,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{46,31}</string>
				<key>spriteSourceSize</key>
				<string>{46,34}</string>
				<key>textureRect</key>
				<string>{{210,134},{46,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_16_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{60,44}</string>
				<key>spriteSourceSize</key>
				<string>{60,46}</string>
				<key>textureRect</key>
				<string>{{163,115},{60,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_16-uhd.png</string>
			<key>size</key>
			<string>{259,225}</string>
			<key>textureFileName</key>
			<string>icons/robot_16-uhd.png</string>
		</dict>
	</dict>
</plist>