<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_48_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.2,3.2}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{64,63}</string>
			<key>textureRect</key>
			<string>{{67,2},{60,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.8,4.8}</string>
			<key>spriteSize</key>
			<string>{47,48}</string>
			<key>spriteSourceSize</key>
			<string>{64,63}</string>
			<key>textureRect</key>
			<string>{{50,68},{47,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,3}</string>
			<key>spriteSize</key>
			<string>{53,46}</string>
			<key>spriteSourceSize</key>
			<string>{64,63}</string>
			<key>textureRect</key>
			<string>{{2,68},{53,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.2,3.2}</string>
			<key>spriteSize</key>
			<string>{64,63}</string>
			<key>spriteSourceSize</key>
			<string>{64,63}</string>
			<key>textureRect</key>
			<string>{{2,2},{64,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{126,64},{21,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1.2}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{128,2},{18,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{99,64},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{128,30},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{7,11}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{139,45},{7,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{133,95},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_48_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{148,95},{28,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3.8}</string>
			<key>spriteSize</key>
			<string>{13,7}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{139,30},{13,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_48_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{99,99},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_48-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_48-hd.png</string>
	</dict>
</dict>
</plist>
