<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_05_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{57,51}</string>
			<key>spriteSourceSize</key>
			<string>{60,54}</string>
			<key>textureRect</key>
			<string>{{2,64},{57,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,48}</string>
			<key>spriteSourceSize</key>
			<string>{60,54}</string>
			<key>textureRect</key>
			<string>{{55,64},{54,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3.5}</string>
			<key>spriteSize</key>
			<string>{51,39}</string>
			<key>spriteSourceSize</key>
			<string>{60,54}</string>
			<key>textureRect</key>
			<string>{{58,2},{51,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,54}</string>
			<key>spriteSourceSize</key>
			<string>{60,54}</string>
			<key>textureRect</key>
			<string>{{2,2},{60,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.2}</string>
			<key>spriteSize</key>
			<string>{25,24}</string>
			<key>spriteSourceSize</key>
			<string>{29,28}</string>
			<key>textureRect</key>
			<string>{{105,89},{25,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{24,23}</string>
			<key>spriteSourceSize</key>
			<string>{29,28}</string>
			<key>textureRect</key>
			<string>{{131,58},{24,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,28}</string>
			<key>spriteSourceSize</key>
			<string>{29,28}</string>
			<key>textureRect</key>
			<string>{{123,2},{29,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{120,58},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{58,55},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{105,58},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,-0.5}</string>
			<key>spriteSize</key>
			<string>{30,18}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{99,38},{30,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.8,-2.2}</string>
			<key>spriteSize</key>
			<string>{18,10}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{131,33},{18,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,22}</string>
			<key>spriteSourceSize</key>
			<string>{34,22}</string>
			<key>textureRect</key>
			<string>{{99,2},{34,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_05-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_05-hd.png</string>
	</dict>
</dict>
</plist>
