<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_53_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{70,53}</string>
			<key>spriteSourceSize</key>
			<string>{74,57}</string>
			<key>textureRect</key>
			<string>{{61,2},{70,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.2,0}</string>
			<key>spriteSize</key>
			<string>{65,49}</string>
			<key>spriteSourceSize</key>
			<string>{74,57}</string>
			<key>textureRect</key>
			<string>{{61,74},{65,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.2}</string>
			<key>spriteSize</key>
			<string>{45,47}</string>
			<key>spriteSourceSize</key>
			<string>{74,57}</string>
			<key>textureRect</key>
			<string>{{2,78},{45,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{74,57}</string>
			<key>spriteSourceSize</key>
			<string>{74,57}</string>
			<key>textureRect</key>
			<string>{{2,2},{74,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,25}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{149,96},{18,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{149,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,28}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{128,66},{21,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,25}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{133,35},{11,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{9,23}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{141,2},{9,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,29}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{116,35},{15,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_53_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{27,19}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{128,96},{27,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{146,27},{23,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_53_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0.5}</string>
			<key>spriteSize</key>
			<string>{31,23}</string>
			<key>spriteSourceSize</key>
			<string>{31,23}</string>
			<key>textureRect</key>
			<string>{{116,2},{31,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_53-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_53-hd.png</string>
	</dict>
</dict>
</plist>
