<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_15_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-4}</string>
				<key>spriteSize</key>
				<string>{123,90}</string>
				<key>spriteSourceSize</key>
				<string>{131,98}</string>
				<key>textureRect</key>
				<string>{{0,99},{123,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,7}</string>
				<key>spriteSize</key>
				<string>{113,52}</string>
				<key>spriteSourceSize</key>
				<string>{131,98}</string>
				<key>textureRect</key>
				<string>{{132,0},{113,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_15_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-4}</string>
				<key>spriteSize</key>
				<string>{131,98}</string>
				<key>spriteSourceSize</key>
				<string>{131,98}</string>
				<key>textureRect</key>
				<string>{{0,0},{131,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{47,63}</string>
				<key>spriteSourceSize</key>
				<string>{48,66}</string>
				<key>textureRect</key>
				<string>{{180,114},{47,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{18,18}</string>
				<key>spriteSourceSize</key>
				<string>{18,34}</string>
				<key>textureRect</key>
				<string>{{137,201},{18,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{55,71}</string>
				<key>spriteSourceSize</key>
				<string>{56,74}</string>
				<key>textureRect</key>
				<string>{{124,114},{55,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{180,178},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_15_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{124,186},{14,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_15_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{64,190},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_15_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{63,37}</string>
				<key>spriteSourceSize</key>
				<string>{66,38}</string>
				<key>textureRect</key>
				<string>{{0,190},{63,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_15_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10.5,4.5}</string>
				<key>spriteSize</key>
				<string>{21,13}</string>
				<key>spriteSourceSize</key>
				<string>{42,22}</string>
				<key>textureRect</key>
				<string>{{123,201},{21,13}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_15_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{71,45}</string>
				<key>spriteSourceSize</key>
				<string>{74,46}</string>
				<key>textureRect</key>
				<string>{{185,0},{71,45}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_15-uhd.png</string>
			<key>size</key>
			<string>{230,227}</string>
			<key>textureFileName</key>
			<string>icons/robot_15-uhd.png</string>
		</dict>
	</dict>
</plist>