<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_45_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-4}</string>
				<key>spriteSize</key>
				<string>{115,109}</string>
				<key>spriteSourceSize</key>
				<string>{115,109}</string>
				<key>textureRect</key>
				<string>{{0,118},{115,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-2}</string>
				<key>spriteSize</key>
				<string>{109,98}</string>
				<key>spriteSourceSize</key>
				<string>{109,98}</string>
				<key>textureRect</key>
				<string>{{116,118},{109,98}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_45_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{17,-17}</string>
				<key>spriteSize</key>
				<string>{35,30}</string>
				<key>spriteSourceSize</key>
				<string>{35,30}</string>
				<key>textureRect</key>
				<string>{{215,112},{35,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-4}</string>
				<key>spriteSize</key>
				<string>{123,117}</string>
				<key>spriteSourceSize</key>
				<string>{123,117}</string>
				<key>textureRect</key>
				<string>{{0,0},{123,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,53}</string>
				<key>spriteSourceSize</key>
				<string>{38,53}</string>
				<key>textureRect</key>
				<string>{{219,58},{38,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,8}</string>
				<key>spriteSize</key>
				<string>{8,7}</string>
				<key>spriteSourceSize</key>
				<string>{38,53}</string>
				<key>textureRect</key>
				<string>{{251,112},{8,7}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_45_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,63}</string>
				<key>spriteSourceSize</key>
				<string>{48,63}</string>
				<key>textureRect</key>
				<string>{{124,44},{48,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{176,61},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{195,61},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,60}</string>
				<key>spriteSourceSize</key>
				<string>{28,60}</string>
				<key>textureRect</key>
				<string>{{190,0},{28,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,35}</string>
				<key>spriteSourceSize</key>
				<string>{57,35}</string>
				<key>textureRect</key>
				<string>{{219,0},{57,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_45_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-11}</string>
				<key>spriteSize</key>
				<string>{51,7}</string>
				<key>spriteSourceSize</key>
				<string>{57,35}</string>
				<key>textureRect</key>
				<string>{{124,108},{51,7}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_45_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,43}</string>
				<key>spriteSourceSize</key>
				<string>{65,43}</string>
				<key>textureRect</key>
				<string>{{124,0},{65,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_45-uhd.png</string>
			<key>size</key>
			<string>{258,227}</string>
			<key>textureFileName</key>
			<string>icons/robot_45-uhd.png</string>
		</dict>
	</dict>
</plist>