<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_04_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,61}</string>
			<key>spriteSourceSize</key>
			<string>{60,65}</string>
			<key>textureRect</key>
			<string>{{64,2},{56,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{60,65}</string>
			<key>textureRect</key>
			<string>{{2,69},{50,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_04_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,5}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{60,65}</string>
			<key>textureRect</key>
			<string>{{54,69},{48,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,65}</string>
			<key>spriteSourceSize</key>
			<string>{60,65}</string>
			<key>textureRect</key>
			<string>{{2,2},{60,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{22,30}</string>
			<key>textureRect</key>
			<string>{{137,2},{18,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-4}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{22,30}</string>
			<key>textureRect</key>
			<string>{{138,61},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,30}</string>
			<key>spriteSourceSize</key>
			<string>{22,30}</string>
			<key>textureRect</key>
			<string>{{104,98},{22,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,28}</string>
			<key>textureRect</key>
			<string>{{127,61},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,22}</string>
			<key>spriteSourceSize</key>
			<string>{13,28}</string>
			<key>textureRect</key>
			<string>{{127,88},{7,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,28}</string>
			<key>spriteSourceSize</key>
			<string>{13,28}</string>
			<key>textureRect</key>
			<string>{{122,2},{13,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{122,32},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_04_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-2.5}</string>
			<key>spriteSize</key>
			<string>{12,7}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{138,79},{12,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{104,65},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_04-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_04-hd.png</string>
	</dict>
</dict>
</plist>
