<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_04_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,122}</string>
				<key>spriteSourceSize</key>
				<string>{112,122}</string>
				<key>textureRect</key>
				<string>{{121,0},{112,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{100,99}</string>
				<key>spriteSourceSize</key>
				<string>{100,99}</string>
				<key>textureRect</key>
				<string>{{0,131},{100,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,10}</string>
				<key>spriteSize</key>
				<string>{96,98}</string>
				<key>spriteSourceSize</key>
				<string>{96,98}</string>
				<key>textureRect</key>
				<string>{{101,131},{96,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,130}</string>
				<key>spriteSourceSize</key>
				<string>{120,130}</string>
				<key>textureRect</key>
				<string>{{0,0},{120,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,52}</string>
				<key>spriteSourceSize</key>
				<string>{36,52}</string>
				<key>textureRect</key>
				<string>{{173,230},{36,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_04_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-8}</string>
				<key>spriteSize</key>
				<string>{24,32}</string>
				<key>spriteSourceSize</key>
				<string>{24,32}</string>
				<key>textureRect</key>
				<string>{{198,123},{24,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,60}</string>
				<key>spriteSourceSize</key>
				<string>{44,60}</string>
				<key>textureRect</key>
				<string>{{234,0},{44,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,49}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{226,123},{17,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_04_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,44}</string>
				<key>spriteSourceSize</key>
				<string>{13,44}</string>
				<key>textureRect</key>
				<string>{{234,61},{13,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,56}</string>
				<key>spriteSourceSize</key>
				<string>{25,56}</string>
				<key>textureRect</key>
				<string>{{62,231},{25,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,33}</string>
				<key>spriteSourceSize</key>
				<string>{53,33}</string>
				<key>textureRect</key>
				<string>{{119,230},{53,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,-5}</string>
				<key>spriteSize</key>
				<string>{24,14}</string>
				<key>spriteSourceSize</key>
				<string>{24,14}</string>
				<key>textureRect</key>
				<string>{{62,257},{24,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,41}</string>
				<key>spriteSourceSize</key>
				<string>{61,41}</string>
				<key>textureRect</key>
				<string>{{0,231},{61,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_04-uhd.png</string>
			<key>size</key>
			<string>{278,272}</string>
			<key>textureFileName</key>
			<string>icons/robot_04-uhd.png</string>
		</dict>
	</dict>
</plist>