<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_33_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,91}</string>
				<key>spriteSourceSize</key>
				<string>{116,99}</string>
				<key>textureRect</key>
				<string>{{0,100},{108,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,85}</string>
				<key>spriteSourceSize</key>
				<string>{116,99}</string>
				<key>textureRect</key>
				<string>{{117,0},{102,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_33_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,8.5}</string>
				<key>spriteSize</key>
				<string>{92,66}</string>
				<key>spriteSourceSize</key>
				<string>{116,99}</string>
				<key>textureRect</key>
				<string>{{109,103},{92,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,99}</string>
				<key>spriteSourceSize</key>
				<string>{116,99}</string>
				<key>textureRect</key>
				<string>{{0,0},{116,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{43,52}</string>
				<key>spriteSourceSize</key>
				<string>{43,52}</string>
				<key>textureRect</key>
				<string>{{230,0},{43,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,8}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{43,52}</string>
				<key>textureRect</key>
				<string>{{200,221},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{53,62}</string>
				<key>spriteSourceSize</key>
				<string>{53,62}</string>
				<key>textureRect</key>
				<string>{{109,170},{53,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{200,170},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{2,2}</string>
				<key>textureRect</key>
				<string>{{109,100},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{203,0},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{59,36}</string>
				<key>spriteSourceSize</key>
				<string>{60,38}</string>
				<key>textureRect</key>
				<string>{{163,170},{59,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_33_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{2,2}</string>
				<key>textureRect</key>
				<string>{{112,100},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_33_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{67,44}</string>
				<key>spriteSourceSize</key>
				<string>{68,46}</string>
				<key>textureRect</key>
				<string>{{0,192},{67,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_33-uhd.png</string>
			<key>size</key>
			<string>{273,236}</string>
			<key>textureFileName</key>
			<string>icons/robot_33-uhd.png</string>
		</dict>
	</dict>
</plist>