<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_68_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-14,6}</string>
				<key>spriteSize</key>
				<string>{144,127}</string>
				<key>spriteSourceSize</key>
				<string>{144,127}</string>
				<key>textureRect</key>
				<string>{{0,137},{144,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-38,6}</string>
				<key>spriteSize</key>
				<string>{92,121}</string>
				<key>spriteSourceSize</key>
				<string>{92,121}</string>
				<key>textureRect</key>
				<string>{{227,0},{92,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-13,17}</string>
				<key>spriteSize</key>
				<string>{137,71}</string>
				<key>spriteSourceSize</key>
				<string>{138,71}</string>
				<key>textureRect</key>
				<string>{{155,0},{137,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_68_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-14,6}</string>
				<key>spriteSize</key>
				<string>{154,136}</string>
				<key>spriteSourceSize</key>
				<string>{154,136}</string>
				<key>textureRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{212,138},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{216,138},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>textureRect</key>
				<string>{{220,138},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-14}</string>
				<key>spriteSize</key>
				<string>{23,35}</string>
				<key>spriteSourceSize</key>
				<string>{23,35}</string>
				<key>textureRect</key>
				<string>{{172,172},{23,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-14}</string>
				<key>spriteSize</key>
				<string>{17,29}</string>
				<key>spriteSourceSize</key>
				<string>{17,29}</string>
				<key>textureRect</key>
				<string>{{302,122},{17,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-14}</string>
				<key>spriteSize</key>
				<string>{31,43}</string>
				<key>spriteSourceSize</key>
				<string>{31,43}</string>
				<key>textureRect</key>
				<string>{{145,230},{31,43}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_68_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,0}</string>
				<key>spriteSize</key>
				<string>{66,33}</string>
				<key>spriteSourceSize</key>
				<string>{66,33}</string>
				<key>textureRect</key>
				<string>{{145,138},{66,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_68_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,0}</string>
				<key>spriteSize</key>
				<string>{57,26}</string>
				<key>spriteSourceSize</key>
				<string>{57,26}</string>
				<key>textureRect</key>
				<string>{{145,172},{57,26}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_68_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,0}</string>
				<key>spriteSize</key>
				<string>{74,41}</string>
				<key>spriteSourceSize</key>
				<string>{74,41}</string>
				<key>textureRect</key>
				<string>{{227,122},{74,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_68-uhd.png</string>
			<key>size</key>
			<string>{319,264}</string>
			<key>textureFileName</key>
			<string>icons/robot_68-uhd.png</string>
		</dict>
	</dict>
</plist>