<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_37_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,95}</string>
				<key>spriteSourceSize</key>
				<string>{101,95}</string>
				<key>textureRect</key>
				<string>{{0,104},{101,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-1}</string>
				<key>spriteSize</key>
				<string>{95,90}</string>
				<key>spriteSourceSize</key>
				<string>{95,90}</string>
				<key>textureRect</key>
				<string>{{102,104},{95,90}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,3}</string>
				<key>spriteSize</key>
				<string>{80,76}</string>
				<key>spriteSourceSize</key>
				<string>{80,76}</string>
				<key>textureRect</key>
				<string>{{110,0},{80,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,103}</string>
				<key>spriteSourceSize</key>
				<string>{109,103}</string>
				<key>textureRect</key>
				<string>{{0,0},{109,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,53}</string>
				<key>spriteSourceSize</key>
				<string>{37,53}</string>
				<key>textureRect</key>
				<string>{{193,62},{37,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,47}</string>
				<key>spriteSourceSize</key>
				<string>{31,47}</string>
				<key>textureRect</key>
				<string>{{193,118},{31,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,61}</string>
				<key>spriteSourceSize</key>
				<string>{45,61}</string>
				<key>textureRect</key>
				<string>{{193,0},{45,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,49}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{193,100},{17,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,45}</string>
				<key>spriteSourceSize</key>
				<string>{13,45}</string>
				<key>textureRect</key>
				<string>{{193,150},{13,45}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,57}</string>
				<key>spriteSourceSize</key>
				<string>{25,57}</string>
				<key>textureRect</key>
				<string>{{110,77},{25,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_37_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,34}</string>
				<key>spriteSourceSize</key>
				<string>{56,34}</string>
				<key>textureRect</key>
				<string>{{65,200},{56,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{5,5}</string>
				<key>spriteSourceSize</key>
				<string>{5,5}</string>
				<key>textureRect</key>
				<string>{{241,118},{5,5}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_37_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,42}</string>
				<key>spriteSourceSize</key>
				<string>{64,42}</string>
				<key>textureRect</key>
				<string>{{0,200},{64,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_37-uhd.png</string>
			<key>size</key>
			<string>{246,242}</string>
			<key>textureFileName</key>
			<string>icons/robot_37-uhd.png</string>
		</dict>
	</dict>
</plist>