<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_58_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,3.75}</string>
			<key>spriteSize</key>
			<string>{67,57}</string>
			<key>spriteSourceSize</key>
			<string>{71,61}</string>
			<key>textureRect</key>
			<string>{{65,2},{67,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,6.75}</string>
			<key>spriteSize</key>
			<string>{63,48}</string>
			<key>spriteSourceSize</key>
			<string>{71,61}</string>
			<key>textureRect</key>
			<string>{{2,75},{63,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,5.25}</string>
			<key>spriteSize</key>
			<string>{53,55}</string>
			<key>spriteSourceSize</key>
			<string>{71,61}</string>
			<key>textureRect</key>
			<string>{{67,71},{53,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,4}</string>
			<key>spriteSize</key>
			<string>{71,61}</string>
			<key>spriteSourceSize</key>
			<string>{71,61}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,28}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{150,2},{20,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,6}</string>
			<key>spriteSize</key>
			<string>{8,11}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{151,109},{8,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{124,2},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{12,25}</string>
			<key>spriteSourceSize</key>
			<string>{16,29}</string>
			<key>textureRect</key>
			<string>{{124,109},{12,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{8,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,29}</string>
			<key>textureRect</key>
			<string>{{150,67},{8,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,29}</string>
			<key>spriteSourceSize</key>
			<string>{16,29}</string>
			<key>textureRect</key>
			<string>{{146,36},{16,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_58_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{32,20}</string>
			<key>spriteSourceSize</key>
			<string>{36,24}</string>
			<key>textureRect</key>
			<string>{{124,36},{32,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,4}</string>
			<key>spriteSize</key>
			<string>{17,10}</string>
			<key>spriteSourceSize</key>
			<string>{36,24}</string>
			<key>textureRect</key>
			<string>{{150,90},{17,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_58_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{36,24}</string>
			<key>spriteSourceSize</key>
			<string>{36,24}</string>
			<key>textureRect</key>
			<string>{{124,71},{36,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_58-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_58-hd.png</string>
	</dict>
</dict>
</plist>
