<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_59_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-1.25}</string>
			<key>spriteSize</key>
			<string>{49,50}</string>
			<key>spriteSourceSize</key>
			<string>{53,53}</string>
			<key>textureRect</key>
			<string>{{57,2},{49,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{42,41}</string>
			<key>spriteSourceSize</key>
			<string>{53,53}</string>
			<key>textureRect</key>
			<string>{{45,57},{42,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,1}</string>
			<key>spriteSize</key>
			<string>{44,41}</string>
			<key>spriteSourceSize</key>
			<string>{53,53}</string>
			<key>textureRect</key>
			<string>{{2,57},{44,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.25}</string>
			<key>spriteSize</key>
			<string>{53,53}</string>
			<key>spriteSourceSize</key>
			<string>{53,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{53,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{20,27}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{88,53},{20,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,24}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{88,75},{16,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{45,101},{23,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{108,75},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{7,11}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{117,48},{7,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{109,2},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.25}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{78,101},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{14,13}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{109,33},{14,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{2,103},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_59-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_59-hd.png</string>
	</dict>
</dict>
</plist>
