<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{71,63}</string>
			<key>spriteSourceSize</key>
			<string>{75,67}</string>
			<key>textureRect</key>
			<string>{{71,2},{71,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22.5,0}</string>
			<key>spriteSize</key>
			<string>{34,53}</string>
			<key>spriteSourceSize</key>
			<string>{75,67}</string>
			<key>textureRect</key>
			<string>{{58,79},{34,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,8.5}</string>
			<key>spriteSize</key>
			<string>{54,42}</string>
			<key>spriteSourceSize</key>
			<string>{75,67}</string>
			<key>textureRect</key>
			<string>{{2,79},{54,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{75,67}</string>
			<key>spriteSourceSize</key>
			<string>{75,67}</string>
			<key>textureRect</key>
			<string>{{2,2},{75,67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{75,75},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{79,75},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{71,75},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-4}</string>
			<key>spriteSize</key>
			<string>{12,17}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{113,112},{12,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{10,15}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{136,25},{10,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{16,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{136,2},{16,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,16}</string>
			<key>spriteSourceSize</key>
			<string>{35,20}</string>
			<key>textureRect</key>
			<string>{{135,75},{31,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,14}</string>
			<key>spriteSourceSize</key>
			<string>{35,20}</string>
			<key>textureRect</key>
			<string>{{135,108},{28,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,20}</string>
			<key>spriteSourceSize</key>
			<string>{35,20}</string>
			<key>textureRect</key>
			<string>{{113,75},{35,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_68-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_68-hd.png</string>
	</dict>
</dict>
</plist>
