<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_10_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,5}</string>
				<key>spriteSize</key>
				<string>{143,89}</string>
				<key>spriteSourceSize</key>
				<string>{151,97}</string>
				<key>textureRect</key>
				<string>{{0,98},{143,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,24.5}</string>
				<key>spriteSize</key>
				<string>{131,42}</string>
				<key>spriteSourceSize</key>
				<string>{151,97}</string>
				<key>textureRect</key>
				<string>{{152,0},{131,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{28,6.5}</string>
				<key>spriteSize</key>
				<string>{9,6}</string>
				<key>spriteSourceSize</key>
				<string>{151,97}</string>
				<key>textureRect</key>
				<string>{{144,98},{9,6}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,5}</string>
				<key>spriteSize</key>
				<string>{151,97}</string>
				<key>spriteSourceSize</key>
				<string>{151,97}</string>
				<key>textureRect</key>
				<string>{{0,0},{151,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,0}</string>
				<key>spriteSize</key>
				<string>{64,59}</string>
				<key>spriteSourceSize</key>
				<string>{72,67}</string>
				<key>textureRect</key>
				<string>{{195,107},{64,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-23,-9}</string>
				<key>spriteSize</key>
				<string>{28,37}</string>
				<key>spriteSourceSize</key>
				<string>{72,67}</string>
				<key>textureRect</key>
				<string>{{116,188},{28,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,0}</string>
				<key>spriteSize</key>
				<string>{72,67}</string>
				<key>spriteSourceSize</key>
				<string>{72,67}</string>
				<key>textureRect</key>
				<string>{{195,0},{72,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,40}</string>
				<key>spriteSourceSize</key>
				<string>{33,48}</string>
				<key>textureRect</key>
				<string>{{74,188},{25,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{9,28}</string>
				<key>spriteSourceSize</key>
				<string>{33,48}</string>
				<key>textureRect</key>
				<string>{{144,167},{9,28}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,48}</string>
				<key>spriteSourceSize</key>
				<string>{33,48}</string>
				<key>textureRect</key>
				<string>{{144,132},{33,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,33}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{195,73},{65,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_10_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-6}</string>
				<key>spriteSize</key>
				<string>{39,15}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{100,188},{39,15}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_10_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,41}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{0,188},{73,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_10-uhd.png</string>
			<key>size</key>
			<string>{262,229}</string>
			<key>textureFileName</key>
			<string>icons/robot_10-uhd.png</string>
		</dict>
	</dict>
</plist>