<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_14_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{61,64}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{70,2},{61,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-7}</string>
			<key>spriteSize</key>
			<string>{56,60}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{70,68},{56,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-13.25}</string>
			<key>spriteSize</key>
			<string>{49,46}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{2,73},{49,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{66,69}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{2,2},{66,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{132,121},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{135,121},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{132,118},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{138,118},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{138,121},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{135,118},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{38,23}</string>
			<key>textureRect</key>
			<string>{{50,73},{32,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,-3}</string>
			<key>spriteSize</key>
			<string>{19,8}</string>
			<key>spriteSourceSize</key>
			<string>{38,23}</string>
			<key>textureRect</key>
			<string>{{132,108},{19,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,23}</string>
			<key>spriteSourceSize</key>
			<string>{38,23}</string>
			<key>textureRect</key>
			<string>{{132,68},{38,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_14-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_14-hd.png</string>
	</dict>
</dict>
</plist>
