<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_09_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{45,45}</string>
			<key>spriteSourceSize</key>
			<string>{54,58}</string>
			<key>textureRect</key>
			<string>{{58,2},{45,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,6}</string>
			<key>spriteSize</key>
			<string>{53,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,58}</string>
			<key>textureRect</key>
			<string>{{57,61},{53,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,5.5}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,58}</string>
			<key>textureRect</key>
			<string>{{2,2},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{53,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,58}</string>
			<key>textureRect</key>
			<string>{{2,61},{53,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{24,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{112,99},{24,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{20,23}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{132,69},{20,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,31}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{112,36},{27,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{58,49},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{85,49},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{128,2},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_09_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,18}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{112,69},{28,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{22,14}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{141,94},{22,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_09_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{105,2},{32,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_09-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_09-hd.png</string>
	</dict>
</dict>
</plist>
