<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_17_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,8}</string>
				<key>spriteSize</key>
				<string>{121,138}</string>
				<key>spriteSourceSize</key>
				<string>{129,146}</string>
				<key>textureRect</key>
				<string>{{130,0},{121,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,21}</string>
				<key>spriteSize</key>
				<string>{115,106}</string>
				<key>spriteSourceSize</key>
				<string>{129,146}</string>
				<key>textureRect</key>
				<string>{{0,147},{115,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{23.5,-18}</string>
				<key>spriteSize</key>
				<string>{30,56}</string>
				<key>spriteSourceSize</key>
				<string>{129,146}</string>
				<key>textureRect</key>
				<string>{{252,0},{30,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,8}</string>
				<key>spriteSize</key>
				<string>{129,146}</string>
				<key>spriteSourceSize</key>
				<string>{129,146}</string>
				<key>textureRect</key>
				<string>{{0,0},{129,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{47,63}</string>
				<key>spriteSourceSize</key>
				<string>{48,66}</string>
				<key>textureRect</key>
				<string>{{172,139},{47,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_17_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{18,18}</string>
				<key>spriteSourceSize</key>
				<string>{18,34}</string>
				<key>textureRect</key>
				<string>{{252,57},{18,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{55,71}</string>
				<key>spriteSourceSize</key>
				<string>{56,74}</string>
				<key>textureRect</key>
				<string>{{116,147},{55,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{116,219},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_17_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{116,248},{5,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_17_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{217,187},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_17_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,37}</string>
				<key>spriteSourceSize</key>
				<string>{52,40}</string>
				<key>textureRect</key>
				<string>{{244,139},{52,37}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_17_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{46,31}</string>
				<key>spriteSourceSize</key>
				<string>{46,34}</string>
				<key>textureRect</key>
				<string>{{244,192},{46,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_17_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{60,44}</string>
				<key>spriteSourceSize</key>
				<string>{60,46}</string>
				<key>textureRect</key>
				<string>{{172,187},{60,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_17-uhd.png</string>
			<key>size</key>
			<string>{282,253}</string>
			<key>textureFileName</key>
			<string>icons/robot_17-uhd.png</string>
		</dict>
	</dict>
</plist>