<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_24_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{118,122}</string>
				<key>textureRect</key>
				<string>{{119,0},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,3}</string>
				<key>spriteSize</key>
				<string>{75,76}</string>
				<key>spriteSourceSize</key>
				<string>{118,122}</string>
				<key>textureRect</key>
				<string>{{0,123},{75,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,27.5}</string>
				<key>spriteSize</key>
				<string>{64,51}</string>
				<key>spriteSourceSize</key>
				<string>{118,122}</string>
				<key>textureRect</key>
				<string>{{122,115},{64,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,122}</string>
				<key>spriteSourceSize</key>
				<string>{118,122}</string>
				<key>textureRect</key>
				<string>{{0,0},{118,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{43,52}</string>
				<key>spriteSourceSize</key>
				<string>{43,52}</string>
				<key>textureRect</key>
				<string>{{0,226},{43,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,8}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{43,52}</string>
				<key>textureRect</key>
				<string>{{77,189},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{53,62}</string>
				<key>spriteSourceSize</key>
				<string>{53,62}</string>
				<key>textureRect</key>
				<string>{{174,115},{53,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{122,180},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{59,213},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{0,199},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{174,178},{55,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_24_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{8,7}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{59,204},{8,7}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_24_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,44}</string>
				<key>spriteSourceSize</key>
				<string>{65,44}</string>
				<key>textureRect</key>
				<string>{{77,123},{65,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_24-uhd.png</string>
			<key>size</key>
			<string>{229,269}</string>
			<key>textureFileName</key>
			<string>icons/robot_24-uhd.png</string>
		</dict>
	</dict>
</plist>