<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_48_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,5.5}</string>
				<key>spriteSize</key>
				<string>{122,115}</string>
				<key>spriteSourceSize</key>
				<string>{160,146}</string>
				<key>textureRect</key>
				<string>{{0,124},{122,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,6}</string>
				<key>spriteSize</key>
				<string>{118,112}</string>
				<key>spriteSourceSize</key>
				<string>{160,146}</string>
				<key>textureRect</key>
				<string>{{131,0},{118,112}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_48_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,5}</string>
				<key>spriteSize</key>
				<string>{103,102}</string>
				<key>spriteSourceSize</key>
				<string>{160,146}</string>
				<key>textureRect</key>
				<string>{{131,119},{103,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,5.5}</string>
				<key>spriteSize</key>
				<string>{130,123}</string>
				<key>spriteSourceSize</key>
				<string>{160,146}</string>
				<key>textureRect</key>
				<string>{{0,0},{130,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{42,58}</string>
				<key>spriteSourceSize</key>
				<string>{46,62}</string>
				<key>textureRect</key>
				<string>{{166,222},{42,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2.5}</string>
				<key>spriteSize</key>
				<string>{36,51}</string>
				<key>spriteSourceSize</key>
				<string>{40,56}</string>
				<key>textureRect</key>
				<string>{{244,0},{36,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{50,66}</string>
				<key>spriteSourceSize</key>
				<string>{54,70}</string>
				<key>textureRect</key>
				<string>{{0,240},{50,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_48_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{244,52},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{14,22}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{94,275},{14,22}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_48_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{209,222},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{56,34}</string>
				<key>textureRect</key>
				<string>{{67,240},{55,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,-7.5}</string>
				<key>spriteSize</key>
				<string>{26,13}</string>
				<key>spriteSourceSize</key>
				<string>{50,28}</string>
				<key>textureRect</key>
				<string>{{67,275},{26,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_48_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{63,42}</string>
				<key>spriteSourceSize</key>
				<string>{64,42}</string>
				<key>textureRect</key>
				<string>{{123,222},{63,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_48-uhd.png</string>
			<key>size</key>
			<string>{280,290}</string>
			<key>textureFileName</key>
			<string>icons/robot_48-uhd.png</string>
		</dict>
	</dict>
</plist>