<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_16_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{56,51}</string>
			<key>spriteSourceSize</key>
			<string>{60,55}</string>
			<key>textureRect</key>
			<string>{{2,64},{56,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{52,47}</string>
			<key>spriteSourceSize</key>
			<string>{60,55}</string>
			<key>textureRect</key>
			<string>{{55,64},{52,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,0.5}</string>
			<key>spriteSize</key>
			<string>{11,11}</string>
			<key>spriteSourceSize</key>
			<string>{60,55}</string>
			<key>textureRect</key>
			<string>{{115,33},{11,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{60,55}</string>
			<key>spriteSourceSize</key>
			<string>{60,55}</string>
			<key>textureRect</key>
			<string>{{2,2},{60,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,25}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{83,30},{18,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{82,57},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,28}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{59,34},{21,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{104,33},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{3,2}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{82,60},{3,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{104,2},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.8}</string>
			<key>spriteSize</key>
			<string>{26,19}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{83,2},{26,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.8}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{104,60},{23,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{30,22}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{59,2},{30,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_16-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_16-hd.png</string>
	</dict>
</dict>
</plist>
