<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_40_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{146,134}</string>
				<key>spriteSourceSize</key>
				<string>{146,134}</string>
				<key>textureRect</key>
				<string>{{0,143},{146,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{142,130}</string>
				<key>spriteSourceSize</key>
				<string>{142,130}</string>
				<key>textureRect</key>
				<string>{{155,0},{142,130}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_40_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,24}</string>
				<key>spriteSize</key>
				<string>{72,75}</string>
				<key>spriteSourceSize</key>
				<string>{72,75}</string>
				<key>textureRect</key>
				<string>{{147,143},{72,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{154,142}</string>
				<key>spriteSourceSize</key>
				<string>{154,142}</string>
				<key>textureRect</key>
				<string>{{0,0},{154,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,57}</string>
				<key>spriteSourceSize</key>
				<string>{42,57}</string>
				<key>textureRect</key>
				<string>{{0,278},{42,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_40_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{22,22}</string>
				<key>spriteSourceSize</key>
				<string>{22,22}</string>
				<key>textureRect</key>
				<string>{{77,278},{22,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,65}</string>
				<key>spriteSourceSize</key>
				<string>{56,66}</string>
				<key>textureRect</key>
				<string>{{220,143},{51,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_40_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{147,261},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{166,261},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{216,229},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_40_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{60,33}</string>
				<key>spriteSourceSize</key>
				<string>{66,34}</string>
				<key>textureRect</key>
				<string>{{220,195},{60,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_40_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13.5,-5}</string>
				<key>spriteSize</key>
				<string>{33,18}</string>
				<key>spriteSourceSize</key>
				<string>{60,28}</string>
				<key>textureRect</key>
				<string>{{58,278},{33,18}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_40_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,41}</string>
				<key>spriteSourceSize</key>
				<string>{74,42}</string>
				<key>textureRect</key>
				<string>{{147,219},{68,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_40-uhd.png</string>
			<key>size</key>
			<string>{285,320}</string>
			<key>textureFileName</key>
			<string>icons/robot_40-uhd.png</string>
		</dict>
	</dict>
</plist>