<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_51_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{127,121}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{257,2},{127,121}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-5}</string>
			<key>spriteSize</key>
			<string>{134,115}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{140,2},{134,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,7}</string>
			<key>spriteSize</key>
			<string>{73,58}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{2,148},{73,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-10.5}</string>
			<key>spriteSize</key>
			<string>{144,136}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{2,2},{144,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,52}</string>
			<key>spriteSourceSize</key>
			<string>{52,62}</string>
			<key>textureRect</key>
			<string>{{168,138},{39,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,-1}</string>
			<key>spriteSize</key>
			<string>{36,28}</string>
			<key>spriteSourceSize</key>
			<string>{52,62}</string>
			<key>textureRect</key>
			<string>{{42,223},{36,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0}</string>
			<key>spriteSize</key>
			<string>{52,62}</string>
			<key>spriteSourceSize</key>
			<string>{52,62}</string>
			<key>textureRect</key>
			<string>{{114,148},{52,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{25,38}</string>
			<key>spriteSourceSize</key>
			<string>{36,50}</string>
			<key>textureRect</key>
			<string>{{2,223},{25,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,4}</string>
			<key>spriteSize</key>
			<string>{23,32}</string>
			<key>spriteSourceSize</key>
			<string>{36,50}</string>
			<key>textureRect</key>
			<string>{{80,217},{23,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{36,50}</string>
			<key>spriteSourceSize</key>
			<string>{36,50}</string>
			<key>textureRect</key>
			<string>{{171,192},{36,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,2.5}</string>
			<key>spriteSize</key>
			<string>{55,37}</string>
			<key>spriteSourceSize</key>
			<string>{67,50}</string>
			<key>textureRect</key>
			<string>{{114,212},{55,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_51_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,3}</string>
			<key>spriteSize</key>
			<string>{41,40}</string>
			<key>spriteSourceSize</key>
			<string>{67,50}</string>
			<key>textureRect</key>
			<string>{{209,192},{41,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_51_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,3}</string>
			<key>spriteSize</key>
			<string>{67,50}</string>
			<key>spriteSourceSize</key>
			<string>{67,50}</string>
			<key>textureRect</key>
			<string>{{62,148},{67,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_51-uhd.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_51-uhd.png</string>
	</dict>
</dict>
</plist>
