<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_13_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,101}</string>
				<key>spriteSourceSize</key>
				<string>{118,101}</string>
				<key>textureRect</key>
				<string>{{0,110},{118,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_13_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,8.5}</string>
				<key>spriteSize</key>
				<string>{103,78}</string>
				<key>spriteSourceSize</key>
				<string>{118,101}</string>
				<key>textureRect</key>
				<string>{{127,106},{103,78}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,1.5}</string>
				<key>spriteSize</key>
				<string>{105,92}</string>
				<key>spriteSourceSize</key>
				<string>{118,101}</string>
				<key>textureRect</key>
				<string>{{127,0},{105,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,109}</string>
				<key>spriteSourceSize</key>
				<string>{126,109}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_13_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{44,58}</string>
				<key>spriteSourceSize</key>
				<string>{44,60}</string>
				<key>textureRect</key>
				<string>{{72,212},{44,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{18,25}</string>
				<key>spriteSourceSize</key>
				<string>{18,30}</string>
				<key>textureRect</key>
				<string>{{220,84},{18,25}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{52,64}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{220,0},{52,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_13_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{220,65},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{131,210},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_13_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{206,144},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{63,37}</string>
				<key>spriteSourceSize</key>
				<string>{66,38}</string>
				<key>textureRect</key>
				<string>{{206,106},{63,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_13_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10.5,4.5}</string>
				<key>spriteSize</key>
				<string>{21,13}</string>
				<key>spriteSourceSize</key>
				<string>{42,22}</string>
				<key>textureRect</key>
				<string>{{246,84},{21,13}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_13_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{71,45}</string>
				<key>spriteSourceSize</key>
				<string>{74,46}</string>
				<key>textureRect</key>
				<string>{{0,212},{71,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_13-uhd.png</string>
			<key>size</key>
			<string>{272,257}</string>
			<key>textureFileName</key>
			<string>icons/robot_13-uhd.png</string>
		</dict>
	</dict>
</plist>