<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_09_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>textureRect</key>
				<string>{{110,114},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,12}</string>
				<key>spriteSize</key>
				<string>{105,109}</string>
				<key>spriteSourceSize</key>
				<string>{105,109}</string>
				<key>textureRect</key>
				<string>{{0,114},{105,109}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_09_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,11}</string>
				<key>spriteSize</key>
				<string>{107,113}</string>
				<key>spriteSourceSize</key>
				<string>{107,113}</string>
				<key>textureRect</key>
				<string>{{0,0},{107,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,10}</string>
				<key>spriteSize</key>
				<string>{106,113}</string>
				<key>spriteSourceSize</key>
				<string>{106,113}</string>
				<key>textureRect</key>
				<string>{{108,0},{106,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{47,53}</string>
				<key>spriteSourceSize</key>
				<string>{54,61}</string>
				<key>textureRect</key>
				<string>{{0,247},{47,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_09_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{39,45}</string>
				<key>spriteSourceSize</key>
				<string>{54,61}</string>
				<key>textureRect</key>
				<string>{{78,220},{39,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,61}</string>
				<key>spriteSourceSize</key>
				<string>{54,61}</string>
				<key>textureRect</key>
				<string>{{200,114},{54,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{59,220},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{215,64},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{0,220},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_09_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,35}</string>
				<key>spriteSourceSize</key>
				<string>{63,41}</string>
				<key>textureRect</key>
				<string>{{200,176},{55,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{43,27}</string>
				<key>spriteSourceSize</key>
				<string>{63,41}</string>
				<key>textureRect</key>
				<string>{{78,266},{43,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_09_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,41}</string>
				<key>spriteSourceSize</key>
				<string>{63,41}</string>
				<key>textureRect</key>
				<string>{{215,0},{63,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_09-uhd.png</string>
			<key>size</key>
			<string>{256,294}</string>
			<key>textureFileName</key>
			<string>icons/robot_09-uhd.png</string>
		</dict>
	</dict>
</plist>