<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_22_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,97}</string>
				<key>spriteSourceSize</key>
				<string>{120,105}</string>
				<key>textureRect</key>
				<string>{{0,106},{112,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,6.5}</string>
				<key>spriteSize</key>
				<string>{104,64}</string>
				<key>spriteSourceSize</key>
				<string>{120,105}</string>
				<key>textureRect</key>
				<string>{{121,0},{104,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_22_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,105}</string>
				<key>spriteSourceSize</key>
				<string>{120,105}</string>
				<key>textureRect</key>
				<string>{{0,0},{120,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{42,58}</string>
				<key>spriteSourceSize</key>
				<string>{42,62}</string>
				<key>textureRect</key>
				<string>{{186,0},{42,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{24,52}</string>
				<key>spriteSourceSize</key>
				<string>{24,56}</string>
				<key>textureRect</key>
				<string>{{179,176},{24,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{50,66}</string>
				<key>spriteSourceSize</key>
				<string>{50,70}</string>
				<key>textureRect</key>
				<string>{{113,106},{50,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_22_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{204,176},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{180,105},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{186,59},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,1}</string>
				<key>spriteSize</key>
				<string>{57,36}</string>
				<key>spriteSourceSize</key>
				<string>{63,38}</string>
				<key>textureRect</key>
				<string>{{180,118},{57,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_22_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,-5.5}</string>
				<key>spriteSize</key>
				<string>{20,21}</string>
				<key>spriteSourceSize</key>
				<string>{50,32}</string>
				<key>textureRect</key>
				<string>{{0,204},{20,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,1}</string>
				<key>spriteSize</key>
				<string>{65,44}</string>
				<key>spriteSourceSize</key>
				<string>{71,46}</string>
				<key>textureRect</key>
				<string>{{113,157},{65,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_22-uhd.png</string>
			<key>size</key>
			<string>{228,228}</string>
			<key>textureFileName</key>
			<string>icons/robot_22-uhd.png</string>
		</dict>
	</dict>
</plist>