<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_07_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{64,50}</string>
			<key>spriteSourceSize</key>
			<string>{68,54}</string>
			<key>textureRect</key>
			<string>{{58,2},{64,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{60,46}</string>
			<key>spriteSourceSize</key>
			<string>{68,54}</string>
			<key>textureRect</key>
			<string>{{58,54},{60,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,0}</string>
			<key>spriteSize</key>
			<string>{44,36}</string>
			<key>spriteSourceSize</key>
			<string>{68,54}</string>
			<key>textureRect</key>
			<string>{{2,72},{44,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_07_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,5}</string>
			<key>spriteSize</key>
			<string>{68,54}</string>
			<key>spriteSourceSize</key>
			<string>{68,54}</string>
			<key>textureRect</key>
			<string>{{2,2},{68,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_07_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{23,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{124,2},{23,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{23,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{149,2},{23,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{27,31}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{120,54},{27,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{40,72},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{124,31},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_07_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{120,87},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{29,18}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{75,102},{29,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_07_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{29,18}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{135,87},{29,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_07_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{33,22}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{40,102},{33,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_07-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_07-hd.png</string>
	</dict>
</dict>
</plist>
