<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_58_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{113,95}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{0,101},{113,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-3}</string>
				<key>spriteSize</key>
				<string>{84,85}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{119,0},{84,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13,17}</string>
				<key>spriteSize</key>
				<string>{68,45}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{119,86},{68,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-3}</string>
				<key>spriteSize</key>
				<string>{118,100}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{0,0},{118,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1}</string>
				<key>spriteSize</key>
				<string>{40,54}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{0,197},{40,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-13}</string>
				<key>spriteSize</key>
				<string>{20,19}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{196,217},{20,19}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1}</string>
				<key>spriteSize</key>
				<string>{47,60}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{114,132},{47,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,4}</string>
				<key>spriteSize</key>
				<string>{23,41}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{160,193},{23,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,4}</string>
				<key>spriteSize</key>
				<string>{18,35}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{160,217},{18,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,4}</string>
				<key>spriteSize</key>
				<string>{31,49}</string>
				<key>spriteSourceSize</key>
				<string>{240,188}</string>
				<key>textureRect</key>
				<string>{{110,197},{31,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,1}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{55,197},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-3}</string>
				<key>spriteSize</key>
				<string>{22,16}</string>
				<key>spriteSourceSize</key>
				<string>{22,16}</string>
				<key>textureRect</key>
				<string>{{204,0},{22,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,1}</string>
				<key>spriteSize</key>
				<string>{60,40}</string>
				<key>spriteSourceSize</key>
				<string>{60,40}</string>
				<key>textureRect</key>
				<string>{{162,132},{60,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_58-uhd.png</string>
			<key>size</key>
			<string>{220,237}</string>
			<key>textureFileName</key>
			<string>icons/robot_58-uhd.png</string>
		</dict>
	</dict>
</plist>