<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_59_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{98,100}</string>
			<key>spriteSourceSize</key>
			<string>{129,137}</string>
			<key>textureRect</key>
			<string>{{106,0},{98,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,2}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{137,142}</string>
			<key>textureRect</key>
			<string>{{89,107},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,2}</string>
			<key>spriteSize</key>
			<string>{88,81}</string>
			<key>spriteSourceSize</key>
			<string>{129,137}</string>
			<key>textureRect</key>
			<string>{{0,107},{88,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-2.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{129,137}</string>
			<key>textureRect</key>
			<string>{{0,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{39,54}</string>
			<key>spriteSourceSize</key>
			<string>{40,54}</string>
			<key>textureRect</key>
			<string>{{205,63},{39,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,48}</string>
			<key>spriteSourceSize</key>
			<string>{32,48}</string>
			<key>textureRect</key>
			<string>{{200,118},{32,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,62}</string>
			<key>spriteSourceSize</key>
			<string>{46,62}</string>
			<key>textureRect</key>
			<string>{{205,0},{46,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{181,101},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{14,22}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{65,216},{14,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{65,189},{26,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{56,33}</string>
			<key>spriteSourceSize</key>
			<string>{56,34}</string>
			<key>textureRect</key>
			<string>{{124,189},{56,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,-1}</string>
			<key>spriteSize</key>
			<string>{27,26}</string>
			<key>spriteSourceSize</key>
			<string>{48,28}</string>
			<key>textureRect</key>
			<string>{{173,152},{27,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,42}</string>
			<key>spriteSourceSize</key>
			<string>{64,42}</string>
			<key>textureRect</key>
			<string>{{0,189},{64,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_59-uhd.png</string>
		<key>size</key>
		<string>{251,231}</string>
		<key>textureFileName</key>
		<string>icons/robot_59-uhd.png</string>
	</dict>
</dict>
</plist>
