<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_35_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{53,53}</string>
			<key>spriteSourceSize</key>
			<string>{65,63}</string>
			<key>textureRect</key>
			<string>{{2,69},{53,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,6.5}</string>
			<key>spriteSize</key>
			<string>{59,57}</string>
			<key>spriteSourceSize</key>
			<string>{65,63}</string>
			<key>textureRect</key>
			<string>{{67,2},{59,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{48,40}</string>
			<key>spriteSourceSize</key>
			<string>{65,63}</string>
			<key>textureRect</key>
			<string>{{57,69},{48,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,5.5}</string>
			<key>spriteSize</key>
			<string>{65,63}</string>
			<key>spriteSourceSize</key>
			<string>{65,63}</string>
			<key>textureRect</key>
			<string>{{2,2},{65,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,27}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{126,2},{21,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,27}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{126,31},{21,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{99,97},{25,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{138,60},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{149,60},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{123,63},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,18}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{132,94},{28,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{67,63},{3,3}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,22}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{99,63},{32,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_35-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_35-hd.png</string>
	</dict>
</dict>
</plist>
