<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_29_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{135,91}</string>
				<key>spriteSourceSize</key>
				<string>{143,99}</string>
				<key>textureRect</key>
				<string>{{0,100},{135,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-4}</string>
				<key>spriteSize</key>
				<string>{126,83}</string>
				<key>spriteSourceSize</key>
				<string>{143,99}</string>
				<key>textureRect</key>
				<string>{{144,0},{126,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_29_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{124,76}</string>
				<key>spriteSourceSize</key>
				<string>{143,99}</string>
				<key>textureRect</key>
				<string>{{0,192},{124,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{143,99}</string>
				<key>spriteSourceSize</key>
				<string>{143,99}</string>
				<key>textureRect</key>
				<string>{{0,0},{143,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,54}</string>
				<key>spriteSourceSize</key>
				<string>{48,62}</string>
				<key>textureRect</key>
				<string>{{178,127},{40,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,48}</string>
				<key>spriteSourceSize</key>
				<string>{48,62}</string>
				<key>textureRect</key>
				<string>{{224,127},{34,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,62}</string>
				<key>spriteSourceSize</key>
				<string>{48,62}</string>
				<key>textureRect</key>
				<string>{{125,192},{48,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,49}</string>
				<key>spriteSourceSize</key>
				<string>{26,57}</string>
				<key>textureRect</key>
				<string>{{174,248},{18,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_29_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,39}</string>
				<key>spriteSourceSize</key>
				<string>{26,57}</string>
				<key>textureRect</key>
				<string>{{259,55},{2,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,57}</string>
				<key>spriteSourceSize</key>
				<string>{26,57}</string>
				<key>textureRect</key>
				<string>{{174,190},{26,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_29_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{228,0},{54,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_29_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,27}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{228,55},{48,27}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_29_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{136,127},{62,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_29-uhd.png</string>
			<key>size</key>
			<string>{261,268}</string>
			<key>textureFileName</key>
			<string>icons/robot_29-uhd.png</string>
		</dict>
	</dict>
</plist>