<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_20_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,4}</string>
			<key>spriteSize</key>
			<string>{73,51}</string>
			<key>spriteSourceSize</key>
			<string>{77,55}</string>
			<key>textureRect</key>
			<string>{{59,2},{73,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,4}</string>
			<key>spriteSize</key>
			<string>{64,47}</string>
			<key>spriteSourceSize</key>
			<string>{77,55}</string>
			<key>textureRect</key>
			<string>{{59,77},{64,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,4}</string>
			<key>spriteSize</key>
			<string>{77,55}</string>
			<key>spriteSourceSize</key>
			<string>{77,55}</string>
			<key>textureRect</key>
			<string>{{2,2},{77,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-0.2}</string>
			<key>spriteSize</key>
			<string>{24,27}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{125,65},{24,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,-0.2}</string>
			<key>spriteSize</key>
			<string>{8,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{131,2},{8,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{28,31}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{25,81},{28,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,25}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{25,111},{11,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{9,23}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{129,34},{9,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,29}</string>
			<key>spriteSourceSize</key>
			<string>{15,29}</string>
			<key>textureRect</key>
			<string>{{112,34},{15,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.8,0}</string>
			<key>spriteSize</key>
			<string>{30,17}</string>
			<key>spriteSourceSize</key>
			<string>{34,21}</string>
			<key>textureRect</key>
			<string>{{112,2},{30,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.8,-2.8}</string>
			<key>spriteSize</key>
			<string>{16,10}</string>
			<key>spriteSourceSize</key>
			<string>{34,21}</string>
			<key>textureRect</key>
			<string>{{131,20},{16,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.8,0}</string>
			<key>spriteSize</key>
			<string>{34,21}</string>
			<key>spriteSourceSize</key>
			<string>{34,21}</string>
			<key>textureRect</key>
			<string>{{2,81},{34,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_20-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_20-hd.png</string>
	</dict>
</dict>
</plist>
