<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_27_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,98}</string>
				<key>spriteSourceSize</key>
				<string>{106,98}</string>
				<key>textureRect</key>
				<string>{{0,107},{106,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-2}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{82,84}</string>
				<key>textureRect</key>
				<string>{{115,0},{82,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,7}</string>
				<key>spriteSize</key>
				<string>{58,72}</string>
				<key>spriteSourceSize</key>
				<string>{58,72}</string>
				<key>textureRect</key>
				<string>{{115,85},{58,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{114,106}</string>
				<key>spriteSourceSize</key>
				<string>{114,106}</string>
				<key>textureRect</key>
				<string>{{0,0},{114,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,56}</string>
				<key>spriteSourceSize</key>
				<string>{40,56}</string>
				<key>textureRect</key>
				<string>{{199,65},{40,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-2}</string>
				<key>spriteSize</key>
				<string>{24,44}</string>
				<key>spriteSourceSize</key>
				<string>{24,44}</string>
				<key>textureRect</key>
				<string>{{199,179},{24,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,64}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{107,144},{48,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{0,206},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{14,46}</string>
				<key>textureRect</key>
				<string>{{51,206},{14,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{172,144},{26,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,34}</string>
				<key>spriteSourceSize</key>
				<string>{56,34}</string>
				<key>textureRect</key>
				<string>{{199,122},{56,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,-4}</string>
				<key>spriteSize</key>
				<string>{28,20}</string>
				<key>spriteSourceSize</key>
				<string>{28,20}</string>
				<key>textureRect</key>
				<string>{{107,203},{28,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,42}</string>
				<key>spriteSourceSize</key>
				<string>{64,42}</string>
				<key>textureRect</key>
				<string>{{198,0},{64,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_27-uhd.png</string>
			<key>size</key>
			<string>{240,224}</string>
			<key>textureFileName</key>
			<string>icons/robot_27-uhd.png</string>
		</dict>
	</dict>
</plist>