<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_27_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{120,94}</string>
				<key>spriteSourceSize</key>
				<string>{120,94}</string>
				<key>textureRect</key>
				<string>{{0,103},{120,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{115,88}</string>
				<key>spriteSourceSize</key>
				<string>{115,88}</string>
				<key>textureRect</key>
				<string>{{129,0},{115,88}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{31,0}</string>
				<key>spriteSize</key>
				<string>{48,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>textureRect</key>
				<string>{{121,116},{48,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{128,102}</string>
				<key>spriteSourceSize</key>
				<string>{128,102}</string>
				<key>textureRect</key>
				<string>{{0,0},{128,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{42,59}</string>
				<key>spriteSourceSize</key>
				<string>{42,62}</string>
				<key>textureRect</key>
				<string>{{218,0},{42,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-11}</string>
				<key>spriteSize</key>
				<string>{21,24}</string>
				<key>spriteSourceSize</key>
				<string>{22,46}</string>
				<key>textureRect</key>
				<string>{{84,220},{21,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{51,67}</string>
				<key>spriteSourceSize</key>
				<string>{52,70}</string>
				<key>textureRect</key>
				<string>{{0,198},{51,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{21,52}</string>
				<key>spriteSourceSize</key>
				<string>{22,52}</string>
				<key>textureRect</key>
				<string>{{68,198},{21,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-9}</string>
				<key>spriteSize</key>
				<string>{15,28}</string>
				<key>spriteSourceSize</key>
				<string>{16,46}</string>
				<key>textureRect</key>
				<string>{{68,220},{15,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_27_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{29,60}</string>
				<key>spriteSourceSize</key>
				<string>{30,60}</string>
				<key>textureRect</key>
				<string>{{157,187},{29,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-0.5}</string>
				<key>spriteSize</key>
				<string>{62,35}</string>
				<key>spriteSourceSize</key>
				<string>{66,36}</string>
				<key>textureRect</key>
				<string>{{121,187},{62,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13.5,-4}</string>
				<key>spriteSize</key>
				<string>{23,18}</string>
				<key>spriteSourceSize</key>
				<string>{50,26}</string>
				<key>textureRect</key>
				<string>{{157,217},{23,18}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_27_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,43}</string>
				<key>spriteSourceSize</key>
				<string>{74,44}</string>
				<key>textureRect</key>
				<string>{{170,116},{70,43}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_27-uhd.png</string>
			<key>size</key>
			<string>{260,249}</string>
			<key>textureFileName</key>
			<string>icons/robot_27-uhd.png</string>
		</dict>
	</dict>
</plist>