<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_30_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,96}</string>
				<key>spriteSourceSize</key>
				<string>{115,104}</string>
				<key>textureRect</key>
				<string>{{0,105},{107,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_30_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,14}</string>
				<key>spriteSize</key>
				<string>{98,62}</string>
				<key>spriteSourceSize</key>
				<string>{115,104}</string>
				<key>textureRect</key>
				<string>{{116,0},{98,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,104}</string>
				<key>spriteSourceSize</key>
				<string>{115,104}</string>
				<key>textureRect</key>
				<string>{{0,0},{115,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_30_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{44,52}</string>
				<key>spriteSourceSize</key>
				<string>{52,60}</string>
				<key>textureRect</key>
				<string>{{174,134},{44,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8.5,0}</string>
				<key>spriteSize</key>
				<string>{29,26}</string>
				<key>spriteSourceSize</key>
				<string>{52,60}</string>
				<key>textureRect</key>
				<string>{{0,202},{29,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_30_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{52,60}</string>
				<key>spriteSourceSize</key>
				<string>{52,60}</string>
				<key>textureRect</key>
				<string>{{179,0},{52,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_30_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{179,61},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{179,80},{14,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,60}</string>
				<key>spriteSourceSize</key>
				<string>{28,60}</string>
				<key>textureRect</key>
				<string>{{108,150},{28,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{174,99},{55,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_30_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13,-5}</string>
				<key>spriteSize</key>
				<string>{23,16}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{30,202},{23,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_30_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,44}</string>
				<key>spriteSourceSize</key>
				<string>{65,44}</string>
				<key>textureRect</key>
				<string>{{108,105},{65,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_30-uhd.png</string>
			<key>size</key>
			<string>{231,228}</string>
			<key>textureFileName</key>
			<string>icons/robot_30-uhd.png</string>
		</dict>
	</dict>
</plist>