<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_22_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,91}</string>
				<key>spriteSourceSize</key>
				<string>{116,91}</string>
				<key>textureRect</key>
				<string>{{131,0},{116,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,5}</string>
				<key>spriteSize</key>
				<string>{102,72}</string>
				<key>spriteSourceSize</key>
				<string>{102,72}</string>
				<key>textureRect</key>
				<string>{{0,206},{102,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,106}</string>
				<key>spriteSourceSize</key>
				<string>{130,106}</string>
				<key>textureRect</key>
				<string>{{0,0},{130,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,98}</string>
				<key>spriteSourceSize</key>
				<string>{122,98}</string>
				<key>textureRect</key>
				<string>{{0,107},{122,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,50}</string>
				<key>spriteSourceSize</key>
				<string>{36,50}</string>
				<key>textureRect</key>
				<string>{{225,225},{36,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,62}</string>
				<key>spriteSourceSize</key>
				<string>{48,62}</string>
				<key>textureRect</key>
				<string>{{168,167},{48,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,54}</string>
				<key>spriteSourceSize</key>
				<string>{40,54}</string>
				<key>textureRect</key>
				<string>{{248,0},{40,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,45}</string>
				<key>spriteSourceSize</key>
				<string>{13,45}</string>
				<key>textureRect</key>
				<string>{{248,55},{13,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,57}</string>
				<key>spriteSourceSize</key>
				<string>{25,57}</string>
				<key>textureRect</key>
				<string>{{217,167},{25,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,49}</string>
				<key>spriteSourceSize</key>
				<string>{17,49}</string>
				<key>textureRect</key>
				<string>{{262,55},{17,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-14,-3}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>textureRect</key>
				<string>{{262,105},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,44}</string>
				<key>spriteSourceSize</key>
				<string>{64,44}</string>
				<key>textureRect</key>
				<string>{{103,206},{64,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_22_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,36}</string>
				<key>spriteSourceSize</key>
				<string>{56,36}</string>
				<key>textureRect</key>
				<string>{{168,230},{56,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_22-uhd.png</string>
			<key>size</key>
			<string>{288,278}</string>
			<key>textureFileName</key>
			<string>icons/robot_22-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>