<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_29_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{135,115}</string>
                <key>textureRect</key>
                <string>{{2,1},{135,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{135,115}</string>
                <key>textureRect</key>
                <string>{{142,1},{135,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{135,115}</string>
                <key>textureRect</key>
                <string>{{282,1},{135,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{428,7},{144,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{9,126},{42,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{199,126},{42,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{355,122},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,51}</string>
                <key>spriteSourceSize</key>
                <string>{20,51}</string>
                <key>textureRect</key>
                <string>{{153,128},{20,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{518,135},{28,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{64,144},{64,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{254,144},{64,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_29_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,45}</string>
                <key>spriteSourceSize</key>
                <string>{73,45}</string>
                <key>textureRect</key>
                <string>{{407,136},{73,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_29-uhd.png</string>
            <key>size</key>
            <string>{122,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c91bdf9559ebadb158a9ff5947b4bfe9:71f02ad9109f477e029a4b96703b0bf5:127cd7b68e90bb954ba2a0c5f88b8185$</string>
            <key>textureFileName</key>
            <string>icons/robot_29-uhd.png</string>
        </dict>
    </dict>
</plist>
