<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_66_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,49}</string>
			<key>spriteSourceSize</key>
			<string>{60,53}</string>
			<key>textureRect</key>
			<string>{{2,64},{56,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,0}</string>
			<key>spriteSize</key>
			<string>{22,45}</string>
			<key>spriteSourceSize</key>
			<string>{60,53}</string>
			<key>textureRect</key>
			<string>{{57,2},{22,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.8,3.5}</string>
			<key>spriteSize</key>
			<string>{47,30}</string>
			<key>spriteSourceSize</key>
			<string>{60,53}</string>
			<key>textureRect</key>
			<string>{{53,64},{47,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,53}</string>
			<key>spriteSourceSize</key>
			<string>{60,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{60,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,27}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{85,74},{19,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{53,113},{10,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{100,25},{23,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{114,89},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7.8}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{2,122},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{85,59},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,21}</string>
			<key>textureRect</key>
			<string>{{81,25},{32,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4.2}</string>
			<key>spriteSize</key>
			<string>{29,5}</string>
			<key>spriteSourceSize</key>
			<string>{36,21}</string>
			<key>textureRect</key>
			<string>{{116,58},{29,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,21}</string>
			<key>spriteSourceSize</key>
			<string>{36,21}</string>
			<key>textureRect</key>
			<string>{{85,2},{36,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_66-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_66-hd.png</string>
	</dict>
</dict>
</plist>
