<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_55_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,51}</string>
			<key>spriteSourceSize</key>
			<string>{74,55}</string>
			<key>textureRect</key>
			<string>{{59,2},{70,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,47}</string>
			<key>spriteSourceSize</key>
			<string>{74,55}</string>
			<key>textureRect</key>
			<string>{{59,74},{66,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-1}</string>
			<key>spriteSize</key>
			<string>{48,44}</string>
			<key>spriteSourceSize</key>
			<string>{74,55}</string>
			<key>textureRect</key>
			<string>{{2,78},{48,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,55}</string>
			<key>spriteSourceSize</key>
			<string>{74,55}</string>
			<key>textureRect</key>
			<string>{{2,2},{74,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,27}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{127,103},{21,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.2}</string>
			<key>spriteSize</key>
			<string>{17,23}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{142,62},{17,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{112,39},{25,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{139,35},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.2}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{150,35},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{127,72},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.2,0}</string>
			<key>spriteSize</key>
			<string>{31,17}</string>
			<key>spriteSourceSize</key>
			<string>{35,21}</string>
			<key>textureRect</key>
			<string>{{135,2},{31,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-2.2}</string>
			<key>spriteSize</key>
			<string>{11,9}</string>
			<key>spriteSourceSize</key>
			<string>{35,21}</string>
			<key>textureRect</key>
			<string>{{142,87},{11,9}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.2,0}</string>
			<key>spriteSize</key>
			<string>{35,21}</string>
			<key>spriteSourceSize</key>
			<string>{35,21}</string>
			<key>textureRect</key>
			<string>{{112,2},{35,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_55-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_55-hd.png</string>
	</dict>
</dict>
</plist>
