<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_63_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.5}</string>
			<key>spriteSize</key>
			<string>{55,48}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{2,63},{55,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,3}</string>
			<key>spriteSize</key>
			<string>{42,35}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{52,63},{42,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.8,5.2}</string>
			<key>spriteSize</key>
			<string>{11,7}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{98,51},{11,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.5}</string>
			<key>spriteSize</key>
			<string>{59,52}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{2,2},{59,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,28}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{56,39},{21,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2.2}</string>
			<key>spriteSize</key>
			<string>{16,7}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{81,107},{16,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,32}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{89,2},{25,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{87,29},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{98,29},{7,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{56,24},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,16}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{52,107},{27,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.8,-1}</string>
			<key>spriteSize</key>
			<string>{21,11}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{98,38},{21,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,20}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{56,2},{31,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_63-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_63-hd.png</string>
	</dict>
</dict>
</plist>
