<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_58_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,7.5}</string>
				<key>spriteSize</key>
				<string>{133,113}</string>
				<key>spriteSourceSize</key>
				<string>{238,238}</string>
				<key>textureRect</key>
				<string>{{0,123},{133,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,13.5}</string>
				<key>spriteSize</key>
				<string>{125,95}</string>
				<key>spriteSourceSize</key>
				<string>{238,238}</string>
				<key>textureRect</key>
				<string>{{142,0},{125,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,10.5}</string>
				<key>spriteSize</key>
				<string>{106,109}</string>
				<key>spriteSourceSize</key>
				<string>{238,238}</string>
				<key>textureRect</key>
				<string>{{0,237},{106,109}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,8}</string>
				<key>spriteSize</key>
				<string>{141,122}</string>
				<key>spriteSourceSize</key>
				<string>{238,238}</string>
				<key>textureRect</key>
				<string>{{0,0},{141,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,56}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{110,265},{40,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,12}</string>
				<key>spriteSize</key>
				<string>{15,22}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{110,237},{15,22}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,64}</string>
				<key>spriteSourceSize</key>
				<string>{48,64}</string>
				<key>textureRect</key>
				<string>{{134,175},{48,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{24,50}</string>
				<key>spriteSourceSize</key>
				<string>{31,58}</string>
				<key>textureRect</key>
				<string>{{199,234},{24,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{16,42}</string>
				<key>spriteSourceSize</key>
				<string>{31,58}</string>
				<key>textureRect</key>
				<string>{{110,322},{16,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,58}</string>
				<key>spriteSourceSize</key>
				<string>{31,58}</string>
				<key>textureRect</key>
				<string>{{199,175},{31,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{64,40}</string>
				<key>spriteSourceSize</key>
				<string>{72,48}</string>
				<key>textureRect</key>
				<string>{{134,224},{64,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_58_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,8}</string>
				<key>spriteSize</key>
				<string>{34,20}</string>
				<key>spriteSourceSize</key>
				<string>{72,48}</string>
				<key>textureRect</key>
				<string>{{151,285},{34,20}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_58_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{72,48}</string>
				<key>spriteSourceSize</key>
				<string>{72,48}</string>
				<key>textureRect</key>
				<string>{{134,126},{72,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_58-uhd.png</string>
			<key>size</key>
			<string>{237,343}</string>
			<key>textureFileName</key>
			<string>icons/robot_58-uhd.png</string>
		</dict>
	</dict>
</plist>