<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_34_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{51,49}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{53,59},{51,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{51,49}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{57,2},{51,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{51,49}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{2,59},{51,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{55,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,1}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,33}</string>
			<key>textureRect</key>
			<string>{{127,91},{30,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,1}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,33}</string>
			<key>textureRect</key>
			<string>{{108,2},{30,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,1}</string>
			<key>spriteSize</key>
			<string>{34,33}</string>
			<key>spriteSourceSize</key>
			<string>{34,33}</string>
			<key>textureRect</key>
			<string>{{104,55},{34,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{2,112},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{29,112},{9,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{108,34},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{139,34},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_34_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{29,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_34_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{104,91},{32,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_34-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_34-hd.png</string>
	</dict>
</dict>
</plist>
