<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_51_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,5}</string>
				<key>spriteSize</key>
				<string>{137,98}</string>
				<key>spriteSourceSize</key>
				<string>{137,98}</string>
				<key>textureRect</key>
				<string>{{0,107},{137,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,5}</string>
				<key>spriteSize</key>
				<string>{131,93}</string>
				<key>spriteSourceSize</key>
				<string>{131,93}</string>
				<key>textureRect</key>
				<string>{{146,0},{131,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,10}</string>
				<key>spriteSize</key>
				<string>{112,89}</string>
				<key>spriteSourceSize</key>
				<string>{112,89}</string>
				<key>textureRect</key>
				<string>{{138,107},{112,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,5}</string>
				<key>spriteSize</key>
				<string>{145,106}</string>
				<key>spriteSourceSize</key>
				<string>{145,106}</string>
				<key>textureRect</key>
				<string>{{0,0},{145,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{44,44}</string>
				<key>spriteSourceSize</key>
				<string>{44,44}</string>
				<key>textureRect</key>
				<string>{{101,241},{44,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{38,38}</string>
				<key>spriteSourceSize</key>
				<string>{38,38}</string>
				<key>textureRect</key>
				<string>{{138,197},{38,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{52,52}</string>
				<key>spriteSourceSize</key>
				<string>{52,52}</string>
				<key>textureRect</key>
				<string>{{0,249},{52,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,25}</string>
				<key>spriteSourceSize</key>
				<string>{25,25}</string>
				<key>textureRect</key>
				<string>{{251,94},{25,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,19}</string>
				<key>spriteSourceSize</key>
				<string>{19,19}</string>
				<key>textureRect</key>
				<string>{{116,206},{19,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,31}</string>
				<key>spriteSourceSize</key>
				<string>{31,31}</string>
				<key>textureRect</key>
				<string>{{146,236},{31,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,34}</string>
				<key>spriteSourceSize</key>
				<string>{53,34}</string>
				<key>textureRect</key>
				<string>{{62,206},{53,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{47,28}</string>
				<key>spriteSourceSize</key>
				<string>{47,28}</string>
				<key>textureRect</key>
				<string>{{53,249},{47,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_51_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,42}</string>
				<key>spriteSourceSize</key>
				<string>{61,42}</string>
				<key>textureRect</key>
				<string>{{0,206},{61,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_51-uhd.png</string>
			<key>size</key>
			<string>{277,301}</string>
			<key>textureFileName</key>
			<string>icons/robot_51-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>