<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_16_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,57}</string>
			<key>spriteSourceSize</key>
			<string>{55,61}</string>
			<key>textureRect</key>
			<string>{{2,65},{51,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{55,61}</string>
			<key>textureRect</key>
			<string>{{55,65},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.75,-15}</string>
			<key>spriteSize</key>
			<string>{25,23}</string>
			<key>spriteSourceSize</key>
			<string>{55,61}</string>
			<key>textureRect</key>
			<string>{{95,71},{25,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,61}</string>
			<key>spriteSourceSize</key>
			<string>{55,61}</string>
			<key>textureRect</key>
			<string>{{2,2},{55,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{59,35},{23,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,6}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{59,26},{4,4}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,31}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{95,2},{27,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{84,26},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0}</string>
			<key>spriteSize</key>
			<string>{3,2}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{95,121},{3,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{95,35},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.75}</string>
			<key>spriteSize</key>
			<string>{26,19}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{95,50},{26,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.75}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{95,96},{23,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{30,22}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{59,2},{30,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_16-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_16-hd.png</string>
	</dict>
</dict>
</plist>
