<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_47_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-5}</string>
				<key>spriteSize</key>
				<string>{114,98}</string>
				<key>spriteSourceSize</key>
				<string>{122,106}</string>
				<key>textureRect</key>
				<string>{{0,107},{114,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-9.5}</string>
				<key>spriteSize</key>
				<string>{85,83}</string>
				<key>spriteSourceSize</key>
				<string>{122,106}</string>
				<key>textureRect</key>
				<string>{{123,0},{85,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_47_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{32,7.5}</string>
				<key>spriteSize</key>
				<string>{8,7}</string>
				<key>spriteSourceSize</key>
				<string>{122,106}</string>
				<key>textureRect</key>
				<string>{{115,107},{8,7}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_47_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-5}</string>
				<key>spriteSize</key>
				<string>{122,106}</string>
				<key>spriteSourceSize</key>
				<string>{122,106}</string>
				<key>textureRect</key>
				<string>{{0,0},{122,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,52}</string>
				<key>spriteSourceSize</key>
				<string>{40,52}</string>
				<key>textureRect</key>
				<string>{{115,191},{40,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_47_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10.5}</string>
				<key>spriteSize</key>
				<string>{34,25}</string>
				<key>spriteSourceSize</key>
				<string>{40,52}</string>
				<key>textureRect</key>
				<string>{{59,206},{34,25}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_47_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,60}</string>
				<key>spriteSourceSize</key>
				<string>{48,60}</string>
				<key>textureRect</key>
				<string>{{115,130},{48,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{168,191},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,46}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{187,191},{14,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,60}</string>
				<key>spriteSourceSize</key>
				<string>{28,60}</string>
				<key>textureRect</key>
				<string>{{164,130},{28,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{58,35}</string>
				<key>spriteSourceSize</key>
				<string>{59,36}</string>
				<key>textureRect</key>
				<string>{{0,206},{58,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13.5,-4}</string>
				<key>spriteSize</key>
				<string>{26,24}</string>
				<key>spriteSourceSize</key>
				<string>{27,26}</string>
				<key>textureRect</key>
				<string>{{85,206},{26,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_47_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{66,43}</string>
				<key>spriteSourceSize</key>
				<string>{67,44}</string>
				<key>textureRect</key>
				<string>{{123,86},{66,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_47-uhd.png</string>
			<key>size</key>
			<string>{206,241}</string>
			<key>textureFileName</key>
			<string>icons/robot_47-uhd.png</string>
		</dict>
	</dict>
</plist>