<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_163_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-8}</string>
				<key>spriteSize</key>
				<string>{160,68}</string>
				<key>spriteSourceSize</key>
				<string>{160,68}</string>
				<key>textureRect</key>
				<string>{{0,76},{160,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_163_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-8}</string>
				<key>spriteSize</key>
				<string>{154,62}</string>
				<key>spriteSourceSize</key>
				<string>{154,62}</string>
				<key>textureRect</key>
				<string>{{0,145},{154,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_163_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-6}</string>
				<key>spriteSize</key>
				<string>{150,54}</string>
				<key>spriteSourceSize</key>
				<string>{150,54}</string>
				<key>textureRect</key>
				<string>{{168,0},{150,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_163_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-8}</string>
				<key>spriteSize</key>
				<string>{167,75}</string>
				<key>spriteSourceSize</key>
				<string>{167,75}</string>
				<key>textureRect</key>
				<string>{{0,0},{167,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_163-uhd.png</string>
			<key>size</key>
			<string>{318,207}</string>
			<key>textureFileName</key>
			<string>icons/ship_163-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>