<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_148_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{164,89}</string>
				<key>spriteSourceSize</key>
				<string>{164,89}</string>
				<key>textureRect</key>
				<string>{{0,97},{164,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_148_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{156,79}</string>
				<key>spriteSourceSize</key>
				<string>{156,79}</string>
				<key>textureRect</key>
				<string>{{173,0},{156,79}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_148_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,16}</string>
				<key>spriteSize</key>
				<string>{150,46}</string>
				<key>spriteSourceSize</key>
				<string>{150,46}</string>
				<key>textureRect</key>
				<string>{{0,187},{150,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_148_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{172,96}</string>
				<key>spriteSourceSize</key>
				<string>{172,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{172,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_148-uhd.png</string>
			<key>size</key>
			<string>{252,233}</string>
			<key>textureFileName</key>
			<string>icons/ship_148-uhd.png</string>
		</dict>
	</dict>
</plist>