<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_162_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,6.8}</string>
			<key>spriteSize</key>
			<string>{103,50}</string>
			<key>spriteSourceSize</key>
			<string>{107,56}</string>
			<key>textureRect</key>
			<string>{{60,2},{103,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_162_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,4}</string>
			<key>spriteSize</key>
			<string>{99,47}</string>
			<key>spriteSourceSize</key>
			<string>{107,56}</string>
			<key>textureRect</key>
			<string>{{164,2},{99,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_162_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,4}</string>
			<key>spriteSize</key>
			<string>{99,50}</string>
			<key>spriteSourceSize</key>
			<string>{107,56}</string>
			<key>textureRect</key>
			<string>{{112,2},{99,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_162_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,5.2}</string>
			<key>spriteSize</key>
			<string>{107,56}</string>
			<key>spriteSourceSize</key>
			<string>{107,56}</string>
			<key>textureRect</key>
			<string>{{2,2},{107,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_162-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_162-hd.png</string>
	</dict>
</dict>
</plist>
