<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_32_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{145,65}</string>
				<key>spriteSourceSize</key>
				<string>{145,65}</string>
				<key>textureRect</key>
				<string>{{200,0},{145,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_32_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{17,1}</string>
				<key>spriteSize</key>
				<string>{158,68}</string>
				<key>spriteSourceSize</key>
				<string>{158,68}</string>
				<key>textureRect</key>
				<string>{{0,188},{158,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_32_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{20,0}</string>
				<key>spriteSize</key>
				<string>{199,97}</string>
				<key>spriteSourceSize</key>
				<string>{199,97}</string>
				<key>textureRect</key>
				<string>{{0,0},{199,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_32_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{20,0}</string>
				<key>spriteSize</key>
				<string>{191,89}</string>
				<key>spriteSourceSize</key>
				<string>{191,89}</string>
				<key>textureRect</key>
				<string>{{0,98},{191,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_32-uhd.png</string>
			<key>size</key>
			<string>{345,256}</string>
			<key>textureFileName</key>
			<string>icons/ship_32-uhd.png</string>
			# icon by Kevgen
		</dict>
	</dict>
</plist>