<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_75_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{158,75}</string>
				<key>spriteSourceSize</key>
				<string>{158,75}</string>
				<key>textureRect</key>
				<string>{{0,84},{158,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_75_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{148,66}</string>
				<key>spriteSourceSize</key>
				<string>{148,66}</string>
				<key>textureRect</key>
				<string>{{0,160},{148,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_75_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{146,47}</string>
				<key>spriteSourceSize</key>
				<string>{146,47}</string>
				<key>textureRect</key>
				<string>{{167,0},{146,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_75_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{166,83}</string>
				<key>spriteSourceSize</key>
				<string>{166,83}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_75-uhd.png</string>
			<key>size</key>
			<string>{214,226}</string>
			<key>textureFileName</key>
			<string>icons/ship_75-uhd.png</string>
		</dict>
	</dict>
</plist>