<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_53_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{162,80}</string>
				<key>spriteSourceSize</key>
				<string>{162,80}</string>
				<key>textureRect</key>
				<string>{{0,89},{162,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_53_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{158,76}</string>
				<key>spriteSourceSize</key>
				<string>{158,76}</string>
				<key>textureRect</key>
				<string>{{0,170},{158,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_53_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{151,50}</string>
				<key>spriteSourceSize</key>
				<string>{151,50}</string>
				<key>textureRect</key>
				<string>{{171,0},{151,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_53_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{170,88}</string>
				<key>spriteSourceSize</key>
				<string>{170,88}</string>
				<key>textureRect</key>
				<string>{{0,0},{170,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_53-uhd.png</string>
			<key>size</key>
			<string>{322,246}</string>
			<key>textureFileName</key>
			<string>icons/ship_53-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>