<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{156,91}</string>
				<key>spriteSourceSize</key>
				<string>{156,91}</string>
				<key>textureRect</key>
				<string>{{0,100},{156,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_05_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{150,85}</string>
				<key>spriteSourceSize</key>
				<string>{150,85}</string>
				<key>textureRect</key>
				<string>{{164,0},{150,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_05_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-1}</string>
				<key>spriteSize</key>
				<string>{134,72}</string>
				<key>spriteSourceSize</key>
				<string>{134,72}</string>
				<key>textureRect</key>
				<string>{{164,86},{134,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_05_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{163,99}</string>
				<key>spriteSourceSize</key>
				<string>{163,99}</string>
				<key>textureRect</key>
				<string>{{0,0},{163,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_05-uhd.png</string>
			<key>size</key>
			<string>{314,191}</string>
			<key>textureFileName</key>
			<string>icons/ship_05-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>