<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{146,74}</string>
				<key>spriteSourceSize</key>
				<string>{152,81}</string>
				<key>textureRect</key>
				<string>{{0,82},{146,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,4.5}</string>
				<key>spriteSize</key>
				<string>{91,48}</string>
				<key>spriteSourceSize</key>
				<string>{152,81}</string>
				<key>textureRect</key>
				<string>{{153,0},{91,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-7.5}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{152,81}</string>
				<key>textureRect</key>
				<string>{{147,92},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{152,81}</string>
				<key>spriteSourceSize</key>
				<string>{152,81}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_01-uhd.png</string>
			<key>size</key>
			<string>{201,156}</string>
			<key>textureFileName</key>
			<string>icons/ship_01-uhd.png</string>
		</dict>
	</dict>
</plist>