<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_104_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{157,86}</string>
				<key>spriteSourceSize</key>
				<string>{166,95}</string>
				<key>textureRect</key>
				<string>{{0,96},{157,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_104_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,-8}</string>
				<key>spriteSize</key>
				<string>{136,63}</string>
				<key>spriteSourceSize</key>
				<string>{166,95}</string>
				<key>textureRect</key>
				<string>{{167,0},{136,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_104_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,-3}</string>
				<key>spriteSize</key>
				<string>{110,49}</string>
				<key>spriteSourceSize</key>
				<string>{166,95}</string>
				<key>textureRect</key>
				<string>{{0,183},{110,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_104_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{166,95}</string>
				<key>spriteSourceSize</key>
				<string>{166,95}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_104-uhd.png</string>
			<key>size</key>
			<string>{230,232}</string>
			<key>textureFileName</key>
			<string>icons/ship_104-uhd.png</string>
		</dict>
	</dict>
</plist>