<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_39_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{176,67}</string>
				<key>spriteSourceSize</key>
				<string>{176,67}</string>
				<key>textureRect</key>
				<string>{{0,76},{176,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_39_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,-5}</string>
				<key>spriteSize</key>
				<string>{160,55}</string>
				<key>spriteSourceSize</key>
				<string>{160,55}</string>
				<key>textureRect</key>
				<string>{{185,0},{160,55}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_39_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{167,55}</string>
				<key>spriteSourceSize</key>
				<string>{167,55}</string>
				<key>textureRect</key>
				<string>{{0,144},{167,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_39_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{184,75}</string>
				<key>spriteSourceSize</key>
				<string>{184,75}</string>
				<key>textureRect</key>
				<string>{{0,0},{184,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_39-uhd.png</string>
			<key>size</key>
			<string>{240,199}</string>
			<key>textureFileName</key>
			<string>icons/ship_39-uhd.png</string>
		</dict>
	</dict>
</plist>