<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_11_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{172,88}</string>
				<key>spriteSourceSize</key>
				<string>{172,88}</string>
				<key>textureRect</key>
				<string>{{0,97},{172,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_11_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1.5}</string>
				<key>spriteSize</key>
				<string>{148,77}</string>
				<key>spriteSourceSize</key>
				<string>{148,77}</string>
				<key>textureRect</key>
				<string>{{181,0},{148,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_11_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-1.5}</string>
				<key>spriteSize</key>
				<string>{147,75}</string>
				<key>spriteSourceSize</key>
				<string>{147,75}</string>
				<key>textureRect</key>
				<string>{{0,186},{147,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_11_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{180,96}</string>
				<key>spriteSourceSize</key>
				<string>{180,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{180,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_11-uhd.png</string>
			<key>size</key>
			<string>{258,261}</string>
			<key>textureFileName</key>
			<string>icons/ship_11-uhd.png</string>
		</dict>
	</dict>
</plist>