<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_50_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,-12}</string>
				<key>spriteSize</key>
				<string>{159,90}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{0,97},{159,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_50_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,-12}</string>
				<key>spriteSize</key>
				<string>{157,88}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{167,0},{157,88}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_50_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-10}</string>
				<key>spriteSize</key>
				<string>{144,63}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{0,188},{144,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_50_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,-12}</string>
				<key>spriteSize</key>
				<string>{166,96}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{0,0},{166,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_50-uhd.png</string>
			<key>size</key>
			<string>{255,251}</string>
			<key>textureFileName</key>
			<string>icons/ship_50-uhd.png</string>
		</dict>
	</dict>
</plist>