<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_36_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-9}</string>
				<key>spriteSize</key>
				<string>{170,89}</string>
				<key>spriteSourceSize</key>
				<string>{170,89}</string>
				<key>textureRect</key>
				<string>{{0,98},{170,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_36_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-1}</string>
				<key>spriteSize</key>
				<string>{166,71}</string>
				<key>spriteSourceSize</key>
				<string>{166,71}</string>
				<key>textureRect</key>
				<string>{{179,0},{166,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_36_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-9}</string>
				<key>spriteSize</key>
				<string>{178,97}</string>
				<key>spriteSourceSize</key>
				<string>{178,97}</string>
				<key>textureRect</key>
				<string>{{0,0},{178,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_36-uhd.png</string>
			<key>size</key>
			<string>{250,187}</string>
			<key>textureFileName</key>
			<string>icons/ship_36-uhd.png</string>
		</dict>
	</dict>
</plist>