<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_34_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{170,88}</string>
				<key>spriteSourceSize</key>
				<string>{170,88}</string>
				<key>textureRect</key>
				<string>{{0,97},{170,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_34_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{164,58}</string>
				<key>spriteSourceSize</key>
				<string>{164,58}</string>
				<key>textureRect</key>
				<string>{{179,0},{164,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_34_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{44,-12.5}</string>
				<key>spriteSize</key>
				<string>{42,43}</string>
				<key>spriteSourceSize</key>
				<string>{43,43}</string>
				<key>textureRect</key>
				<string>{{171,97},{42,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_34_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{178,96}</string>
				<key>spriteSourceSize</key>
				<string>{178,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{178,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_34-uhd.png</string>
			<key>size</key>
			<string>{343,185}</string>
			<key>textureFileName</key>
			<string>icons/ship_34-uhd.png</string>
		</dict>
	</dict>
</plist>