<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_101_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-8}</string>
				<key>spriteSize</key>
				<string>{151,74}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,83},{151,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_101_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-5}</string>
				<key>spriteSize</key>
				<string>{139,60}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,158},{139,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_101_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-1}</string>
				<key>spriteSize</key>
				<string>{115,52}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{160,0},{115,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_101_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-8}</string>
				<key>spriteSize</key>
				<string>{159,82}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,0},{159,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_101-uhd.png</string>
			<key>size</key>
			<string>{212,218}</string>
			<key>textureFileName</key>
			<string>icons/ship_101-uhd.png</string>
		</dict>
	</dict>
</plist>