<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_135_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{91,42}</string>
			<key>spriteSourceSize</key>
			<string>{94,45}</string>
			<key>textureRect</key>
			<string>{{49,2},{91,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_135_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{88,39}</string>
			<key>spriteSourceSize</key>
			<string>{94,45}</string>
			<key>textureRect</key>
			<string>{{93,2},{88,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_135_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,-4}</string>
			<key>spriteSize</key>
			<string>{48,20}</string>
			<key>spriteSourceSize</key>
			<string>{94,45}</string>
			<key>textureRect</key>
			<string>{{2,98},{48,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_135_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{94,45}</string>
			<key>spriteSourceSize</key>
			<string>{94,45}</string>
			<key>textureRect</key>
			<string>{{2,2},{94,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_135-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_135-hd.png</string>
	</dict>
</dict>
</plist>
