<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_07_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-1}</string>
				<key>spriteSize</key>
				<string>{172,85}</string>
				<key>spriteSourceSize</key>
				<string>{172,86}</string>
				<key>textureRect</key>
				<string>{{0,93},{172,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_07_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{170,79}</string>
				<key>spriteSourceSize</key>
				<string>{170,83}</string>
				<key>textureRect</key>
				<string>{{0,179},{170,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_07_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{141,57}</string>
				<key>spriteSourceSize</key>
				<string>{156,62}</string>
				<key>textureRect</key>
				<string>{{186,0},{141,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_07_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{185,92}</string>
				<key>spriteSourceSize</key>
				<string>{185,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{185,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_07-uhd.png</string>
			<key>size</key>
			<string>{327,258}</string>
			<key>textureFileName</key>
			<string>icons/ship_07-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>