<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_29_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,-6.5}</string>
				<key>spriteSize</key>
				<string>{192,77}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,86},{192,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_29_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-23.5,-14}</string>
				<key>spriteSize</key>
				<string>{135,56}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,164},{135,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_29_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18.5,-16}</string>
				<key>spriteSize</key>
				<string>{123,52}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{201,0},{123,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_29_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,-6.5}</string>
				<key>spriteSize</key>
				<string>{200,85}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,0},{200,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_29-uhd.png</string>
			<key>size</key>
			<string>{253,220}</string>
			<key>textureFileName</key>
			<string>icons/ship_29-uhd.png</string>
		</dict>
	</dict>
</plist>