<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_99_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{148,67}</string>
				<key>spriteSourceSize</key>
				<string>{148,67}</string>
				<key>textureRect</key>
				<string>{{0,77},{148,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_99_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{144,63}</string>
				<key>spriteSourceSize</key>
				<string>{144,63}</string>
				<key>textureRect</key>
				<string>{{158,0},{144,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_99_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-11.5}</string>
				<key>spriteSize</key>
				<string>{145,64}</string>
				<key>spriteSourceSize</key>
				<string>{146,65}</string>
				<key>textureRect</key>
				<string>{{0,146},{145,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_99_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{156,75}</string>
				<key>spriteSourceSize</key>
				<string>{156,75}</string>
				<key>textureRect</key>
				<string>{{0,0},{156,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_99-uhd.png</string>
			<key>size</key>
			<string>{221,210}</string>
			<key>textureFileName</key>
			<string>icons/ship_99-uhd.png</string>
		</dict>
	</dict>
</plist>