<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_167_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{182,64}</string>
				<key>spriteSourceSize</key>
				<string>{190,72}</string>
				<key>textureRect</key>
				<string>{{0,73},{182,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_167_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{174,56}</string>
				<key>spriteSourceSize</key>
				<string>{190,72}</string>
				<key>textureRect</key>
				<string>{{0,138},{174,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_167_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{22,-2}</string>
				<key>spriteSize</key>
				<string>{128,17}</string>
				<key>spriteSourceSize</key>
				<string>{190,72}</string>
				<key>textureRect</key>
				<string>{{191,0},{128,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_167_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{190,72}</string>
				<key>spriteSourceSize</key>
				<string>{190,72}</string>
				<key>textureRect</key>
				<string>{{0,0},{190,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_167-uhd.png</string>
			<key>size</key>
			<string>{208,194}</string>
			<key>textureFileName</key>
			<string>icons/ship_167-uhd.png</string>
		</dict>
	</dict>
</plist>