<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_27_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{161,76}</string>
				<key>spriteSourceSize</key>
				<string>{161,76}</string>
				<key>textureRect</key>
				<string>{{0,85},{161,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_27_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{157,72}</string>
				<key>spriteSourceSize</key>
				<string>{157,72}</string>
				<key>textureRect</key>
				<string>{{0,162},{157,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_27_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{27,-11.5}</string>
				<key>spriteSize</key>
				<string>{75,25}</string>
				<key>spriteSourceSize</key>
				<string>{75,25}</string>
				<key>textureRect</key>
				<string>{{170,0},{75,25}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_27_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{169,84}</string>
				<key>spriteSourceSize</key>
				<string>{169,84}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_27-uhd.png</string>
			<key>size</key>
			<string>{195,234}</string>
			<key>textureFileName</key>
			<string>icons/ship_27-uhd.png</string>
		</dict>
	</dict>
</plist>