<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_156_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{148,89}</string>
				<key>spriteSourceSize</key>
				<string>{148,89}</string>
				<key>textureRect</key>
				<string>{{0,96},{148,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_156_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{136,77}</string>
				<key>spriteSourceSize</key>
				<string>{136,77}</string>
				<key>textureRect</key>
				<string>{{156,0},{136,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_156_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,3}</string>
				<key>spriteSize</key>
				<string>{96,71}</string>
				<key>spriteSourceSize</key>
				<string>{96,71}</string>
				<key>textureRect</key>
				<string>{{0,186},{96,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_156_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{155,95}</string>
				<key>spriteSourceSize</key>
				<string>{155,95}</string>
				<key>textureRect</key>
				<string>{{0,0},{155,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_156-uhd.png</string>
			<key>size</key>
			<string>{233,257}</string>
			<key>textureFileName</key>
			<string>icons/ship_156-uhd.png</string>
		</dict>
	</dict>
</plist>