<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_58_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-10}</string>
				<key>spriteSize</key>
				<string>{178,65}</string>
				<key>spriteSourceSize</key>
				<string>{178,65}</string>
				<key>textureRect</key>
				<string>{{0,82},{178,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_58_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{174,71}</string>
				<key>spriteSourceSize</key>
				<string>{174,71}</string>
				<key>textureRect</key>
				<string>{{0,148},{174,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_58_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-3.5}</string>
				<key>spriteSize</key>
				<string>{154,59}</string>
				<key>spriteSourceSize</key>
				<string>{154,60}</string>
				<key>textureRect</key>
				<string>{{187,0},{154,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_58_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-6}</string>
				<key>spriteSize</key>
				<string>{186,81}</string>
				<key>spriteSourceSize</key>
				<string>{186,81}</string>
				<key>textureRect</key>
				<string>{{0,0},{186,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_58-uhd.png</string>
			<key>size</key>
			<string>{341,219}</string>
			<key>textureFileName</key>
			<string>icons/ship_58-uhd.png</string>
			#Icon by Kevgen
		</dict>
	</dict>
</plist>