<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_109_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-5}</string>
				<key>spriteSize</key>
				<string>{186,69}</string>
				<key>spriteSourceSize</key>
				<string>{186,69}</string>
				<key>textureRect</key>
				<string>{{0,78},{186,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-5}</string>
				<key>spriteSize</key>
				<string>{182,65}</string>
				<key>spriteSourceSize</key>
				<string>{182,65}</string>
				<key>textureRect</key>
				<string>{{0,148},{182,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,2}</string>
				<key>spriteSize</key>
				<string>{169,48}</string>
				<key>spriteSourceSize</key>
				<string>{169,48}</string>
				<key>textureRect</key>
				<string>{{195,0},{169,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-5}</string>
				<key>spriteSize</key>
				<string>{194,77}</string>
				<key>spriteSourceSize</key>
				<string>{194,77}</string>
				<key>textureRect</key>
				<string>{{0,0},{194,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_109-uhd.png</string>
			<key>size</key>
			<string>{364,213}</string>
			<key>textureFileName</key>
			<string>icons/ship_109-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>