<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_56_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,14.5}</string>
				<key>spriteSize</key>
				<string>{142,117}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{0,123},{142,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_56_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,14.5}</string>
				<key>spriteSize</key>
				<string>{129,107}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{149,0},{129,107}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_56_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{25,-3}</string>
				<key>spriteSize</key>
				<string>{78,70}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{143,130},{78,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_56_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,15}</string>
				<key>spriteSize</key>
				<string>{148,122}</string>
				<key>spriteSourceSize</key>
				<string>{250,200}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_56-uhd.png</string>
			<key>size</key>
			<string>{256,240}</string>
			<key>textureFileName</key>
			<string>icons/ship_56-uhd.png</string>
		</dict>
	</dict>
</plist>