<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_135_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-6}</string>
				<key>spriteSize</key>
				<string>{182,84}</string>
				<key>spriteSourceSize</key>
				<string>{182,84}</string>
				<key>textureRect</key>
				<string>{{0,91},{182,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_135_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-6}</string>
				<key>spriteSize</key>
				<string>{176,78}</string>
				<key>spriteSourceSize</key>
				<string>{176,78}</string>
				<key>textureRect</key>
				<string>{{0,176},{176,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_135_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,-8}</string>
				<key>spriteSize</key>
				<string>{96,40}</string>
				<key>spriteSourceSize</key>
				<string>{96,40}</string>
				<key>textureRect</key>
				<string>{{189,0},{96,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_135_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-6}</string>
				<key>spriteSize</key>
				<string>{188,90}</string>
				<key>spriteSourceSize</key>
				<string>{188,90}</string>
				<key>textureRect</key>
				<string>{{0,0},{188,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_135-uhd.png</string>
			<key>size</key>
			<string>{229,254}</string>
			<key>textureFileName</key>
			<string>icons/ship_135-uhd.png</string>
		</dict>
	</dict>
</plist>