<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_27_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{176,92}</string>
				<key>spriteSourceSize</key>
				<string>{176,92}</string>
				<key>textureRect</key>
				<string>{{0,101},{176,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_27_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,83}</string>
				<key>spriteSourceSize</key>
				<string>{165,83}</string>
				<key>textureRect</key>
				<string>{{185,0},{165,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_27_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{163,78}</string>
				<key>spriteSourceSize</key>
				<string>{163,78}</string>
				<key>textureRect</key>
				<string>{{0,194},{163,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_27_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,100}</string>
				<key>spriteSourceSize</key>
				<string>{184,100}</string>
				<key>textureRect</key>
				<string>{{0,0},{184,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_27-uhd.png</string>
			<key>size</key>
			<string>{268,272}</string>
			<key>textureFileName</key>
			<string>icons/ship_27-uhd.png</string>
		</dict>
	</dict>
</plist>