<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_86_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{188,89}</string>
				<key>spriteSourceSize</key>
				<string>{188,89}</string>
				<key>textureRect</key>
				<string>{{0,98},{188,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_86_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{181,82}</string>
				<key>spriteSourceSize</key>
				<string>{181,82}</string>
				<key>textureRect</key>
				<string>{{0,188},{181,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_86_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{166,64}</string>
				<key>spriteSourceSize</key>
				<string>{166,64}</string>
				<key>textureRect</key>
				<string>{{197,0},{166,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_86_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{196,97}</string>
				<key>spriteSourceSize</key>
				<string>{196,97}</string>
				<key>textureRect</key>
				<string>{{0,0},{196,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_86-uhd.png</string>
			<key>size</key>
			<string>{261,270}</string>
			<key>textureFileName</key>
			<string>icons/ship_86-uhd.png</string>
		</dict>
	</dict>
</plist>