<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_160_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{91,46}</string>
			<key>spriteSourceSize</key>
			<string>{95,49}</string>
			<key>textureRect</key>
			<string>{{53,2},{91,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_160_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,-4}</string>
			<key>spriteSize</key>
			<string>{78,36}</string>
			<key>spriteSourceSize</key>
			<string>{95,49}</string>
			<key>textureRect</key>
			<string>{{101,2},{78,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_160_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,0}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{95,49}</string>
			<key>textureRect</key>
			<string>{{2,99},{32,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_160_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{95,49}</string>
			<key>spriteSourceSize</key>
			<string>{95,49}</string>
			<key>textureRect</key>
			<string>{{2,2},{95,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_160-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_160-hd.png</string>
	</dict>
</dict>
</plist>
