<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_109_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{162,75}</string>
				<key>spriteSourceSize</key>
				<string>{162,75}</string>
				<key>textureRect</key>
				<string>{{177,0},{162,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,7}</string>
				<key>spriteSize</key>
				<string>{48,25}</string>
				<key>spriteSourceSize</key>
				<string>{48,25}</string>
				<key>textureRect</key>
				<string>{{169,93},{48,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{176,92}</string>
				<key>spriteSourceSize</key>
				<string>{176,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{176,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_109_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{168,84}</string>
				<key>spriteSourceSize</key>
				<string>{168,84}</string>
				<key>textureRect</key>
				<string>{{0,93},{168,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_109-uhd.png</string>
			<key>size</key>
			<string>{339,177}</string>
			<key>textureFileName</key>
			<string>icons/ship_109-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>