<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_25_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,82}</string>
                <key>spriteSourceSize</key>
                <string>{185,82}</string>
                <key>textureRect</key>
                <string>{{1,3},{185,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_25_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,82}</string>
                <key>spriteSourceSize</key>
                <string>{185,82}</string>
                <key>textureRect</key>
                <string>{{1,93},{185,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_25_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,82}</string>
                <key>spriteSourceSize</key>
                <string>{185,82}</string>
                <key>textureRect</key>
                <string>{{1,183},{185,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
		<key>ship_25_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,91}</string>
                <key>spriteSourceSize</key>
                <string>{195,91}</string>
                <key>textureRect</key>
                <string>{{6,279},{195,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_25-uhd.png</string>
            <key>size</key>
            <string>{195,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e30da89d6a41fdcdd72df05b1c458e:dae2f3ff0e046d379280db1d6ac0dcbb:2a1f5fc3dc2f551f8ac010df4ea791ea$</string>
            <key>textureFileName</key>
            <string>icons/ship_25-uhd.png</string>
        </dict>
    </dict>
</plist>
