<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_146_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-1}</string>
				<key>spriteSize</key>
				<string>{153,86}</string>
				<key>spriteSourceSize</key>
				<string>{208,143}</string>
				<key>textureRect</key>
				<string>{{0,93},{153,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_146_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-1}</string>
				<key>spriteSize</key>
				<string>{117,70}</string>
				<key>spriteSourceSize</key>
				<string>{208,143}</string>
				<key>textureRect</key>
				<string>{{159,0},{117,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_146_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{37,-3}</string>
				<key>spriteSize</key>
				<string>{66,51}</string>
				<key>spriteSourceSize</key>
				<string>{208,143}</string>
				<key>textureRect</key>
				<string>{{154,118},{66,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_146_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-1}</string>
				<key>spriteSize</key>
				<string>{158,92}</string>
				<key>spriteSourceSize</key>
				<string>{208,143}</string>
				<key>textureRect</key>
				<string>{{0,0},{158,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_146-uhd.png</string>
			<key>size</key>
			<string>{229,179}</string>
			<key>textureFileName</key>
			<string>icons/ship_146-uhd.png</string>
		</dict>
	</dict>
</plist>