<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_102_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{178,74}</string>
				<key>spriteSourceSize</key>
				<string>{240,240}</string>
				<key>textureRect</key>
				<string>{{0,83},{178,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_102_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,1.5}</string>
				<key>spriteSize</key>
				<string>{34,17}</string>
				<key>spriteSourceSize</key>
				<string>{240,240}</string>
				<key>textureRect</key>
				<string>{{0,158},{34,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_102_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{186,82}</string>
				<key>spriteSourceSize</key>
				<string>{240,240}</string>
				<key>textureRect</key>
				<string>{{0,0},{186,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_102-uhd.png</string>
			<key>size</key>
			<string>{186,175}</string>
			<key>textureFileName</key>
			<string>icons/ship_102-uhd.png</string>
		</dict>
	</dict>
</plist>