<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_85_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{24,-10}</string>
				<key>spriteSize</key>
				<string>{126,68}</string>
				<key>spriteSourceSize</key>
				<string>{182,80}</string>
				<key>textureRect</key>
				<string>{{0,154},{126,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_85_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-10}</string>
				<key>spriteSize</key>
				<string>{171,72}</string>
				<key>spriteSourceSize</key>
				<string>{182,80}</string>
				<key>textureRect</key>
				<string>{{0,81},{171,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_85_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-34,-10}</string>
				<key>spriteSize</key>
				<string>{98,64}</string>
				<key>spriteSourceSize</key>
				<string>{182,80}</string>
				<key>textureRect</key>
				<string>{{183,0},{98,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_85_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{182,80}</string>
				<key>spriteSourceSize</key>
				<string>{182,80}</string>
				<key>textureRect</key>
				<string>{{0,0},{182,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_85-uhd.png</string>
			<key>size</key>
			<string>{247,222}</string>
			<key>textureFileName</key>
			<string>icons/ship_85-uhd.png</string>
		</dict>
	</dict>
</plist>