<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_122_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16,0}</string>
			<key>spriteSize</key>
			<string>{169,87}</string>
			<key>spriteSourceSize</key>
			<string>{169,87}</string>
			<key>textureRect</key>
			<string>{{278,2},{169,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_122_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,0}</string>
			<key>spriteSize</key>
			<string>{182,89}</string>
			<key>spriteSourceSize</key>
			<string>{182,89}</string>
			<key>textureRect</key>
			<string>{{101,2},{182,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_122_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,-1}</string>
			<key>spriteSize</key>
			<string>{175,84}</string>
			<key>spriteSourceSize</key>
			<string>{175,84}</string>
			<key>textureRect</key>
			<string>{{192,2},{175,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_122_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,0}</string>
			<key>spriteSize</key>
			<string>{190,97}</string>
			<key>spriteSourceSize</key>
			<string>{190,97}</string>
			<key>textureRect</key>
			<string>{{2,2},{190,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_122-uhd.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_122-uhd.png</string>
	</dict>
</dict>
</plist>
