<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,79}</string>
                <key>spriteSourceSize</key>
                <string>{173,79}</string>
                <key>textureRect</key>
                <string>{{2,3},{173,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_11_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,79}</string>
                <key>spriteSourceSize</key>
                <string>{173,79}</string>
                <key>textureRect</key>
                <string>{{2,83},{173,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_11_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,79}</string>
                <key>spriteSourceSize</key>
                <string>{173,79}</string>
                <key>textureRect</key>
                <string>{{2,163},{173,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
	        <key>ship_11_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,88}</string>
                <key>spriteSourceSize</key>
                <string>{182,88}</string>
                <key>textureRect</key>
                <string>{{1,244},{182,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/ship_11-uhd.png</string>
            <key>size</key>
            <string>{195,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e30da89d6a41fdcdd72df05b1c458e:dae2f3ff0e046d379280db1d6ac0dcbb:2a1f5fc3dc2f551f8ac010df4ea791ea$</string>
            <key>textureFileName</key>
            <string>icons/ship_11-uhd.png</string>
        </dict>
    </dict>
</plist>
