<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_78_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-9}</string>
				<key>spriteSize</key>
				<string>{175,82}</string>
				<key>spriteSourceSize</key>
				<string>{185,91}</string>
				<key>textureRect</key>
				<string>{{0,92},{175,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_78_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-8}</string>
				<key>spriteSize</key>
				<string>{168,75}</string>
				<key>spriteSourceSize</key>
				<string>{185,91}</string>
				<key>textureRect</key>
				<string>{{0,175},{168,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_78_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{163,63}</string>
				<key>spriteSourceSize</key>
				<string>{185,91}</string>
				<key>textureRect</key>
				<string>{{186,0},{163,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_78_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8.5}</string>
				<key>spriteSize</key>
				<string>{185,91}</string>
				<key>spriteSourceSize</key>
				<string>{185,91}</string>
				<key>textureRect</key>
				<string>{{0,0},{185,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_78-uhd.png</string>
			<key>size</key>
			<string>{249,250}</string>
			<key>textureFileName</key>
			<string>icons/ship_78-uhd.png</string>
		</dict>
	</dict>
</plist>