<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_112_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{172,94}</string>
				<key>spriteSourceSize</key>
				<string>{180,102}</string>
				<key>textureRect</key>
				<string>{{0,103},{172,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_112_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,0}</string>
				<key>spriteSize</key>
				<string>{148,88}</string>
				<key>spriteSourceSize</key>
				<string>{180,102}</string>
				<key>textureRect</key>
				<string>{{181,0},{148,88}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_112_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,10.5}</string>
				<key>spriteSize</key>
				<string>{133,25}</string>
				<key>spriteSourceSize</key>
				<string>{180,102}</string>
				<key>textureRect</key>
				<string>{{0,198},{133,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_112_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,102}</string>
				<key>spriteSourceSize</key>
				<string>{180,102}</string>
				<key>textureRect</key>
				<string>{{0,0},{180,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_112-uhd.png</string>
			<key>size</key>
			<string>{269,223}</string>
			<key>textureFileName</key>
			<string>icons/ship_112-uhd.png</string>
		</dict>
	</dict>
</plist>