<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_38_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,0}</string>
				<key>spriteSize</key>
				<string>{173,90}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{0,101},{173,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_38_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-27,16.5}</string>
				<key>spriteSize</key>
				<string>{62,27}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{182,0},{62,27}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_38_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{50,1}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{182,63},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_38_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,0}</string>
				<key>spriteSize</key>
				<string>{181,100}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{0,0},{181,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_38-uhd.png</string>
			<key>size</key>
			<string>{209,191}</string>
			<key>textureFileName</key>
			<string>icons/ship_38-uhd.png</string>
		</dict>
	</dict>
</plist>