<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_95_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-14}</string>
				<key>spriteSize</key>
				<string>{153,70}</string>
				<key>spriteSourceSize</key>
				<string>{153,70}</string>
				<key>textureRect</key>
				<string>{{173,0},{153,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_95_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{156,62}</string>
				<key>spriteSourceSize</key>
				<string>{156,62}</string>
				<key>textureRect</key>
				<string>{{0,154},{156,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-13}</string>
				<key>spriteSize</key>
				<string>{164,72}</string>
				<key>spriteSourceSize</key>
				<string>{164,72}</string>
				<key>textureRect</key>
				<string>{{0,81},{164,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-13}</string>
				<key>spriteSize</key>
				<string>{172,80}</string>
				<key>spriteSourceSize</key>
				<string>{172,80}</string>
				<key>textureRect</key>
				<string>{{0,0},{172,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_95-uhd.png</string>
			<key>size</key>
			<string>{243,216}</string>
			<key>textureFileName</key>
			<string>icons/ship_95-uhd.png</string>
		</dict>
	</dict>
</plist>