<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_145_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,-15}</string>
				<key>spriteSize</key>
				<string>{174,88}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,97},{174,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_145_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,-15}</string>
				<key>spriteSize</key>
				<string>{155,58}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{183,0},{155,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_145_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-15}</string>
				<key>spriteSize</key>
				<string>{122,72}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,186},{122,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_145_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,-15}</string>
				<key>spriteSize</key>
				<string>{182,96}</string>
				<key>spriteSourceSize</key>
				<string>{252,202}</string>
				<key>textureRect</key>
				<string>{{0,0},{182,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_145-uhd.png</string>
			<key>size</key>
			<string>{241,258}</string>
			<key>textureFileName</key>
			<string>icons/ship_145-uhd.png</string>
		</dict>
	</dict>
</plist>