<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_37_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,79}</string>
				<key>spriteSourceSize</key>
				<string>{161,79}</string>
				<key>textureRect</key>
				<string>{{0,87},{161,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_37_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{154,53}</string>
				<key>spriteSourceSize</key>
				<string>{154,53}</string>
				<key>textureRect</key>
				<string>{{0,167},{154,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_37_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,1}</string>
				<key>spriteSize</key>
				<string>{140,66}</string>
				<key>spriteSourceSize</key>
				<string>{140,66}</string>
				<key>textureRect</key>
				<string>{{170,0},{140,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_37_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{169,86}</string>
				<key>spriteSourceSize</key>
				<string>{169,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_37-uhd.png</string>
			<key>size</key>
			<string>{236,220}</string>
			<key>textureFileName</key>
			<string>icons/ship_37-uhd.png</string>
		</dict>
	</dict>
</plist>