<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_139_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-10}</string>
				<key>spriteSize</key>
				<string>{166,63}</string>
				<key>spriteSourceSize</key>
				<string>{166,63}</string>
				<key>textureRect</key>
				<string>{{0,148},{166,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_139_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-10}</string>
				<key>spriteSize</key>
				<string>{164,65}</string>
				<key>spriteSourceSize</key>
				<string>{164,65}</string>
				<key>textureRect</key>
				<string>{{190,0},{164,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_139_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{181,69}</string>
				<key>spriteSourceSize</key>
				<string>{181,69}</string>
				<key>textureRect</key>
				<string>{{0,78},{181,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_139_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{189,77}</string>
				<key>spriteSourceSize</key>
				<string>{189,77}</string>
				<key>textureRect</key>
				<string>{{0,0},{189,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_139-uhd.png</string>
			<key>size</key>
			<string>{255,211}</string>
			<key>textureFileName</key>
			<string>icons/ship_139-uhd.png</string>
		</dict>
	</dict>
</plist>