<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_136_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{168,80}</string>
				<key>spriteSourceSize</key>
				<string>{168,80}</string>
				<key>textureRect</key>
				<string>{{0,87},{168,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_136_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{162,72}</string>
				<key>spriteSourceSize</key>
				<string>{162,72}</string>
				<key>textureRect</key>
				<string>{{0,168},{162,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_136_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{21,-5}</string>
				<key>spriteSize</key>
				<string>{114,44}</string>
				<key>spriteSourceSize</key>
				<string>{114,44}</string>
				<key>textureRect</key>
				<string>{{175,0},{114,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_136_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{174,86}</string>
				<key>spriteSourceSize</key>
				<string>{174,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{174,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_136-uhd.png</string>
			<key>size</key>
			<string>{219,240}</string>
			<key>textureFileName</key>
			<string>icons/ship_136-uhd.png</string>
		</dict>
	</dict>
</plist>