<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_164_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,2}</string>
				<key>spriteSize</key>
				<string>{175,79}</string>
				<key>spriteSourceSize</key>
				<string>{175,79}</string>
				<key>textureRect</key>
				<string>{{0,87},{175,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_164_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,7}</string>
				<key>spriteSize</key>
				<string>{123,60}</string>
				<key>spriteSourceSize</key>
				<string>{123,60}</string>
				<key>textureRect</key>
				<string>{{0,167},{123,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_164_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,0}</string>
				<key>spriteSize</key>
				<string>{90,68}</string>
				<key>spriteSourceSize</key>
				<string>{90,68}</string>
				<key>textureRect</key>
				<string>{{183,0},{90,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_164_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,2}</string>
				<key>spriteSize</key>
				<string>{182,86}</string>
				<key>spriteSourceSize</key>
				<string>{182,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{182,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_164-uhd.png</string>
			<key>size</key>
			<string>{251,227}</string>
			<key>textureFileName</key>
			<string>icons/ship_164-uhd.png</string>
		</dict>
	</dict>
</plist>