<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_49_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{167,99}</string>
				<key>spriteSourceSize</key>
				<string>{167,99}</string>
				<key>textureRect</key>
				<string>{{0,108},{167,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_49_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{161,92}</string>
				<key>spriteSourceSize</key>
				<string>{161,92}</string>
				<key>textureRect</key>
				<string>{{176,0},{161,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_49_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{151,80}</string>
				<key>spriteSourceSize</key>
				<string>{151,80}</string>
				<key>textureRect</key>
				<string>{{0,208},{151,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_49_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{175,107}</string>
				<key>spriteSourceSize</key>
				<string>{175,107}</string>
				<key>textureRect</key>
				<string>{{0,0},{175,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_49-uhd.png</string>
			<key>size</key>
			<string>{268,288}</string>
			<key>textureFileName</key>
			<string>icons/ship_49-uhd.png</string>
		</dict>
	</dict>
</plist>