<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_31_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{132,103}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{0,112},{132,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,11}</string>
				<key>spriteSize</key>
				<string>{85,96}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{134,112},{85,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,10.5}</string>
				<key>spriteSize</key>
				<string>{124,96}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{141,0},{124,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{139,110}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-2.5}</string>
				<key>spriteSize</key>
				<string>{46,62}</string>
				<key>spriteSourceSize</key>
				<string>{64,81}</string>
				<key>textureRect</key>
				<string>{{109,217},{46,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-2.5}</string>
				<key>spriteSize</key>
				<string>{40,58}</string>
				<key>spriteSourceSize</key>
				<string>{58,75}</string>
				<key>textureRect</key>
				<string>{{219,240},{40,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-2}</string>
				<key>spriteSize</key>
				<string>{54,71}</string>
				<key>spriteSourceSize</key>
				<string>{72,84}</string>
				<key>textureRect</key>
				<string>{{53,217},{54,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{44,74}</string>
				<key>spriteSourceSize</key>
				<string>{55,84}</string>
				<key>textureRect</key>
				<string>{{221,98},{44,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{34,64}</string>
				<key>spriteSourceSize</key>
				<string>{65,87}</string>
				<key>textureRect</key>
				<string>{{221,174},{34,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,81}</string>
				<key>spriteSourceSize</key>
				<string>{55,95}</string>
				<key>textureRect</key>
				<string>{{0,217},{51,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,35}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{157,253},{56,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,35}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{267,0},{56,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_31_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,41}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{157,210},{60,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_31-uhd.png</string>
			<key>size</key>
			<string>{323,298}</string>
			<key>textureFileName</key>
			<string>icons/spider_31-uhd.png</string>
		</dict>
	</dict>
</plist>