<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_63_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{66,44}</string>
			<key>spriteSourceSize</key>
			<string>{69,47}</string>
			<key>textureRect</key>
			<string>{{51,2},{66,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_63_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,3.5}</string>
			<key>spriteSize</key>
			<string>{43,33}</string>
			<key>spriteSourceSize</key>
			<string>{69,47}</string>
			<key>textureRect</key>
			<string>{{60,48},{43,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_63_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,3.5}</string>
			<key>spriteSize</key>
			<string>{56,35}</string>
			<key>spriteSourceSize</key>
			<string>{69,47}</string>
			<key>textureRect</key>
			<string>{{2,73},{56,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_63_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{69,47}</string>
			<key>spriteSourceSize</key>
			<string>{69,47}</string>
			<key>textureRect</key>
			<string>{{2,2},{69,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{119,2},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_63_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,9.5}</string>
			<key>spriteSize</key>
			<string>{12,11}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{146,111},{12,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{105,48},{28,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{22,39}</string>
			<key>spriteSourceSize</key>
			<string>{26,42}</string>
			<key>textureRect</key>
			<string>{{104,83},{22,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_63_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,9}</string>
			<key>spriteSize</key>
			<string>{13,16}</string>
			<key>spriteSourceSize</key>
			<string>{26,42}</string>
			<key>textureRect</key>
			<string>{{128,111},{13,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,2}</string>
			<key>spriteSize</key>
			<string>{26,42}</string>
			<key>spriteSourceSize</key>
			<string>{26,42}</string>
			<key>textureRect</key>
			<string>{{60,83},{26,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,18}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{143,37},{29,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{105,78},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_63_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,20}</string>
			<key>spriteSourceSize</key>
			<string>{31,20}</string>
			<key>textureRect</key>
			<string>{{128,78},{31,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_63-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_63-hd.png</string>
	</dict>
</dict>
</plist>
