<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_45_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{124,102}</string>
				<key>spriteSourceSize</key>
				<string>{124,102}</string>
				<key>textureRect</key>
				<string>{{0,111},{124,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{116,97}</string>
				<key>spriteSourceSize</key>
				<string>{116,97}</string>
				<key>textureRect</key>
				<string>{{133,0},{116,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,23}</string>
				<key>spriteSize</key>
				<string>{100,53}</string>
				<key>spriteSourceSize</key>
				<string>{100,53}</string>
				<key>textureRect</key>
				<string>{{133,98},{100,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7}</string>
				<key>spriteSize</key>
				<string>{132,110}</string>
				<key>spriteSourceSize</key>
				<string>{132,110}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{52,64}</string>
				<key>spriteSourceSize</key>
				<string>{52,64}</string>
				<key>textureRect</key>
				<string>{{185,152},{52,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,12}</string>
				<key>spriteSize</key>
				<string>{18,21}</string>
				<key>spriteSourceSize</key>
				<string>{18,21}</string>
				<key>textureRect</key>
				<string>{{125,189},{18,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{60,72}</string>
				<key>spriteSourceSize</key>
				<string>{60,72}</string>
				<key>textureRect</key>
				<string>{{124,214},{60,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,-3}</string>
				<key>spriteSize</key>
				<string>{57,76}</string>
				<key>spriteSourceSize</key>
				<string>{57,76}</string>
				<key>textureRect</key>
				<string>{{66,214},{57,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-21,5}</string>
				<key>spriteSize</key>
				<string>{18,36}</string>
				<key>spriteSourceSize</key>
				<string>{18,36}</string>
				<key>textureRect</key>
				<string>{{125,152},{18,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,-3}</string>
				<key>spriteSize</key>
				<string>{65,84}</string>
				<key>spriteSourceSize</key>
				<string>{65,84}</string>
				<key>textureRect</key>
				<string>{{0,214},{65,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{185,260},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{2,2}</string>
				<key>textureRect</key>
				<string>{{150,180},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_45_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{62,42}</string>
				<key>textureRect</key>
				<string>{{185,217},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_45-uhd.png</string>
			<key>size</key>
			<string>{249,298}</string>
			<key>textureFileName</key>
			<string>icons/spider_45-uhd.png</string>
		</dict>
	</dict>
</plist>