<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_41_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{145,112}</string>
				<key>spriteSourceSize</key>
				<string>{145,112}</string>
				<key>textureRect</key>
				<string>{{0,121},{145,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,15}</string>
				<key>spriteSize</key>
				<string>{125,98}</string>
				<key>spriteSourceSize</key>
				<string>{145,112}</string>
				<key>textureRect</key>
				<string>{{0,234},{125,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{145,107}</string>
				<key>spriteSourceSize</key>
				<string>{145,112}</string>
				<key>textureRect</key>
				<string>{{154,0},{145,107}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,10}</string>
				<key>spriteSize</key>
				<string>{153,120}</string>
				<key>spriteSourceSize</key>
				<string>{153,120}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{44,64}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{178,280},{44,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,1}</string>
				<key>spriteSize</key>
				<string>{37,58}</string>
				<key>spriteSourceSize</key>
				<string>{44,60}</string>
				<key>textureRect</key>
				<string>{{246,243},{37,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{52,72}</string>
				<key>spriteSourceSize</key>
				<string>{60,74}</string>
				<key>textureRect</key>
				<string>{{178,190},{52,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{43,73}</string>
				<key>spriteSourceSize</key>
				<string>{46,74}</string>
				<key>textureRect</key>
				<string>{{178,146},{43,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0.5}</string>
				<key>spriteSize</key>
				<string>{36,67}</string>
				<key>spriteSourceSize</key>
				<string>{40,68}</string>
				<key>textureRect</key>
				<string>{{178,243},{36,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_41_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{51,81}</string>
				<key>spriteSourceSize</key>
				<string>{54,82}</string>
				<key>textureRect</key>
				<string>{{126,234},{51,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{243,281},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{298,281},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_41_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{262,0},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_41-uhd.png</string>
			<key>size</key>
			<string>{304,332}</string>
			<key>textureFileName</key>
			<string>icons/spider_41-uhd.png</string>
		</dict>
	</dict>
</plist>