<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_63_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{131,88}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{0,98},{131,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{21,7}</string>
				<key>spriteSize</key>
				<string>{86,65}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{135,98},{86,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,7}</string>
				<key>spriteSize</key>
				<string>{112,70}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{141,0},{112,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{137,94}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{0,0},{137,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,65}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{162,167},{49,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,19}</string>
				<key>spriteSize</key>
				<string>{24,22}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{141,67},{24,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,71}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{103,190},{55,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,4}</string>
				<key>spriteSize</key>
				<string>{44,77}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{55,190},{44,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-13,18}</string>
				<key>spriteSize</key>
				<string>{26,32}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{215,167},{26,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,4}</string>
				<key>spriteSize</key>
				<string>{51,84}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{0,190},{51,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,35}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{162,236},{57,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,2}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{55,271},{1,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_63_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,39}</string>
				<key>spriteSourceSize</key>
				<string>{1440,800}</string>
				<key>textureRect</key>
				<string>{{257,0},{61,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_63-uhd.png</string>
			<key>size</key>
			<string>{318,274}</string>
			<key>textureFileName</key>
			<string>icons/spider_63-uhd.png</string>
		</dict>
	</dict>
</plist>