<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_17_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,6}</string>
				<key>spriteSize</key>
				<string>{144,104}</string>
				<key>spriteSourceSize</key>
				<string>{144,104}</string>
				<key>textureRect</key>
				<string>{{0,113},{144,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,6}</string>
				<key>spriteSize</key>
				<string>{136,96}</string>
				<key>spriteSourceSize</key>
				<string>{136,96}</string>
				<key>textureRect</key>
				<string>{{153,0},{136,96}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_17_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{40,20}</string>
				<key>spriteSize</key>
				<string>{62,35}</string>
				<key>spriteSourceSize</key>
				<string>{62,35}</string>
				<key>textureRect</key>
				<string>{{230,180},{62,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,6}</string>
				<key>spriteSize</key>
				<string>{152,112}</string>
				<key>spriteSourceSize</key>
				<string>{152,112}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{47,64}</string>
				<key>spriteSourceSize</key>
				<string>{50,64}</string>
				<key>textureRect</key>
				<string>{{250,0},{47,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{40,58}</string>
				<key>spriteSourceSize</key>
				<string>{44,58}</string>
				<key>textureRect</key>
				<string>{{250,65},{40,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{55,72}</string>
				<key>spriteSourceSize</key>
				<string>{58,72}</string>
				<key>textureRect</key>
				<string>{{151,193},{55,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{47,76}</string>
				<key>spriteSourceSize</key>
				<string>{48,78}</string>
				<key>textureRect</key>
				<string>{{0,218},{47,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_17_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,73}</string>
				<key>spriteSourceSize</key>
				<string>{43,73}</string>
				<key>textureRect</key>
				<string>{{77,218},{43,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_17_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{55,84}</string>
				<key>spriteSourceSize</key>
				<string>{56,86}</string>
				<key>textureRect</key>
				<string>{{145,137},{55,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_17_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{56,34}</string>
				<key>textureRect</key>
				<string>{{207,216},{55,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{293,180},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_17_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{63,42}</string>
				<key>spriteSourceSize</key>
				<string>{64,42}</string>
				<key>textureRect</key>
				<string>{{230,137},{63,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_17-uhd.png</string>
			<key>size</key>
			<string>{297,265}</string>
			<key>textureFileName</key>
			<string>icons/spider_17-uhd.png</string>
		</dict>
	</dict>
</plist>