<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_17_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,3}</string>
			<key>spriteSize</key>
			<string>{72,52}</string>
			<key>spriteSourceSize</key>
			<string>{76,56}</string>
			<key>textureRect</key>
			<string>{{60,2},{72,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,3}</string>
			<key>spriteSize</key>
			<string>{68,48}</string>
			<key>spriteSourceSize</key>
			<string>{76,56}</string>
			<key>textureRect</key>
			<string>{{60,76},{68,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,10}</string>
			<key>spriteSize</key>
			<string>{31,18}</string>
			<key>spriteSourceSize</key>
			<string>{76,56}</string>
			<key>textureRect</key>
			<string>{{130,105},{31,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,3}</string>
			<key>spriteSize</key>
			<string>{76,56}</string>
			<key>spriteSourceSize</key>
			<string>{76,56}</string>
			<key>textureRect</key>
			<string>{{2,2},{76,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{138,2},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{20,29}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{152,36},{20,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{114,41},{28,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{24,38}</string>
			<key>spriteSourceSize</key>
			<string>{28,42}</string>
			<key>textureRect</key>
			<string>{{32,80},{24,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,37}</string>
			<key>spriteSourceSize</key>
			<string>{28,42}</string>
			<key>textureRect</key>
			<string>{{114,2},{22,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{28,42}</string>
			<key>spriteSourceSize</key>
			<string>{28,42}</string>
			<key>textureRect</key>
			<string>{{2,80},{28,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{164,2},{28,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{164,32},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{130,71},{32,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_17-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_17-hd.png</string>
	</dict>
</dict>
</plist>
