<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_09_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,6}</string>
				<key>spriteSize</key>
				<string>{139,103}</string>
				<key>spriteSourceSize</key>
				<string>{147,111}</string>
				<key>textureRect</key>
				<string>{{0,112},{139,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{20.5,6}</string>
				<key>spriteSize</key>
				<string>{112,99}</string>
				<key>spriteSourceSize</key>
				<string>{147,111}</string>
				<key>textureRect</key>
				<string>{{209,0},{112,99}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_09_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,6.5}</string>
				<key>spriteSize</key>
				<string>{125,60}</string>
				<key>spriteSourceSize</key>
				<string>{147,111}</string>
				<key>textureRect</key>
				<string>{{148,0},{125,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_09_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,6}</string>
				<key>spriteSize</key>
				<string>{147,111}</string>
				<key>spriteSourceSize</key>
				<string>{147,111}</string>
				<key>textureRect</key>
				<string>{{0,0},{147,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,62}</string>
				<key>spriteSourceSize</key>
				<string>{51,70}</string>
				<key>textureRect</key>
				<string>{{230,165},{43,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_09_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{51,70}</string>
				<key>textureRect</key>
				<string>{{63,254},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,70}</string>
				<key>spriteSourceSize</key>
				<string>{51,70}</string>
				<key>textureRect</key>
				<string>{{230,113},{51,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_09_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,72}</string>
				<key>spriteSourceSize</key>
				<string>{48,80}</string>
				<key>textureRect</key>
				<string>{{189,126},{40,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2,2}</string>
				<key>spriteSourceSize</key>
				<string>{48,80}</string>
				<key>textureRect</key>
				<string>{{66,254},{2,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,80}</string>
				<key>spriteSourceSize</key>
				<string>{48,80}</string>
				<key>textureRect</key>
				<string>{{140,126},{48,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{189,199},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_09_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,-0.5}</string>
				<key>spriteSize</key>
				<string>{27,29}</string>
				<key>spriteSourceSize</key>
				<string>{47,30}</string>
				<key>textureRect</key>
				<string>{{63,216},{27,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_09_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{0,216},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_09-uhd.png</string>
			<key>size</key>
			<string>{308,258}</string>
			<key>textureFileName</key>
			<string>icons/spider_09-uhd.png</string>
		</dict>
	</dict>
</plist>