<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_23_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-0.25}</string>
			<key>spriteSize</key>
			<string>{67,56}</string>
			<key>spriteSourceSize</key>
			<string>{71,60}</string>
			<key>textureRect</key>
			<string>{{64,2},{67,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,1}</string>
			<key>spriteSize</key>
			<string>{58,45}</string>
			<key>spriteSourceSize</key>
			<string>{71,60}</string>
			<key>textureRect</key>
			<string>{{2,75},{58,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.5,6.75}</string>
			<key>spriteSize</key>
			<string>{45,33}</string>
			<key>spriteSourceSize</key>
			<string>{71,60}</string>
			<key>textureRect</key>
			<string>{{62,75},{45,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-0.25}</string>
			<key>spriteSize</key>
			<string>{71,60}</string>
			<key>spriteSourceSize</key>
			<string>{71,60}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.75}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{29,37}</string>
			<key>textureRect</key>
			<string>{{153,2},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2.75}</string>
			<key>spriteSize</key>
			<string>{15,8}</string>
			<key>spriteSourceSize</key>
			<string>{29,37}</string>
			<key>textureRect</key>
			<string>{{97,114},{15,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.75}</string>
			<key>spriteSize</key>
			<string>{29,37}</string>
			<key>spriteSourceSize</key>
			<string>{29,37}</string>
			<key>textureRect</key>
			<string>{{122,2},{29,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{23,37}</string>
			<key>spriteSourceSize</key>
			<string>{27,41}</string>
			<key>textureRect</key>
			<string>{{122,41},{23,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,5.5}</string>
			<key>spriteSize</key>
			<string>{15,7}</string>
			<key>spriteSourceSize</key>
			<string>{27,41}</string>
			<key>textureRect</key>
			<string>{{149,66},{15,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{27,41}</string>
			<key>spriteSourceSize</key>
			<string>{27,41}</string>
			<key>textureRect</key>
			<string>{{97,71},{27,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{126,99},{27,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{2,122},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{126,66},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_23-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_23-hd.png</string>
	</dict>
</dict>
</plist>
