<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_11_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{117,112}</string>
				<key>spriteSourceSize</key>
				<string>{117,112}</string>
				<key>textureRect</key>
				<string>{{0,121},{117,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{109,103}</string>
				<key>spriteSourceSize</key>
				<string>{109,103}</string>
				<key>textureRect</key>
				<string>{{125,0},{109,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_11_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{107,97}</string>
				<key>spriteSourceSize</key>
				<string>{107,97}</string>
				<key>textureRect</key>
				<string>{{118,121},{107,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{124,120}</string>
				<key>spriteSourceSize</key>
				<string>{124,120}</string>
				<key>textureRect</key>
				<string>{{0,0},{124,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,68}</string>
				<key>spriteSourceSize</key>
				<string>{51,68}</string>
				<key>textureRect</key>
				<string>{{154,219},{51,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,65}</string>
				<key>spriteSourceSize</key>
				<string>{48,65}</string>
				<key>textureRect</key>
				<string>{{206,219},{48,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,76}</string>
				<key>spriteSourceSize</key>
				<string>{59,76}</string>
				<key>textureRect</key>
				<string>{{0,234},{59,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_11_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,83}</string>
				<key>spriteSourceSize</key>
				<string>{51,83}</string>
				<key>textureRect</key>
				<string>{{229,92},{51,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,76}</string>
				<key>spriteSourceSize</key>
				<string>{44,76}</string>
				<key>textureRect</key>
				<string>{{77,234},{44,76}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_11_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,91}</string>
				<key>spriteSourceSize</key>
				<string>{59,91}</string>
				<key>textureRect</key>
				<string>{{229,0},{59,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{255,218},{54,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_11_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{77,288},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_11_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{226,176},{62,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_11-uhd.png</string>
			<key>size</key>
			<string>{288,293}</string>
			<key>textureFileName</key>
			<string>icons/spider_11-uhd.png</string>
		</dict>
	</dict>
</plist>