<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{69,49}</string>
			<key>spriteSourceSize</key>
			<string>{71,51}</string>
			<key>textureRect</key>
			<string>{{55,2},{69,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{64,36}</string>
			<key>spriteSourceSize</key>
			<string>{71,51}</string>
			<key>textureRect</key>
			<string>{{55,53},{64,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,5}</string>
			<key>spriteSize</key>
			<string>{56,39}</string>
			<key>spriteSourceSize</key>
			<string>{71,51}</string>
			<key>textureRect</key>
			<string>{{121,53},{56,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{71,51}</string>
			<key>spriteSourceSize</key>
			<string>{71,51}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-1.5}</string>
			<key>spriteSize</key>
			<string>{22,28}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{126,2},{22,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,0}</string>
			<key>spriteSize</key>
			<string>{16,20}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{150,2},{16,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-1.5}</string>
			<key>spriteSize</key>
			<string>{25,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{80,91},{25,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-3.5}</string>
			<key>spriteSize</key>
			<string>{23,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,39}</string>
			<key>textureRect</key>
			<string>{{43,91},{23,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0.5}</string>
			<key>spriteSize</key>
			<string>{16,23}</string>
			<key>spriteSourceSize</key>
			<string>{26,39}</string>
			<key>textureRect</key>
			<string>{{126,32},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-3.5}</string>
			<key>spriteSize</key>
			<string>{26,39}</string>
			<key>spriteSourceSize</key>
			<string>{26,39}</string>
			<key>textureRect</key>
			<string>{{2,91},{26,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{129,50},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{132,50},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{126,50},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_68-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_68-hd.png</string>
	</dict>
</dict>
</plist>
