<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_04_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{110,96}</string>
				<key>spriteSourceSize</key>
				<string>{116,96}</string>
				<key>textureRect</key>
				<string>{{0,105},{110,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_04_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{95,89}</string>
				<key>spriteSourceSize</key>
				<string>{110,96}</string>
				<key>textureRect</key>
				<string>{{119,103},{95,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0.5}</string>
				<key>spriteSize</key>
				<string>{102,89}</string>
				<key>spriteSourceSize</key>
				<string>{110,96}</string>
				<key>textureRect</key>
				<string>{{119,0},{102,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{118,104}</string>
				<key>spriteSourceSize</key>
				<string>{124,104}</string>
				<key>textureRect</key>
				<string>{{0,0},{118,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{51,66}</string>
				<key>spriteSourceSize</key>
				<string>{57,66}</string>
				<key>textureRect</key>
				<string>{{260,0},{51,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_04_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,18.5}</string>
				<key>spriteSize</key>
				<string>{30,23}</string>
				<key>spriteSourceSize</key>
				<string>{51,66}</string>
				<key>textureRect</key>
				<string>{{82,202},{30,23}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{59,74}</string>
				<key>spriteSourceSize</key>
				<string>{65,74}</string>
				<key>textureRect</key>
				<string>{{111,199},{59,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{50,73}</string>
				<key>spriteSourceSize</key>
				<string>{58,73}</string>
				<key>textureRect</key>
				<string>{{186,199},{50,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-19.5,9.5}</string>
				<key>spriteSize</key>
				<string>{13,36}</string>
				<key>spriteSourceSize</key>
				<string>{52,55}</string>
				<key>textureRect</key>
				<string>{{244,63},{13,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{58,81}</string>
				<key>spriteSourceSize</key>
				<string>{66,81}</string>
				<key>textureRect</key>
				<string>{{0,202},{58,81}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{209,63},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{106,202},{5,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{209,0},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_04-uhd.png</string>
			<key>size</key>
			<string>{311,260}</string>
			<key>textureFileName</key>
			<string>icons/spider_04-uhd.png</string>
		</dict>
	</dict>
</plist>