<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_46_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,51}</string>
			<key>spriteSourceSize</key>
			<string>{91,53}</string>
			<key>textureRect</key>
			<string>{{57,2},{88,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,2.5}</string>
			<key>spriteSize</key>
			<string>{83,43}</string>
			<key>spriteSourceSize</key>
			<string>{91,53}</string>
			<key>textureRect</key>
			<string>{{110,2},{83,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,7}</string>
			<key>spriteSize</key>
			<string>{55,30}</string>
			<key>spriteSourceSize</key>
			<string>{91,53}</string>
			<key>textureRect</key>
			<string>{{57,92},{55,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_46_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{91,53}</string>
			<key>spriteSourceSize</key>
			<string>{91,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{91,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,33}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{162,85},{24,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_46_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{176,2},{21,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_46_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{155,48},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_46_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,2}</string>
			<key>spriteSize</key>
			<string>{22,46}</string>
			<key>spriteSourceSize</key>
			<string>{24,49}</string>
			<key>textureRect</key>
			<string>{{114,87},{22,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,2}</string>
			<key>spriteSize</key>
			<string>{19,44}</string>
			<key>spriteSourceSize</key>
			<string>{24,49}</string>
			<key>textureRect</key>
			<string>{{155,2},{19,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_46_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,2.5}</string>
			<key>spriteSize</key>
			<string>{24,49}</string>
			<key>spriteSourceSize</key>
			<string>{24,49}</string>
			<key>textureRect</key>
			<string>{{2,95},{24,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{53,95},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{53,98},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_46_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{110,87},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_46-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_46-hd.png</string>
	</dict>
</dict>
</plist>
