<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_15_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{59,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,46}</string>
			<key>textureRect</key>
			<string>{{50,2},{59,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_15_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,-0.75}</string>
			<key>spriteSize</key>
			<string>{47,31}</string>
			<key>spriteSourceSize</key>
			<string>{63,46}</string>
			<key>textureRect</key>
			<string>{{2,67},{47,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15.75,6.75}</string>
			<key>spriteSize</key>
			<string>{28,24}</string>
			<key>spriteSourceSize</key>
			<string>{63,46}</string>
			<key>textureRect</key>
			<string>{{115,93},{28,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{63,46}</string>
			<key>spriteSourceSize</key>
			<string>{63,46}</string>
			<key>textureRect</key>
			<string>{{2,2},{63,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{22,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{91,93},{22,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_15_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-4}</string>
			<key>spriteSize</key>
			<string>{16,20}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{65,105},{16,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{26,33}</string>
			<key>spriteSourceSize</key>
			<string>{26,33}</string>
			<key>textureRect</key>
			<string>{{63,70},{26,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_15_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,36}</string>
			<key>spriteSourceSize</key>
			<string>{26,40}</string>
			<key>textureRect</key>
			<string>{{63,46},{22,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-2.25}</string>
			<key>spriteSize</key>
			<string>{12,28}</string>
			<key>spriteSourceSize</key>
			<string>{26,40}</string>
			<key>textureRect</key>
			<string>{{35,109},{12,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,40}</string>
			<key>spriteSourceSize</key>
			<string>{26,40}</string>
			<key>textureRect</key>
			<string>{{35,67},{26,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_15_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{101,46},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_15_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{87,105},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_15_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{91,70},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_15-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_15-hd.png</string>
	</dict>
</dict>
</plist>
