<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_52_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,4}</string>
				<key>spriteSize</key>
				<string>{148,117}</string>
				<key>spriteSourceSize</key>
				<string>{148,117}</string>
				<key>textureRect</key>
				<string>{{0,126},{148,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,4}</string>
				<key>spriteSize</key>
				<string>{144,113}</string>
				<key>spriteSourceSize</key>
				<string>{144,113}</string>
				<key>textureRect</key>
				<string>{{157,0},{144,113}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12.5,22}</string>
				<key>spriteSize</key>
				<string>{125,74}</string>
				<key>spriteSourceSize</key>
				<string>{125,74}</string>
				<key>textureRect</key>
				<string>{{0,244},{125,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,4}</string>
				<key>spriteSize</key>
				<string>{156,125}</string>
				<key>spriteSourceSize</key>
				<string>{156,125}</string>
				<key>textureRect</key>
				<string>{{0,0},{156,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{48,66}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>textureRect</key>
				<string>{{271,0},{48,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{42,62}</string>
				<key>spriteSourceSize</key>
				<string>{42,66}</string>
				<key>textureRect</key>
				<string>{{271,67},{42,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{56,75}</string>
				<key>spriteSourceSize</key>
				<string>{56,80}</string>
				<key>textureRect</key>
				<string>{{211,222},{56,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{46,76}</string>
				<key>spriteSourceSize</key>
				<string>{58,82}</string>
				<key>textureRect</key>
				<string>{{211,145},{46,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{40,70}</string>
				<key>spriteSourceSize</key>
				<string>{52,76}</string>
				<key>textureRect</key>
				<string>{{149,145},{40,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,3}</string>
				<key>spriteSize</key>
				<string>{55,84}</string>
				<key>spriteSourceSize</key>
				<string>{66,90}</string>
				<key>textureRect</key>
				<string>{{126,244},{55,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{268,193},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{314,67},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{271,130},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_52-uhd.png</string>
			<key>size</key>
			<string>{319,318}</string>
			<key>textureFileName</key>
			<string>icons/spider_52-uhd.png</string>
		</dict>
	</dict>
</plist>