<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_28_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,3.5}</string>
			<key>spriteSize</key>
			<string>{80,54}</string>
			<key>spriteSourceSize</key>
			<string>{84,58}</string>
			<key>textureRect</key>
			<string>{{62,2},{80,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,3.5}</string>
			<key>spriteSize</key>
			<string>{75,50}</string>
			<key>spriteSourceSize</key>
			<string>{84,58}</string>
			<key>textureRect</key>
			<string>{{118,2},{75,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,6}</string>
			<key>spriteSize</key>
			<string>{72,43}</string>
			<key>spriteSourceSize</key>
			<string>{84,58}</string>
			<key>textureRect</key>
			<string>{{118,79},{72,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,3.5}</string>
			<key>spriteSize</key>
			<string>{84,58}</string>
			<key>spriteSourceSize</key>
			<string>{84,58}</string>
			<key>textureRect</key>
			<string>{{2,2},{84,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{19,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{192,2},{19,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-3.5}</string>
			<key>spriteSize</key>
			<string>{15,21}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{170,2},{15,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{23,35}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{83,84},{23,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.75}</string>
			<key>spriteSize</key>
			<string>{19,40}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{62,84},{19,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-3.75}</string>
			<key>spriteSize</key>
			<string>{16,27}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{225,2},{16,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{23,44}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{2,88},{23,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{187,5},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{187,8},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{187,2},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_28-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_28-hd.png</string>
	</dict>
</dict>
</plist>
