<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_23_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-0.5}</string>
				<key>spriteSize</key>
				<string>{134,111}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{0,120},{134,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,2}</string>
				<key>spriteSize</key>
				<string>{115,90}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{143,0},{115,90}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_23_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,13.5}</string>
				<key>spriteSize</key>
				<string>{90,65}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{143,116},{90,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-0.5}</string>
				<key>spriteSize</key>
				<string>{142,119}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{49,65}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{234,0},{49,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,5.5}</string>
				<key>spriteSize</key>
				<string>{30,15}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{135,182},{30,15}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_23_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{57,73}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>textureRect</key>
				<string>{{158,182},{57,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_23_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{46,74}</string>
				<key>spriteSourceSize</key>
				<string>{94,94}</string>
				<key>textureRect</key>
				<string>{{83,232},{46,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_23_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,11}</string>
				<key>spriteSize</key>
				<string>{30,14}</string>
				<key>spriteSourceSize</key>
				<string>{94,94}</string>
				<key>textureRect</key>
				<string>{{234,66},{30,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{54,82}</string>
				<key>spriteSourceSize</key>
				<string>{94,94}</string>
				<key>textureRect</key>
				<string>{{0,232},{54,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_23_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{221,240},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_23_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{158,240},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_23-uhd.png</string>
			<key>size</key>
			<string>{283,286}</string>
			<key>textureFileName</key>
			<string>icons/spider_23-uhd.png</string>
		</dict>
	</dict>
</plist>