<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_49_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{119,109}</string>
				<key>spriteSourceSize</key>
				<string>{126,117}</string>
				<key>textureRect</key>
				<string>{{0,118},{119,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_49_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{112,100}</string>
				<key>spriteSourceSize</key>
				<string>{126,117}</string>
				<key>textureRect</key>
				<string>{{127,0},{112,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7.5}</string>
				<key>spriteSize</key>
				<string>{108,84}</string>
				<key>spriteSourceSize</key>
				<string>{126,117}</string>
				<key>textureRect</key>
				<string>{{120,118},{108,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,117}</string>
				<key>spriteSourceSize</key>
				<string>{126,117}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_49_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{41,63}</string>
				<key>spriteSourceSize</key>
				<string>{48,71}</string>
				<key>textureRect</key>
				<string>{{0,228},{41,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-1.5}</string>
				<key>spriteSize</key>
				<string>{28,48}</string>
				<key>spriteSourceSize</key>
				<string>{48,71}</string>
				<key>textureRect</key>
				<string>{{228,83},{28,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,71}</string>
				<key>spriteSourceSize</key>
				<string>{48,71}</string>
				<key>textureRect</key>
				<string>{{205,158},{48,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,0}</string>
				<key>spriteSize</key>
				<string>{44,74}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{205,113},{44,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,-3}</string>
				<key>spriteSize</key>
				<string>{25,54}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{64,228},{25,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{53,82}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{228,0},{53,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_49_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{205,207},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_49_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-0.5}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{280,83},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_49_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{120,227},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_49-uhd.png</string>
			<key>size</key>
			<string>{281,269}</string>
			<key>textureFileName</key>
			<string>icons/spider_49-uhd.png</string>
		</dict>
	</dict>
</plist>