<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_14_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,21}</string>
			<key>spriteSize</key>
			<string>{146,126}</string>
			<key>spriteSourceSize</key>
			<string>{160,148}</string>
			<key>textureRect</key>
			<string>{{294,2},{146,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{152,140}</string>
			<key>spriteSourceSize</key>
			<string>{160,148}</string>
			<key>textureRect</key>
			<string>{{152,2},{152,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,16.5}</string>
			<key>spriteSize</key>
			<string>{141,133}</string>
			<key>spriteSourceSize</key>
			<string>{160,148}</string>
			<key>textureRect</key>
			<string>{{294,130},{141,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{160,148}</string>
			<key>spriteSourceSize</key>
			<string>{160,148}</string>
			<key>textureRect</key>
			<string>{{2,2},{160,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{35,61}</string>
			<key>spriteSourceSize</key>
			<string>{47,73}</string>
			<key>textureRect</key>
			<string>{{219,156},{35,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{39,65}</string>
			<key>spriteSourceSize</key>
			<string>{47,73}</string>
			<key>textureRect</key>
			<string>{{152,156},{39,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{47,73}</string>
			<key>spriteSourceSize</key>
			<string>{47,73}</string>
			<key>textureRect</key>
			<string>{{437,252},{47,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{35,76}</string>
			<key>spriteSourceSize</key>
			<string>{47,88}</string>
			<key>textureRect</key>
			<string>{{437,174},{35,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{39,80}</string>
			<key>spriteSourceSize</key>
			<string>{47,88}</string>
			<key>textureRect</key>
			<string>{{442,92},{39,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{47,88}</string>
			<key>spriteSourceSize</key>
			<string>{47,88}</string>
			<key>textureRect</key>
			<string>{{442,2},{47,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_14_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{437,133},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{437,136},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_14_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{437,130},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_14-uhd.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_14-uhd.png</string>
	</dict>
</dict>
</plist>
