<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_52_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{134,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,131}</string>
				<key>textureRect</key>
				<string>{{0,138},{134,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{130,126}</string>
				<key>spriteSourceSize</key>
				<string>{130,126}</string>
				<key>textureRect</key>
				<string>{{143,0},{130,126}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-29,8}</string>
				<key>spriteSize</key>
				<string>{70,101}</string>
				<key>spriteSourceSize</key>
				<string>{70,101}</string>
				<key>textureRect</key>
				<string>{{143,131},{70,101}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{142,137}</string>
				<key>spriteSourceSize</key>
				<string>{142,137}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{48,66}</string>
				<key>spriteSourceSize</key>
				<string>{48,70}</string>
				<key>textureRect</key>
				<string>{{0,270},{48,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{42,62}</string>
				<key>spriteSourceSize</key>
				<string>{42,66}</string>
				<key>textureRect</key>
				<string>{{67,270},{42,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{56,75}</string>
				<key>spriteSourceSize</key>
				<string>{56,80}</string>
				<key>textureRect</key>
				<string>{{220,202},{56,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{46,76}</string>
				<key>spriteSourceSize</key>
				<string>{58,82}</string>
				<key>textureRect</key>
				<string>{{270,0},{46,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{40,70}</string>
				<key>spriteSourceSize</key>
				<string>{52,76}</string>
				<key>textureRect</key>
				<string>{{245,131},{40,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,3}</string>
				<key>spriteSize</key>
				<string>{55,84}</string>
				<key>spriteSourceSize</key>
				<string>{66,90}</string>
				<key>textureRect</key>
				<string>{{135,202},{55,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{193,259},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_52_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{67,314},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_52_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{130,270},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_52-uhd.png</string>
			<key>size</key>
			<string>{316,318}</string>
			<key>textureFileName</key>
			<string>icons/spider_52-uhd.png</string>
		</dict>
	</dict>
</plist>