<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_27_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1.5}</string>
			<key>spriteSize</key>
			<string>{67,46}</string>
			<key>spriteSourceSize</key>
			<string>{71,50}</string>
			<key>textureRect</key>
			<string>{{2,75},{67,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1.5}</string>
			<key>spriteSize</key>
			<string>{65,44}</string>
			<key>spriteSourceSize</key>
			<string>{71,50}</string>
			<key>textureRect</key>
			<string>{{54,2},{65,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.2,1.5}</string>
			<key>spriteSize</key>
			<string>{63,44}</string>
			<key>spriteSourceSize</key>
			<string>{71,50}</string>
			<key>textureRect</key>
			<string>{{71,69},{63,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1.5}</string>
			<key>spriteSize</key>
			<string>{71,50}</string>
			<key>spriteSourceSize</key>
			<string>{71,50}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,34}</string>
			<key>textureRect</key>
			<string>{{142,2},{22,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,28}</string>
			<key>spriteSourceSize</key>
			<string>{26,34}</string>
			<key>textureRect</key>
			<string>{{136,101},{20,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,34}</string>
			<key>spriteSourceSize</key>
			<string>{26,34}</string>
			<key>textureRect</key>
			<string>{{100,40},{26,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,0}</string>
			<key>spriteSize</key>
			<string>{17,32}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{123,2},{17,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,0}</string>
			<key>spriteSize</key>
			<string>{15,30}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{136,69},{15,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,0}</string>
			<key>spriteSize</key>
			<string>{21,36}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{100,2},{21,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_27_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{153,69},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{153,98},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_27_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{136,36},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_27-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_27-hd.png</string>
	</dict>
</dict>
</plist>
