<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_36_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-6}</string>
				<key>spriteSize</key>
				<string>{142,114}</string>
				<key>spriteSourceSize</key>
				<string>{142,114}</string>
				<key>textureRect</key>
				<string>{{0,122},{142,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-7}</string>
				<key>spriteSize</key>
				<string>{117,103}</string>
				<key>spriteSourceSize</key>
				<string>{117,103}</string>
				<key>textureRect</key>
				<string>{{149,0},{117,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-5}</string>
				<key>spriteSize</key>
				<string>{108,104}</string>
				<key>spriteSourceSize</key>
				<string>{108,104}</string>
				<key>textureRect</key>
				<string>{{143,122},{108,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-6}</string>
				<key>spriteSize</key>
				<string>{148,121}</string>
				<key>spriteSourceSize</key>
				<string>{148,121}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,68}</string>
				<key>spriteSourceSize</key>
				<string>{57,68}</string>
				<key>textureRect</key>
				<string>{{253,0},{57,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-12}</string>
				<key>spriteSize</key>
				<string>{32,38}</string>
				<key>spriteSourceSize</key>
				<string>{32,38}</string>
				<key>textureRect</key>
				<string>{{253,97},{32,38}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,75}</string>
				<key>spriteSourceSize</key>
				<string>{63,75}</string>
				<key>textureRect</key>
				<string>{{162,227},{63,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,77}</string>
				<key>spriteSourceSize</key>
				<string>{52,77}</string>
				<key>textureRect</key>
				<string>{{84,237},{52,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-9}</string>
				<key>spriteSize</key>
				<string>{27,51}</string>
				<key>spriteSourceSize</key>
				<string>{27,51}</string>
				<key>textureRect</key>
				<string>{{253,69},{27,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,83}</string>
				<key>spriteSourceSize</key>
				<string>{59,83}</string>
				<key>textureRect</key>
				<string>{{0,237},{59,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{149,118},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{149,120},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{151,118},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_36-uhd.png</string>
			<key>size</key>
			<string>{310,296}</string>
			<key>textureFileName</key>
			<string>icons/spider_36-uhd.png</string>
		</dict>
	</dict>
</plist>