<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_04_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0}</string>
			<key>spriteSize</key>
			<string>{55,48}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{2,63},{55,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.8,-0.2}</string>
			<key>spriteSize</key>
			<string>{48,45}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{56,2},{48,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.2}</string>
			<key>spriteSize</key>
			<string>{51,45}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{52,63},{51,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0}</string>
			<key>spriteSize</key>
			<string>{59,52}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{2,2},{59,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{26,33}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{130,41},{26,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_04_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.8,9.2}</string>
			<key>spriteSize</key>
			<string>{15,12}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{138,95},{15,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{30,37}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{103,2},{30,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{25,37}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{99,95},{25,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.8,4.8}</string>
			<key>spriteSize</key>
			<string>{7,18}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{52,116},{7,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{29,41}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{99,52},{29,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{130,76},{27,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_04_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{3,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{72,122},{3,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{135,2},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_04-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_04-hd.png</string>
	</dict>
</dict>
</plist>
