<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_35_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,5}</string>
			<key>spriteSize</key>
			<string>{62,55}</string>
			<key>spriteSourceSize</key>
			<string>{67,60}</string>
			<key>textureRect</key>
			<string>{{64,2},{62,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,4.8}</string>
			<key>spriteSize</key>
			<string>{59,52}</string>
			<key>spriteSourceSize</key>
			<string>{67,60}</string>
			<key>textureRect</key>
			<string>{{2,71},{59,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,8}</string>
			<key>spriteSize</key>
			<string>{52,44}</string>
			<key>spriteSourceSize</key>
			<string>{67,60}</string>
			<key>textureRect</key>
			<string>{{63,71},{52,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,4.8}</string>
			<key>spriteSize</key>
			<string>{67,60}</string>
			<key>spriteSourceSize</key>
			<string>{67,60}</string>
			<key>textureRect</key>
			<string>{{2,2},{67,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{24,37}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{142,90},{24,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{20,32}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{173,43},{20,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{29,41}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{142,47},{29,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,3}</string>
			<key>spriteSize</key>
			<string>{27,43}</string>
			<key>spriteSourceSize</key>
			<string>{31,48}</string>
			<key>textureRect</key>
			<string>{{121,2},{27,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.2,2.5}</string>
			<key>spriteSize</key>
			<string>{23,39}</string>
			<key>spriteSourceSize</key>
			<string>{31,48}</string>
			<key>textureRect</key>
			<string>{{150,2},{23,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,3}</string>
			<key>spriteSize</key>
			<string>{31,48}</string>
			<key>spriteSourceSize</key>
			<string>{31,48}</string>
			<key>textureRect</key>
			<string>{{109,66},{31,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_35_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{153,43},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{156,43},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_35_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{150,43},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_35-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_35-hd.png</string>
	</dict>
</dict>
</plist>
