<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_68_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,5}</string>
				<key>spriteSize</key>
				<string>{137,98}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{0,103},{137,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{127,72}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{142,0},{127,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_68_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14,10}</string>
				<key>spriteSize</key>
				<string>{111,78}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{0,202},{111,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,5}</string>
				<key>spriteSize</key>
				<string>{141,102}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{141,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18,-3}</string>
				<key>spriteSize</key>
				<string>{44,55}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{215,0},{44,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,0}</string>
				<key>spriteSize</key>
				<string>{31,39}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{215,56},{31,39}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_68_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18,-3}</string>
				<key>spriteSize</key>
				<string>{49,61}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{164,199},{49,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,-7}</string>
				<key>spriteSize</key>
				<string>{45,70}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{138,128},{45,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,1}</string>
				<key>spriteSize</key>
				<string>{32,45}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{214,128},{32,45}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_68_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,-7}</string>
				<key>spriteSize</key>
				<string>{51,77}</string>
				<key>spriteSourceSize</key>
				<string>{186,150}</string>
				<key>textureRect</key>
				<string>{{112,202},{51,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_68_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_68-uhd.png</string>
			<key>size</key>
			<string>{259,280}</string>
			<key>textureFileName</key>
			<string>icons/spider_68-uhd.png</string>
		</dict>
	</dict>
</plist>