<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{114,77}</string>
				<key>spriteSourceSize</key>
				<string>{114,77}</string>
				<key>textureRect</key>
				<string>{{0,86},{114,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{85,64}</string>
				<key>spriteSourceSize</key>
				<string>{114,77}</string>
				<key>textureRect</key>
				<string>{{0,164},{85,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,69}</string>
				<key>spriteSourceSize</key>
				<string>{114,77}</string>
				<key>textureRect</key>
				<string>{{123,0},{106,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,85}</string>
				<key>spriteSourceSize</key>
				<string>{122,85}</string>
				<key>textureRect</key>
				<string>{{0,0},{122,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{48,61}</string>
				<key>spriteSourceSize</key>
				<string>{52,61}</string>
				<key>textureRect</key>
				<string>{{193,70},{48,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,7}</string>
				<key>spriteSize</key>
				<string>{28,23}</string>
				<key>spriteSourceSize</key>
				<string>{48,61}</string>
				<key>textureRect</key>
				<string>{{0,229},{28,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{56,69}</string>
				<key>spriteSourceSize</key>
				<string>{60,69}</string>
				<key>textureRect</key>
				<string>{{193,0},{56,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{45,72}</string>
				<key>spriteSourceSize</key>
				<string>{55,72}</string>
				<key>textureRect</key>
				<string>{{115,107},{45,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,1.5}</string>
				<key>spriteSize</key>
				<string>{19,33}</string>
				<key>spriteSourceSize</key>
				<string>{49,36}</string>
				<key>textureRect</key>
				<string>{{210,187},{19,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{53,80}</string>
				<key>spriteSourceSize</key>
				<string>{63,80}</string>
				<key>textureRect</key>
				<string>{{86,164},{53,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{210,132},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{188,107},{5,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{167,153},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_01-uhd.png</string>
			<key>size</key>
			<string>{249,252}</string>
			<key>textureFileName</key>
			<string>icons/spider_01-uhd.png</string>
		</dict>
	</dict>
</plist>