<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_48_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,2.5}</string>
			<key>spriteSize</key>
			<string>{65,56}</string>
			<key>spriteSourceSize</key>
			<string>{70,61}</string>
			<key>textureRect</key>
			<string>{{65,2},{65,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_48_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,6.5}</string>
			<key>spriteSize</key>
			<string>{57,46}</string>
			<key>spriteSourceSize</key>
			<string>{70,61}</string>
			<key>textureRect</key>
			<string>{{2,74},{57,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{54,40}</string>
			<key>spriteSourceSize</key>
			<string>{70,61}</string>
			<key>textureRect</key>
			<string>{{65,69},{54,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_48_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,2.5}</string>
			<key>spriteSize</key>
			<string>{70,61}</string>
			<key>spriteSourceSize</key>
			<string>{70,61}</string>
			<key>textureRect</key>
			<string>{{2,2},{70,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_48_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{24,39}</string>
			<key>textureRect</key>
			<string>{{149,2},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-2}</string>
			<key>spriteSize</key>
			<string>{10,25}</string>
			<key>spriteSourceSize</key>
			<string>{24,39}</string>
			<key>textureRect</key>
			<string>{{162,91},{10,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{24,39}</string>
			<key>spriteSourceSize</key>
			<string>{24,39}</string>
			<key>textureRect</key>
			<string>{{123,2},{24,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,2.5}</string>
			<key>spriteSize</key>
			<string>{18,39}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{123,43},{18,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_48_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3.5}</string>
			<key>spriteSize</key>
			<string>{16,26}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{156,63},{16,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,2.5}</string>
			<key>spriteSize</key>
			<string>{23,44}</string>
			<key>spriteSourceSize</key>
			<string>{23,44}</string>
			<key>textureRect</key>
			<string>{{107,69},{23,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{132,98},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_48_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{61,74},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_48_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,22}</string>
			<key>spriteSourceSize</key>
			<string>{33,22}</string>
			<key>textureRect</key>
			<string>{{132,63},{33,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_48-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_48-hd.png</string>
	</dict>
</dict>
</plist>
