<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_62_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{109,89}</string>
				<key>spriteSourceSize</key>
				<string>{153,103}</string>
				<key>textureRect</key>
				<string>{{154,0},{109,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-14.5,10.5}</string>
				<key>spriteSize</key>
				<string>{132,80}</string>
				<key>spriteSourceSize</key>
				<string>{153,103}</string>
				<key>textureRect</key>
				<string>{{0,104},{132,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_62_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-56.5,30}</string>
				<key>spriteSize</key>
				<string>{40,33}</string>
				<key>spriteSourceSize</key>
				<string>{153,103}</string>
				<key>textureRect</key>
				<string>{{205,164},{40,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,3}</string>
				<key>spriteSize</key>
				<string>{153,103}</string>
				<key>spriteSourceSize</key>
				<string>{153,103}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_62_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{45,63}</string>
				<key>spriteSourceSize</key>
				<string>{53,71}</string>
				<key>textureRect</key>
				<string>{{79,185},{45,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_62_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8.5,12.5}</string>
				<key>spriteSize</key>
				<string>{10,10}</string>
				<key>spriteSourceSize</key>
				<string>{53,71}</string>
				<key>textureRect</key>
				<string>{{65,243},{10,10}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_62_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{53,71}</string>
				<key>spriteSourceSize</key>
				<string>{53,71}</string>
				<key>textureRect</key>
				<string>{{133,164},{53,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{45,78}</string>
				<key>spriteSourceSize</key>
				<string>{53,86}</string>
				<key>textureRect</key>
				<string>{{0,185},{45,78}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,11.5}</string>
				<key>spriteSize</key>
				<string>{11,11}</string>
				<key>spriteSourceSize</key>
				<string>{53,86}</string>
				<key>textureRect</key>
				<string>{{65,231},{11,11}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_62_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{53,86}</string>
				<key>spriteSourceSize</key>
				<string>{53,86}</string>
				<key>textureRect</key>
				<string>{{133,110},{53,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{125,218},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{49,29}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{160,218},{49,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_62_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,44}</string>
				<key>spriteSourceSize</key>
				<string>{64,44}</string>
				<key>textureRect</key>
				<string>{{0,231},{64,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_62-uhd.png</string>
			<key>size</key>
			<string>{243,275}</string>
			<key>textureFileName</key>
			<string>icons/spider_62-uhd.png</string>
		</dict>
	</dict>
</plist>