<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_32_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-6.5}</string>
				<key>spriteSize</key>
				<string>{134,116}</string>
				<key>spriteSourceSize</key>
				<string>{134,117}</string>
				<key>textureRect</key>
				<string>{{0,124},{134,116}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_32_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-6.5}</string>
				<key>spriteSize</key>
				<string>{130,111}</string>
				<key>spriteSourceSize</key>
				<string>{130,111}</string>
				<key>textureRect</key>
				<string>{{143,0},{130,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14,29.5}</string>
				<key>spriteSize</key>
				<string>{100,33}</string>
				<key>spriteSourceSize</key>
				<string>{104,33}</string>
				<key>textureRect</key>
				<string>{{135,131},{100,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-6.5}</string>
				<key>spriteSize</key>
				<string>{142,123}</string>
				<key>spriteSourceSize</key>
				<string>{142,123}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_32_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,60}</string>
				<key>spriteSourceSize</key>
				<string>{28,60}</string>
				<key>textureRect</key>
				<string>{{69,241},{28,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,56}</string>
				<key>spriteSourceSize</key>
				<string>{24,56}</string>
				<key>textureRect</key>
				<string>{{198,226},{24,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,68}</string>
				<key>spriteSourceSize</key>
				<string>{36,68}</string>
				<key>textureRect</key>
				<string>{{0,241},{36,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{30,73}</string>
				<key>spriteSourceSize</key>
				<string>{30,73}</string>
				<key>textureRect</key>
				<string>{{169,168},{30,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{26,69}</string>
				<key>spriteSourceSize</key>
				<string>{26,69}</string>
				<key>textureRect</key>
				<string>{{169,199},{26,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{36,79}</string>
				<key>spriteSourceSize</key>
				<string>{36,79}</string>
				<key>textureRect</key>
				<string>{{169,131},{36,79}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{255,0},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_32_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{69,275},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_32_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{135,232},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_32-uhd.png</string>
			<key>size</key>
			<string>{289,277}</string>
			<key>textureFileName</key>
			<string>icons/spider_32-uhd.png</string>
		</dict>
	</dict>
</plist>