<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_51_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{51,42}</string>
			<key>spriteSourceSize</key>
			<string>{55,46}</string>
			<key>textureRect</key>
			<string>{{2,59},{51,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{48,38}</string>
			<key>spriteSourceSize</key>
			<string>{55,46}</string>
			<key>textureRect</key>
			<string>{{46,59},{48,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,3.5}</string>
			<key>spriteSize</key>
			<string>{46,29}</string>
			<key>spriteSourceSize</key>
			<string>{55,46}</string>
			<key>textureRect</key>
			<string>{{50,2},{46,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{55,46}</string>
			<key>spriteSourceSize</key>
			<string>{55,46}</string>
			<key>textureRect</key>
			<string>{{2,2},{55,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{86,79},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3.5}</string>
			<key>spriteSize</key>
			<string>{19,21}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{122,58},{19,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,34}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{86,52},{25,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,39}</string>
			<key>spriteSourceSize</key>
			<string>{25,43}</string>
			<key>textureRect</key>
			<string>{{81,29},{21,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3.5}</string>
			<key>spriteSize</key>
			<string>{18,28}</string>
			<key>spriteSourceSize</key>
			<string>{25,43}</string>
			<key>textureRect</key>
			<string>{{119,79},{18,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_51_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,43}</string>
			<key>spriteSourceSize</key>
			<string>{25,43}</string>
			<key>textureRect</key>
			<string>{{81,2},{25,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{122,29},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{50,52},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_51_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{86,102},{31,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_51-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_51-hd.png</string>
	</dict>
</dict>
</plist>
