<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_33_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{124,88}</string>
				<key>spriteSourceSize</key>
				<string>{132,96}</string>
				<key>textureRect</key>
				<string>{{0,97},{124,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{17.5,-4}</string>
				<key>spriteSize</key>
				<string>{103,58}</string>
				<key>spriteSourceSize</key>
				<string>{132,96}</string>
				<key>textureRect</key>
				<string>{{133,0},{103,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_33_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{27,2.5}</string>
				<key>spriteSize</key>
				<string>{18,9}</string>
				<key>spriteSourceSize</key>
				<string>{132,96}</string>
				<key>textureRect</key>
				<string>{{125,175},{18,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,0}</string>
				<key>spriteSize</key>
				<string>{132,96}</string>
				<key>spriteSourceSize</key>
				<string>{132,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,62}</string>
				<key>spriteSourceSize</key>
				<string>{53,70}</string>
				<key>textureRect</key>
				<string>{{192,0},{45,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{26,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,70}</string>
				<key>textureRect</key>
				<string>{{179,126},{26,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_33_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,70}</string>
				<key>spriteSourceSize</key>
				<string>{53,70}</string>
				<key>textureRect</key>
				<string>{{125,104},{53,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,1}</string>
				<key>spriteSize</key>
				<string>{48,74}</string>
				<key>spriteSourceSize</key>
				<string>{56,82}</string>
				<key>textureRect</key>
				<string>{{83,186},{48,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_33_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8.5,-2}</string>
				<key>spriteSize</key>
				<string>{29,62}</string>
				<key>spriteSourceSize</key>
				<string>{56,82}</string>
				<key>textureRect</key>
				<string>{{158,175},{29,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,1}</string>
				<key>spriteSize</key>
				<string>{56,82}</string>
				<key>spriteSourceSize</key>
				<string>{56,82}</string>
				<key>textureRect</key>
				<string>{{0,186},{56,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_33_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{188,153},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_33_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,-0.5}</string>
				<key>spriteSize</key>
				<string>{27,29}</string>
				<key>spriteSourceSize</key>
				<string>{47,30}</string>
				<key>textureRect</key>
				<string>{{188,208},{27,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_33_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{192,63},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_33-uhd.png</string>
			<key>size</key>
			<string>{237,242}</string>
			<key>textureFileName</key>
			<string>icons/spider_33-uhd.png</string>
		</dict>
	</dict>
</plist>