<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_07_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{58,46}</string>
			<key>spriteSourceSize</key>
			<string>{62,50}</string>
			<key>textureRect</key>
			<string>{{2,66},{58,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,-4.2}</string>
			<key>spriteSize</key>
			<string>{35,29}</string>
			<key>spriteSourceSize</key>
			<string>{62,50}</string>
			<key>textureRect</key>
			<string>{{91,2},{35,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.8,1.2}</string>
			<key>spriteSize</key>
			<string>{55,39}</string>
			<key>spriteSourceSize</key>
			<string>{62,50}</string>
			<key>textureRect</key>
			<string>{{50,66},{55,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{62,50}</string>
			<key>spriteSourceSize</key>
			<string>{62,50}</string>
			<key>textureRect</key>
			<string>{{2,2},{62,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-2.5}</string>
			<key>spriteSize</key>
			<string>{19,26}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{91,64},{19,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-9}</string>
			<key>spriteSize</key>
			<string>{12,10}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{91,106},{12,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-2.5}</string>
			<key>spriteSize</key>
			<string>{23,30}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{54,39},{23,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,26}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{91,85},{19,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-5.5}</string>
			<key>spriteSize</key>
			<string>{11,12}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{103,106},{11,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_07_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,30}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{86,39},{23,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{53,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{56,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_07_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{50,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_07-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_07-hd.png</string>
	</dict>
</dict>
</plist>
