<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_06_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{135,103}</string>
				<key>spriteSourceSize</key>
				<string>{135,103}</string>
				<key>textureRect</key>
				<string>{{0,112},{135,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{127,95}</string>
				<key>spriteSourceSize</key>
				<string>{127,95}</string>
				<key>textureRect</key>
				<string>{{144,0},{127,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22}</string>
				<key>spriteSize</key>
				<string>{98,47}</string>
				<key>spriteSourceSize</key>
				<string>{98,47}</string>
				<key>textureRect</key>
				<string>{{144,96},{98,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{143,111}</string>
				<key>spriteSourceSize</key>
				<string>{143,111}</string>
				<key>textureRect</key>
				<string>{{0,0},{143,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{45,64}</string>
				<key>spriteSourceSize</key>
				<string>{45,64}</string>
				<key>textureRect</key>
				<string>{{136,144},{45,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{39,58}</string>
				<key>spriteSourceSize</key>
				<string>{39,58}</string>
				<key>textureRect</key>
				<string>{{182,144},{39,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{53,72}</string>
				<key>spriteSourceSize</key>
				<string>{53,72}</string>
				<key>textureRect</key>
				<string>{{58,216},{53,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{49,71}</string>
				<key>spriteSourceSize</key>
				<string>{49,72}</string>
				<key>textureRect</key>
				<string>{{112,216},{49,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,63}</string>
				<key>spriteSourceSize</key>
				<string>{42,63}</string>
				<key>textureRect</key>
				<string>{{162,209},{42,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,77}</string>
				<key>spriteSourceSize</key>
				<string>{57,77}</string>
				<key>textureRect</key>
				<string>{{0,216},{57,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_06_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_06-uhd.png</string>
			<key>size</key>
			<string>{271,293}</string>
			<key>textureFileName</key>
			<string>icons/spider_06-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>