<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_25_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,4}</string>
				<key>spriteSize</key>
				<string>{136,90}</string>
				<key>spriteSourceSize</key>
				<string>{136,90}</string>
				<key>textureRect</key>
				<string>{{0,97},{136,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,4}</string>
				<key>spriteSize</key>
				<string>{132,84}</string>
				<key>spriteSourceSize</key>
				<string>{132,84}</string>
				<key>textureRect</key>
				<string>{{145,0},{132,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_25_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,13}</string>
				<key>spriteSize</key>
				<string>{115,58}</string>
				<key>spriteSourceSize</key>
				<string>{116,58}</string>
				<key>textureRect</key>
				<string>{{0,188},{115,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,4}</string>
				<key>spriteSize</key>
				<string>{144,96}</string>
				<key>spriteSourceSize</key>
				<string>{144,96}</string>
				<key>textureRect</key>
				<string>{{0,0},{144,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,61}</string>
				<key>spriteSourceSize</key>
				<string>{43,61}</string>
				<key>textureRect</key>
				<string>{{230,70},{43,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-12}</string>
				<key>spriteSize</key>
				<string>{18,29}</string>
				<key>spriteSourceSize</key>
				<string>{18,29}</string>
				<key>textureRect</key>
				<string>{{116,227},{18,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_25_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,69}</string>
				<key>spriteSourceSize</key>
				<string>{49,69}</string>
				<key>textureRect</key>
				<string>{{230,0},{49,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{38,75}</string>
				<key>spriteSourceSize</key>
				<string>{38,75}</string>
				<key>textureRect</key>
				<string>{{137,180},{38,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_25_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{19,38}</string>
				<key>spriteSourceSize</key>
				<string>{19,38}</string>
				<key>textureRect</key>
				<string>{{116,188},{19,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8}</string>
				<key>spriteSize</key>
				<string>{46,82}</string>
				<key>spriteSourceSize</key>
				<string>{46,82}</string>
				<key>textureRect</key>
				<string>{{137,133},{46,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_25_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{220,133},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{276,70},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_25_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{213,180},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_25-uhd.png</string>
			<key>size</key>
			<string>{279,246}</string>
			<key>textureFileName</key>
			<string>icons/spider_25-uhd.png</string>
		</dict>
	</dict>
</plist>