<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_25_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{68,45}</string>
			<key>spriteSourceSize</key>
			<string>{72,48}</string>
			<key>textureRect</key>
			<string>{{2,76},{68,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{66,42}</string>
			<key>spriteSourceSize</key>
			<string>{72,48}</string>
			<key>textureRect</key>
			<string>{{52,2},{66,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.2,6.5}</string>
			<key>spriteSize</key>
			<string>{58,29}</string>
			<key>spriteSourceSize</key>
			<string>{72,48}</string>
			<key>textureRect</key>
			<string>{{72,70},{58,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{72,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,48}</string>
			<key>textureRect</key>
			<string>{{2,2},{72,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,35}</string>
			<key>textureRect</key>
			<string>{{96,39},{22,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{9,15}</string>
			<key>spriteSourceSize</key>
			<string>{25,35}</string>
			<key>textureRect</key>
			<string>{{146,23},{9,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,35}</string>
			<key>spriteSourceSize</key>
			<string>{25,35}</string>
			<key>textureRect</key>
			<string>{{96,2},{25,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{19,38}</string>
			<key>spriteSourceSize</key>
			<string>{23,41}</string>
			<key>textureRect</key>
			<string>{{115,101},{19,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2.5}</string>
			<key>spriteSize</key>
			<string>{10,19}</string>
			<key>spriteSourceSize</key>
			<string>{23,41}</string>
			<key>textureRect</key>
			<string>{{146,2},{10,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{23,41}</string>
			<key>spriteSourceSize</key>
			<string>{23,41}</string>
			<key>textureRect</key>
			<string>{{72,101},{23,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{129,35},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{2,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{123,2},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_25-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_25-hd.png</string>
	</dict>
</dict>
</plist>
