<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_50_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{128,94}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{0,101},{128,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-6}</string>
				<key>spriteSize</key>
				<string>{112,81}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{135,0},{112,81}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_50_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{134,100}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{134,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,2}</string>
				<key>spriteSize</key>
				<string>{43,66}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{217,0},{43,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-4}</string>
				<key>spriteSize</key>
				<string>{30,44}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{216,126},{30,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_50_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,2}</string>
				<key>spriteSize</key>
				<string>{50,71}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{129,168},{50,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{45,77}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{0,196},{45,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_50_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-4}</string>
				<key>spriteSize</key>
				<string>{31,58}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{217,67},{31,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{54,86}</string>
				<key>spriteSourceSize</key>
				<string>{187,150}</string>
				<key>textureRect</key>
				<string>{{129,113},{54,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_50_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_50_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_50-uhd.png</string>
			<key>size</key>
			<string>{260,241}</string>
			<key>textureFileName</key>
			<string>icons/spider_50-uhd.png</string>
		</dict>
	</dict>
</plist>