<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_56_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{121,86}</string>
				<key>spriteSourceSize</key>
				<string>{129,94}</string>
				<key>textureRect</key>
				<string>{{0,95},{121,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{25,-8}</string>
				<key>spriteSize</key>
				<string>{75,64}</string>
				<key>spriteSourceSize</key>
				<string>{129,94}</string>
				<key>textureRect</key>
				<string>{{122,111},{75,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,4}</string>
				<key>spriteSize</key>
				<string>{110,60}</string>
				<key>spriteSourceSize</key>
				<string>{129,94}</string>
				<key>textureRect</key>
				<string>{{130,0},{110,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{129,94}</string>
				<key>spriteSourceSize</key>
				<string>{129,94}</string>
				<key>textureRect</key>
				<string>{{0,0},{129,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{44,58}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{191,67},{44,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-8}</string>
				<key>spriteSize</key>
				<string>{32,40}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{80,232},{32,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{52,66}</string>
				<key>spriteSourceSize</key>
				<string>{56,70}</string>
				<key>textureRect</key>
				<string>{{191,0},{52,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,71}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{80,187},{44,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-4.5}</string>
				<key>spriteSize</key>
				<string>{24,56}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{187,126},{24,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,79}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{0,182},{52,79}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_56_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{187,151},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{49,29}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{0,235},{49,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_56_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,44}</string>
				<key>spriteSourceSize</key>
				<string>{64,44}</string>
				<key>textureRect</key>
				<string>{{152,187},{64,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_56-uhd.png</string>
			<key>size</key>
			<string>{243,264}</string>
			<key>textureFileName</key>
			<string>icons/spider_56-uhd.png</string>
		</dict>
	</dict>
</plist>