<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_37_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{144,118}</string>
				<key>spriteSourceSize</key>
				<string>{144,118}</string>
				<key>textureRect</key>
				<string>{{0,127},{144,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{136,110}</string>
				<key>spriteSourceSize</key>
				<string>{136,110}</string>
				<key>textureRect</key>
				<string>{{153,0},{136,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,16}</string>
				<key>spriteSize</key>
				<string>{115,92}</string>
				<key>spriteSourceSize</key>
				<string>{115,92}</string>
				<key>textureRect</key>
				<string>{{153,111},{115,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{152,126}</string>
				<key>spriteSourceSize</key>
				<string>{152,126}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,61}</string>
				<key>spriteSourceSize</key>
				<string>{41,61}</string>
				<key>textureRect</key>
				<string>{{183,204},{41,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,56}</string>
				<key>spriteSourceSize</key>
				<string>{36,56}</string>
				<key>textureRect</key>
				<string>{{183,266},{36,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,69}</string>
				<key>spriteSourceSize</key>
				<string>{49,69}</string>
				<key>textureRect</key>
				<string>{{50,246},{49,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,68}</string>
				<key>spriteSourceSize</key>
				<string>{41,68}</string>
				<key>textureRect</key>
				<string>{{100,246},{41,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,67}</string>
				<key>spriteSourceSize</key>
				<string>{40,67}</string>
				<key>textureRect</key>
				<string>{{142,246},{40,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,76}</string>
				<key>spriteSourceSize</key>
				<string>{49,76}</string>
				<key>textureRect</key>
				<string>{{0,246},{49,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{225,204},{54,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_37_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_37-uhd.png</string>
			<key>size</key>
			<string>{289,322}</string>
			<key>textureFileName</key>
			<string>icons/spider_37-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>