<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_11_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{59,56}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{2,66},{59,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{55,52}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{63,66},{55,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,49}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{64,2},{54,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{2,2},{62,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,34}</string>
			<key>spriteSourceSize</key>
			<string>{30,38}</string>
			<key>textureRect</key>
			<string>{{157,90},{26,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,33}</string>
			<key>spriteSourceSize</key>
			<string>{30,38}</string>
			<key>textureRect</key>
			<string>{{147,2},{24,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,38}</string>
			<key>spriteSourceSize</key>
			<string>{30,38}</string>
			<key>textureRect</key>
			<string>{{117,94},{30,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,46}</string>
			<key>textureRect</key>
			<string>{{117,50},{26,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,38}</string>
			<key>spriteSourceSize</key>
			<string>{30,46}</string>
			<key>textureRect</key>
			<string>{{145,50},{22,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,46}</string>
			<key>spriteSourceSize</key>
			<string>{30,46}</string>
			<key>textureRect</key>
			<string>{{115,2},{30,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{169,70},{27,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{145,90},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{169,37},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_11-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_11-hd.png</string>
	</dict>
</dict>
</plist>
