<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,4}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{66,2},{58,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.8,1}</string>
			<key>spriteSize</key>
			<string>{36,49}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{66,62},{36,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8.8,13.2}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{126,2},{13,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,4}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{2,2},{62,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{108,100},{21,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{117,62},{21,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{2,66},{25,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{17,32}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{40,100},{17,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{17,32}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{74,100},{17,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{21,36}</string>
			<key>spriteSourceSize</key>
			<string>{21,36}</string>
			<key>textureRect</key>
			<string>{{2,100},{21,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{139,93},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,0}</string>
			<key>spriteSize</key>
			<string>{3,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{139,122},{3,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{40,66},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_54-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_54-hd.png</string>
	</dict>
</dict>
</plist>
