<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_60_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,18}</string>
				<key>spriteSize</key>
				<string>{122,109}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{0,119},{122,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,15}</string>
				<key>spriteSize</key>
				<string>{113,95}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{131,0},{113,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_60_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,28}</string>
				<key>spriteSize</key>
				<string>{86,64}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{131,114},{86,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,18}</string>
				<key>spriteSize</key>
				<string>{130,118}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{0,0},{130,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-6}</string>
				<key>spriteSize</key>
				<string>{37,51}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{192,179},{37,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_60_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-9.5}</string>
				<key>spriteSize</key>
				<string>{26,36}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{244,161},{26,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_60_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,-6}</string>
				<key>spriteSize</key>
				<string>{46,60}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{218,114},{46,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_60_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{45,68}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{123,179},{45,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_60_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-9}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{244,188},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{54,79}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{227,0},{54,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-133.5,0.5}</string>
				<key>spriteSize</key>
				<string>{2,3}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{123,225},{2,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-133.5,0.5}</string>
				<key>spriteSize</key>
				<string>{2,3}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{279,80},{2,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_60_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-133.5,0.5}</string>
				<key>spriteSize</key>
				<string>{2,3}</string>
				<key>spriteSourceSize</key>
				<string>{367,204}</string>
				<key>textureRect</key>
				<string>{{126,225},{2,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_60-uhd.png</string>
			<key>size</key>
			<string>{281,228}</string>
			<key>textureFileName</key>
			<string>icons/spider_60-uhd.png</string>
		</dict>
	</dict>
</plist>