<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_39_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{121,100}</string>
				<key>spriteSourceSize</key>
				<string>{121,100}</string>
				<key>textureRect</key>
				<string>{{0,109},{121,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{101,94}</string>
				<key>spriteSourceSize</key>
				<string>{101,94}</string>
				<key>textureRect</key>
				<string>{{130,0},{101,94}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_39_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,15}</string>
				<key>spriteSize</key>
				<string>{97,64}</string>
				<key>spriteSourceSize</key>
				<string>{97,64}</string>
				<key>textureRect</key>
				<string>{{122,109},{97,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_39_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{129,108}</string>
				<key>spriteSourceSize</key>
				<string>{129,108}</string>
				<key>textureRect</key>
				<string>{{0,0},{129,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,60}</string>
				<key>spriteSourceSize</key>
				<string>{44,60}</string>
				<key>textureRect</key>
				<string>{{146,207},{44,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_39_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,9}</string>
				<key>spriteSourceSize</key>
				<string>{9,9}</string>
				<key>textureRect</key>
				<string>{{262,69},{9,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,68}</string>
				<key>spriteSourceSize</key>
				<string>{52,68}</string>
				<key>textureRect</key>
				<string>{{225,0},{52,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,74}</string>
				<key>spriteSourceSize</key>
				<string>{37,74}</string>
				<key>textureRect</key>
				<string>{{187,102},{37,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,9}</string>
				<key>spriteSourceSize</key>
				<string>{9,9}</string>
				<key>textureRect</key>
				<string>{{262,79},{9,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,82}</string>
				<key>spriteSourceSize</key>
				<string>{45,82}</string>
				<key>textureRect</key>
				<string>{{0,210},{45,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_39_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{207,177},{54,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{272,69},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_39_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{83,210},{62,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_39-uhd.png</string>
			<key>size</key>
			<string>{277,255}</string>
			<key>textureFileName</key>
			<string>icons/spider_39-uhd.png</string>
		</dict>
	</dict>
</plist>