<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_22_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{62,50}</string>
			<key>spriteSourceSize</key>
			<string>{66,54}</string>
			<key>textureRect</key>
			<string>{{58,2},{62,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,1.5}</string>
			<key>spriteSize</key>
			<string>{36,37}</string>
			<key>spriteSourceSize</key>
			<string>{66,54}</string>
			<key>textureRect</key>
			<string>{{65,78},{36,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,7.5}</string>
			<key>spriteSize</key>
			<string>{54,33}</string>
			<key>spriteSourceSize</key>
			<string>{66,54}</string>
			<key>textureRect</key>
			<string>{{2,70},{54,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_22_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{66,54}</string>
			<key>spriteSourceSize</key>
			<string>{66,54}</string>
			<key>textureRect</key>
			<string>{{2,2},{66,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_22_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{21,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,37}</string>
			<key>textureRect</key>
			<string>{{106,54},{21,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_22_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,4}</string>
			<key>spriteSize</key>
			<string>{10,9}</string>
			<key>spriteSourceSize</key>
			<string>{25,37}</string>
			<key>textureRect</key>
			<string>{{51,115},{10,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{25,37}</string>
			<key>spriteSourceSize</key>
			<string>{25,37}</string>
			<key>textureRect</key>
			<string>{{103,78},{25,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,3.5}</string>
			<key>spriteSize</key>
			<string>{22,39}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{65,54},{22,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_22_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,8.5}</string>
			<key>spriteSize</key>
			<string>{12,8}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{37,115},{12,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,3.5}</string>
			<key>spriteSize</key>
			<string>{26,43}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{37,70},{26,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{26,20}</string>
			<key>spriteSourceSize</key>
			<string>{30,24}</string>
			<key>textureRect</key>
			<string>{{122,2},{26,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_22_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{20,14}</string>
			<key>spriteSourceSize</key>
			<string>{30,24}</string>
			<key>textureRect</key>
			<string>{{130,109},{20,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_22_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{30,24}</string>
			<key>spriteSourceSize</key>
			<string>{30,24}</string>
			<key>textureRect</key>
			<string>{{130,77},{30,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_22-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_22-hd.png</string>
	</dict>
</dict>
</plist>
