<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,10}</string>
				<key>spriteSize</key>
				<string>{143,96}</string>
				<key>spriteSourceSize</key>
				<string>{258,220}</string>
				<key>textureRect</key>
				<string>{{0,106},{143,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,18.5}</string>
				<key>spriteSize</key>
				<string>{115,69}</string>
				<key>spriteSourceSize</key>
				<string>{258,220}</string>
				<key>textureRect</key>
				<string>{{153,0},{115,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_02_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,14}</string>
				<key>spriteSize</key>
				<string>{94,40}</string>
				<key>spriteSourceSize</key>
				<string>{258,220}</string>
				<key>textureRect</key>
				<string>{{0,204},{94,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,10}</string>
				<key>spriteSize</key>
				<string>{151,104}</string>
				<key>spriteSourceSize</key>
				<string>{258,220}</string>
				<key>textureRect</key>
				<string>{{0,0},{151,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{48,58}</string>
				<key>spriteSourceSize</key>
				<string>{56,66}</string>
				<key>textureRect</key>
				<string>{{96,241},{48,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8.5,10.5}</string>
				<key>spriteSize</key>
				<string>{15,13}</string>
				<key>spriteSourceSize</key>
				<string>{56,66}</string>
				<key>textureRect</key>
				<string>{{262,80},{15,13}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_02_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{56,66}</string>
				<key>spriteSourceSize</key>
				<string>{56,66}</string>
				<key>textureRect</key>
				<string>{{0,246},{56,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{52,78}</string>
				<key>spriteSourceSize</key>
				<string>{60,86}</string>
				<key>textureRect</key>
				<string>{{224,0},{52,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,14}</string>
				<key>spriteSize</key>
				<string>{20,18}</string>
				<key>spriteSourceSize</key>
				<string>{60,86}</string>
				<key>textureRect</key>
				<string>{{68,246},{20,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{60,86}</string>
				<key>spriteSourceSize</key>
				<string>{60,86}</string>
				<key>textureRect</key>
				<string>{{145,117},{60,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,0}</string>
				<key>spriteSize</key>
				<string>{67,45}</string>
				<key>spriteSourceSize</key>
				<string>{75,53}</string>
				<key>textureRect</key>
				<string>{{207,194},{67,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_02_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13,0}</string>
				<key>spriteSize</key>
				<string>{31,15}</string>
				<key>spriteSourceSize</key>
				<string>{75,53}</string>
				<key>textureRect</key>
				<string>{{96,205},{31,15}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,0}</string>
				<key>spriteSize</key>
				<string>{75,53}</string>
				<key>spriteSourceSize</key>
				<string>{75,53}</string>
				<key>textureRect</key>
				<string>{{207,117},{75,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_02-uhd.png</string>
			<key>size</key>
			<string>{276,302}</string>
			<key>textureFileName</key>
			<string>icons/spider_02-uhd.png</string>
		</dict>
	</dict>
</plist>