<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_48_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{108,96}</string>
				<key>spriteSourceSize</key>
				<string>{108,96}</string>
				<key>textureRect</key>
				<string>{{0,104},{108,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_48_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-10}</string>
				<key>spriteSize</key>
				<string>{101,64}</string>
				<key>spriteSourceSize</key>
				<string>{101,64}</string>
				<key>textureRect</key>
				<string>{{116,0},{101,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{99,86}</string>
				<key>spriteSourceSize</key>
				<string>{99,86}</string>
				<key>textureRect</key>
				<string>{{181,0},{99,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,0}</string>
				<key>spriteSize</key>
				<string>{115,103}</string>
				<key>spriteSourceSize</key>
				<string>{115,103}</string>
				<key>textureRect</key>
				<string>{{0,0},{115,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_48_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{47,64}</string>
				<key>spriteSourceSize</key>
				<string>{47,64}</string>
				<key>textureRect</key>
				<string>{{0,233},{47,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,59}</string>
				<key>spriteSourceSize</key>
				<string>{35,59}</string>
				<key>textureRect</key>
				<string>{{71,201},{35,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_48_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,72}</string>
				<key>spriteSourceSize</key>
				<string>{55,72}</string>
				<key>textureRect</key>
				<string>{{156,139},{55,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,80}</string>
				<key>spriteSourceSize</key>
				<string>{38,80}</string>
				<key>textureRect</key>
				<string>{{181,100},{38,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,70}</string>
				<key>spriteSourceSize</key>
				<string>{31,70}</string>
				<key>textureRect</key>
				<string>{{0,201},{31,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,88}</string>
				<key>spriteSourceSize</key>
				<string>{46,88}</string>
				<key>textureRect</key>
				<string>{{109,104},{46,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_48_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{229,139},{54,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_48_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{151,193},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_48_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{109,193},{62,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_48-uhd.png</string>
			<key>size</key>
			<string>{267,280}</string>
			<key>textureFileName</key>
			<string>icons/spider_48-uhd.png</string>
		</dict>
	</dict>
</plist>