<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_16_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{92,117}</string>
				<key>spriteSourceSize</key>
				<string>{92,117}</string>
				<key>textureRect</key>
				<string>{{101,0},{92,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{86,109}</string>
				<key>spriteSourceSize</key>
				<string>{86,109}</string>
				<key>textureRect</key>
				<string>{{194,0},{86,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{30,4}</string>
				<key>spriteSize</key>
				<string>{31,6}</string>
				<key>spriteSourceSize</key>
				<string>{31,6}</string>
				<key>textureRect</key>
				<string>{{194,110},{31,6}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,10}</string>
				<key>spriteSize</key>
				<string>{100,125}</string>
				<key>spriteSourceSize</key>
				<string>{100,125}</string>
				<key>textureRect</key>
				<string>{{0,0},{100,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,61}</string>
				<key>spriteSourceSize</key>
				<string>{42,61}</string>
				<key>textureRect</key>
				<string>{{156,270},{42,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-12}</string>
				<key>spriteSize</key>
				<string>{32,30}</string>
				<key>spriteSourceSize</key>
				<string>{32,30}</string>
				<key>textureRect</key>
				<string>{{153,224},{32,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,69}</string>
				<key>spriteSourceSize</key>
				<string>{50,69}</string>
				<key>textureRect</key>
				<string>{{105,270},{50,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{43,75}</string>
				<key>spriteSourceSize</key>
				<string>{43,75}</string>
				<key>textureRect</key>
				<string>{{228,194},{43,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-12}</string>
				<key>spriteSize</key>
				<string>{34,35}</string>
				<key>spriteSourceSize</key>
				<string>{34,35}</string>
				<key>textureRect</key>
				<string>{{118,224},{34,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{51,83}</string>
				<key>spriteSourceSize</key>
				<string>{51,83}</string>
				<key>textureRect</key>
				<string>{{228,110},{51,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,25}</string>
				<key>spriteSize</key>
				<string>{109,105}</string>
				<key>spriteSourceSize</key>
				<string>{109,105}</string>
				<key>textureRect</key>
				<string>{{118,118},{109,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,24}</string>
				<key>spriteSize</key>
				<string>{104,100}</string>
				<key>spriteSourceSize</key>
				<string>{104,100}</string>
				<key>textureRect</key>
				<string>{{0,240},{104,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_16_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,25}</string>
				<key>spriteSize</key>
				<string>{117,113}</string>
				<key>spriteSourceSize</key>
				<string>{117,113}</string>
				<key>textureRect</key>
				<string>{{0,126},{117,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_16-uhd.png</string>
			<key>size</key>
			<string>{280,340}</string>
			<key>textureFileName</key>
			<string>icons/spider_16-uhd.png</string>
			#icon by kevgen
		</dict>
	</dict>
</plist>