<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_31_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{66,52}</string>
			<key>spriteSourceSize</key>
			<string>{70,55}</string>
			<key>textureRect</key>
			<string>{{59,2},{66,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,5.5}</string>
			<key>spriteSize</key>
			<string>{43,48}</string>
			<key>spriteSourceSize</key>
			<string>{70,55}</string>
			<key>textureRect</key>
			<string>{{66,70},{43,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_31_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{62,48}</string>
			<key>spriteSourceSize</key>
			<string>{70,55}</string>
			<key>textureRect</key>
			<string>{{2,74},{62,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_31_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{70,55}</string>
			<key>spriteSourceSize</key>
			<string>{70,55}</string>
			<key>textureRect</key>
			<string>{{2,2},{70,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{137,2},{23,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_31_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{18,17}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{156,99},{18,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{25,34}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{113,40},{25,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{22,36}</string>
			<key>spriteSourceSize</key>
			<string>{25,39}</string>
			<key>textureRect</key>
			<string>{{113,2},{22,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_31_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,3}</string>
			<key>spriteSize</key>
			<string>{19,16}</string>
			<key>spriteSourceSize</key>
			<string>{25,39}</string>
			<key>textureRect</key>
			<string>{{138,99},{19,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{25,39}</string>
			<key>spriteSourceSize</key>
			<string>{25,39}</string>
			<key>textureRect</key>
			<string>{{111,70},{25,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_31_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,18}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{149,35},{28,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,18}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{162,2},{28,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_31_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,21}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{138,67},{30,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_31-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_31-hd.png</string>
	</dict>
</dict>
</plist>
