<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_23_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{69,53}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{61,2},{69,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{65,43}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{2,76},{65,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{58,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{69,73},{58,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{72,57}</string>
			<key>spriteSourceSize</key>
			<string>{72,57}</string>
			<key>textureRect</key>
			<string>{{2,2},{72,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{17,27}</string>
			<key>spriteSourceSize</key>
			<string>{21,31}</string>
			<key>textureRect</key>
			<string>{{147,60},{17,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{15,25}</string>
			<key>spriteSourceSize</key>
			<string>{21,31}</string>
			<key>textureRect</key>
			<string>{{162,2},{15,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{21,31}</string>
			<key>spriteSourceSize</key>
			<string>{21,31}</string>
			<key>textureRect</key>
			<string>{{139,2},{21,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{17,33}</string>
			<key>spriteSourceSize</key>
			<string>{21,37}</string>
			<key>textureRect</key>
			<string>{{116,41},{17,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{16,31}</string>
			<key>spriteSourceSize</key>
			<string>{21,37}</string>
			<key>textureRect</key>
			<string>{{129,60},{16,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{21,37}</string>
			<key>spriteSourceSize</key>
			<string>{21,37}</string>
			<key>textureRect</key>
			<string>{{116,2},{21,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{151,35},{27,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{147,89},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{129,93},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_23-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_23-hd.png</string>
	</dict>
</dict>
</plist>
