<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_40_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,-0.5}</string>
				<key>spriteSize</key>
				<string>{161,123}</string>
				<key>spriteSourceSize</key>
				<string>{169,130}</string>
				<key>textureRect</key>
				<string>{{0,131},{161,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,6.5}</string>
				<key>spriteSize</key>
				<string>{155,103}</string>
				<key>spriteSourceSize</key>
				<string>{169,130}</string>
				<key>textureRect</key>
				<string>{{170,0},{155,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9.5,0.5}</string>
				<key>spriteSize</key>
				<string>{148,113}</string>
				<key>spriteSourceSize</key>
				<string>{169,130}</string>
				<key>textureRect</key>
				<string>{{0,255},{148,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{169,130}</string>
				<key>spriteSourceSize</key>
				<string>{169,130}</string>
				<key>textureRect</key>
				<string>{{0,0},{169,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,69}</string>
				<key>spriteSourceSize</key>
				<string>{50,77}</string>
				<key>textureRect</key>
				<string>{{149,300},{42,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{36,62}</string>
				<key>spriteSourceSize</key>
				<string>{50,77}</string>
				<key>textureRect</key>
				<string>{{219,300},{36,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,77}</string>
				<key>spriteSourceSize</key>
				<string>{50,77}</string>
				<key>textureRect</key>
				<string>{{162,249},{50,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{42,82}</string>
				<key>spriteSourceSize</key>
				<string>{49,89}</string>
				<key>textureRect</key>
				<string>{{162,206},{42,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{25,73}</string>
				<key>spriteSourceSize</key>
				<string>{49,89}</string>
				<key>textureRect</key>
				<string>{{245,206},{25,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,89}</string>
				<key>spriteSourceSize</key>
				<string>{49,89}</string>
				<key>textureRect</key>
				<string>{{162,156},{49,89}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{256,280},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_40_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-0.5}</string>
				<key>spriteSize</key>
				<string>{27,29}</string>
				<key>spriteSourceSize</key>
				<string>{29,30}</string>
				<key>textureRect</key>
				<string>{{274,63},{27,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_40_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{274,0},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_40-uhd.png</string>
			<key>size</key>
			<string>{316,368}</string>
			<key>textureFileName</key>
			<string>icons/spider_40-uhd.png</string>
		</dict>
	</dict>
</plist>