<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_03_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{53,51}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{2,59},{53,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-9.5}</string>
			<key>spriteSize</key>
			<string>{48,32}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{55,59},{48,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,3}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{89,47},{35,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2.5}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{2,2},{55,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{117,2},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{141,2},{18,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,34}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{89,84},{25,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,39}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{57,2},{22,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{17,34}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{125,84},{17,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{26,43}</string>
			<key>spriteSourceSize</key>
			<string>{26,43}</string>
			<key>textureRect</key>
			<string>{{89,2},{26,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{21,24}</string>
			<key>spriteSourceSize</key>
			<string>{25,28}</string>
			<key>textureRect</key>
			<string>{{144,65},{21,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{17,19}</string>
			<key>spriteSourceSize</key>
			<string>{25,28}</string>
			<key>textureRect</key>
			<string>{{153,30},{17,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{25,28}</string>
			<key>spriteSourceSize</key>
			<string>{25,28}</string>
			<key>textureRect</key>
			<string>{{126,35},{25,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_03-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_03-hd.png</string>
	</dict>
</dict>
</plist>
