<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_22_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,2}</string>
				<key>spriteSize</key>
				<string>{124,99}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{0,108},{124,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{21,3}</string>
				<key>spriteSize</key>
				<string>{71,74}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{0,208},{71,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_22_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,15}</string>
				<key>spriteSize</key>
				<string>{108,65}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{133,0},{108,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_22_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,2}</string>
				<key>spriteSize</key>
				<string>{132,107}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{132,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{42,65}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{199,78},{42,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,8}</string>
				<key>spriteSize</key>
				<string>{19,18}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{178,109},{19,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,1}</string>
				<key>spriteSize</key>
				<string>{50,73}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{125,195},{50,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,7}</string>
				<key>spriteSize</key>
				<string>{43,77}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{199,0},{43,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,17}</string>
				<key>spriteSize</key>
				<string>{23,16}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{218,184},{23,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,7}</string>
				<key>spriteSize</key>
				<string>{52,85}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{125,109},{52,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-1}</string>
				<key>spriteSize</key>
				<string>{51,39}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{178,144},{51,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-2}</string>
				<key>spriteSize</key>
				<string>{39,28}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{178,184},{39,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_22_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-2}</string>
				<key>spriteSize</key>
				<string>{59,48}</string>
				<key>spriteSourceSize</key>
				<string>{183,150}</string>
				<key>textureRect</key>
				<string>{{75,208},{59,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_22-uhd.png</string>
			<key>size</key>
			<string>{242,279}</string>
			<key>textureFileName</key>
			<string>icons/spider_22-uhd.png</string>
		</dict>
	</dict>
</plist>