<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_42_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,15}</string>
				<key>spriteSize</key>
				<string>{129,121}</string>
				<key>spriteSourceSize</key>
				<string>{129,121}</string>
				<key>textureRect</key>
				<string>{{0,130},{129,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,15}</string>
				<key>spriteSize</key>
				<string>{121,113}</string>
				<key>spriteSourceSize</key>
				<string>{121,113}</string>
				<key>textureRect</key>
				<string>{{138,0},{121,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,25}</string>
				<key>spriteSize</key>
				<string>{117,85}</string>
				<key>spriteSourceSize</key>
				<string>{117,85}</string>
				<key>textureRect</key>
				<string>{{138,114},{117,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,15}</string>
				<key>spriteSize</key>
				<string>{137,129}</string>
				<key>spriteSourceSize</key>
				<string>{137,129}</string>
				<key>textureRect</key>
				<string>{{0,0},{137,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,62}</string>
				<key>spriteSourceSize</key>
				<string>{37,62}</string>
				<key>textureRect</key>
				<string>{{89,252},{37,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,57}</string>
				<key>spriteSourceSize</key>
				<string>{32,57}</string>
				<key>textureRect</key>
				<string>{{127,252},{32,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,70}</string>
				<key>spriteSourceSize</key>
				<string>{45,70}</string>
				<key>textureRect</key>
				<string>{{0,252},{45,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,55}</string>
				<key>spriteSourceSize</key>
				<string>{34,55}</string>
				<key>textureRect</key>
				<string>{{160,200},{34,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,50}</string>
				<key>spriteSourceSize</key>
				<string>{29,50}</string>
				<key>textureRect</key>
				<string>{{130,200},{29,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,63}</string>
				<key>spriteSourceSize</key>
				<string>{42,63}</string>
				<key>textureRect</key>
				<string>{{46,252},{42,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_42_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_42-uhd.png</string>
			<key>size</key>
			<string>{259,322}</string>
			<key>textureFileName</key>
			<string>icons/spider_42-uhd.png</string>
		</dict>
	</dict>
</plist>