<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_55_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{114,104}</string>
				<key>spriteSourceSize</key>
				<string>{122,112}</string>
				<key>textureRect</key>
				<string>{{0,113},{114,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{108,98}</string>
				<key>spriteSourceSize</key>
				<string>{122,112}</string>
				<key>textureRect</key>
				<string>{{0,218},{108,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,2}</string>
				<key>spriteSize</key>
				<string>{110,96}</string>
				<key>spriteSourceSize</key>
				<string>{122,112}</string>
				<key>textureRect</key>
				<string>{{123,0},{110,96}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{122,112}</string>
				<key>spriteSourceSize</key>
				<string>{126,116}</string>
				<key>textureRect</key>
				<string>{{0,0},{122,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,4}</string>
				<key>spriteSize</key>
				<string>{44,73}</string>
				<key>spriteSourceSize</key>
				<string>{52,81}</string>
				<key>textureRect</key>
				<string>{{162,209},{44,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,4}</string>
				<key>spriteSize</key>
				<string>{38,67}</string>
				<key>spriteSourceSize</key>
				<string>{52,81}</string>
				<key>textureRect</key>
				<string>{{191,164},{38,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,4}</string>
				<key>spriteSize</key>
				<string>{52,81}</string>
				<key>spriteSourceSize</key>
				<string>{54,89}</string>
				<key>textureRect</key>
				<string>{{109,218},{52,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,1}</string>
				<key>spriteSize</key>
				<string>{44,75}</string>
				<key>spriteSourceSize</key>
				<string>{54,77}</string>
				<key>textureRect</key>
				<string>{{115,164},{44,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,1}</string>
				<key>spriteSize</key>
				<string>{38,69}</string>
				<key>spriteSourceSize</key>
				<string>{52,83}</string>
				<key>textureRect</key>
				<string>{{220,0},{38,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_55_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,1}</string>
				<key>spriteSize</key>
				<string>{52,83}</string>
				<key>spriteSourceSize</key>
				<string>{62,85}</string>
				<key>textureRect</key>
				<string>{{123,111},{52,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{220,70},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{6,4}</string>
				<key>textureRect</key>
				<string>{{191,203},{5,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_55_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{207,203},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_55-uhd.png</string>
			<key>size</key>
			<string>{258,316}</string>
			<key>textureFileName</key>
			<string>icons/spider_55-uhd.png</string>
		</dict>
	</dict>
</plist>