<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_15_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{131,87}</string>
				<key>spriteSourceSize</key>
				<string>{131,87}</string>
				<key>textureRect</key>
				<string>{{0,96},{131,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{123,79}</string>
				<key>spriteSourceSize</key>
				<string>{123,79}</string>
				<key>textureRect</key>
				<string>{{140,0},{123,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,12}</string>
				<key>spriteSize</key>
				<string>{117,52}</string>
				<key>spriteSourceSize</key>
				<string>{117,52}</string>
				<key>textureRect</key>
				<string>{{140,80},{117,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,95}</string>
				<key>spriteSourceSize</key>
				<string>{139,95}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,61}</string>
				<key>spriteSourceSize</key>
				<string>{44,61}</string>
				<key>textureRect</key>
				<string>{{147,133},{44,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,56}</string>
				<key>spriteSourceSize</key>
				<string>{39,56}</string>
				<key>textureRect</key>
				<string>{{185,195},{39,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,69}</string>
				<key>spriteSourceSize</key>
				<string>{52,69}</string>
				<key>textureRect</key>
				<string>{{51,184},{52,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,66}</string>
				<key>spriteSourceSize</key>
				<string>{42,66}</string>
				<key>textureRect</key>
				<string>{{104,184},{42,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,61}</string>
				<key>spriteSourceSize</key>
				<string>{37,61}</string>
				<key>textureRect</key>
				<string>{{147,195},{37,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,74}</string>
				<key>spriteSourceSize</key>
				<string>{50,74}</string>
				<key>textureRect</key>
				<string>{{0,184},{50,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_15-uhd.png</string>
			<key>size</key>
			<string>{263,258}</string>
			<key>textureFileName</key>
			<string>icons/spider_15-uhd.png</string>
			#icon by Kevgen
		</dict>
	</dict>
</plist>