<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_57_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-9}</string>
				<key>spriteSize</key>
				<string>{139,94}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,100},{139,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-9}</string>
				<key>spriteSize</key>
				<string>{131,85}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{145,0},{131,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_57_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,4}</string>
				<key>spriteSize</key>
				<string>{123,59}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,195},{123,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-8}</string>
				<key>spriteSize</key>
				<string>{144,99}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{144,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,1}</string>
				<key>spriteSize</key>
				<string>{50,67}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{203,158},{50,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_57_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,1}</string>
				<key>spriteSize</key>
				<string>{55,71}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{231,86},{55,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,4}</string>
				<key>spriteSize</key>
				<string>{56,85}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{231,0},{56,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,4}</string>
				<key>spriteSize</key>
				<string>{62,93}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{140,132},{62,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_57_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_57-uhd.png</string>
			<key>size</key>
			<string>{287,254}</string>
			<key>textureFileName</key>
			<string>icons/spider_57-uhd.png</string>
		</dict>
	</dict>
</plist>