<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_43_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,-9}</string>
				<key>spriteSize</key>
				<string>{125,111}</string>
				<key>spriteSourceSize</key>
				<string>{125,111}</string>
				<key>textureRect</key>
				<string>{{0,119},{125,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{29,-9}</string>
				<key>spriteSize</key>
				<string>{88,104}</string>
				<key>spriteSourceSize</key>
				<string>{88,104}</string>
				<key>textureRect</key>
				<string>{{134,0},{88,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{37.5,6}</string>
				<key>spriteSize</key>
				<string>{66,75}</string>
				<key>spriteSourceSize</key>
				<string>{66,75}</string>
				<key>textureRect</key>
				<string>{{187,105},{66,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,-9}</string>
				<key>spriteSize</key>
				<string>{133,118}</string>
				<key>spriteSourceSize</key>
				<string>{133,118}</string>
				<key>textureRect</key>
				<string>{{0,0},{133,118}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{53,67}</string>
				<key>spriteSourceSize</key>
				<string>{53,67}</string>
				<key>textureRect</key>
				<string>{{62,231},{53,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-6}</string>
				<key>spriteSize</key>
				<string>{30,45}</string>
				<key>spriteSourceSize</key>
				<string>{30,45}</string>
				<key>textureRect</key>
				<string>{{149,244},{30,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{61,74}</string>
				<key>spriteSourceSize</key>
				<string>{61,74}</string>
				<key>textureRect</key>
				<string>{{0,231},{61,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,6}</string>
				<key>spriteSize</key>
				<string>{52,82}</string>
				<key>spriteSourceSize</key>
				<string>{52,82}</string>
				<key>textureRect</key>
				<string>{{223,0},{52,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-7}</string>
				<key>spriteSize</key>
				<string>{32,51}</string>
				<key>spriteSourceSize</key>
				<string>{32,51}</string>
				<key>textureRect</key>
				<string>{{116,244},{32,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,6}</string>
				<key>spriteSize</key>
				<string>{60,89}</string>
				<key>spriteSourceSize</key>
				<string>{60,89}</string>
				<key>textureRect</key>
				<string>{{126,119},{60,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{126,209},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{181,209},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_43_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{187,181},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_43-uhd.png</string>
			<key>size</key>
			<string>{275,305}</string>
			<key>textureFileName</key>
			<string>icons/spider_43-uhd.png</string>
		</dict>
	</dict>
</plist>