<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_15_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{134,109}</string>
				<key>spriteSourceSize</key>
				<string>{134,109}</string>
				<key>textureRect</key>
				<string>{{0,120},{134,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{133,108}</string>
				<key>spriteSourceSize</key>
				<string>{134,109}</string>
				<key>textureRect</key>
				<string>{{145,0},{133,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{133,108}</string>
				<key>spriteSourceSize</key>
				<string>{134,109}</string>
				<key>textureRect</key>
				<string>{{145,109},{133,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{144,119}</string>
				<key>spriteSourceSize</key>
				<string>{146,121}</string>
				<key>textureRect</key>
				<string>{{0,0},{144,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,63}</string>
				<key>spriteSourceSize</key>
				<string>{44,63}</string>
				<key>textureRect</key>
				<string>{{210,218},{44,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,61}</string>
				<key>spriteSourceSize</key>
				<string>{44,63}</string>
				<key>textureRect</key>
				<string>{{279,42},{44,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,71}</string>
				<key>spriteSourceSize</key>
				<string>{52,71}</string>
				<key>textureRect</key>
				<string>{{157,218},{52,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,76}</string>
				<key>spriteSourceSize</key>
				<string>{49,76}</string>
				<key>textureRect</key>
				<string>{{58,230},{49,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,75}</string>
				<key>spriteSourceSize</key>
				<string>{49,76}</string>
				<key>textureRect</key>
				<string>{{108,230},{48,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,84}</string>
				<key>spriteSourceSize</key>
				<string>{57,84}</string>
				<key>textureRect</key>
				<string>{{0,230},{57,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{279,104},{54,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,28}</string>
				<key>spriteSourceSize</key>
				<string>{49,28}</string>
				<key>textureRect</key>
				<string>{{210,282},{49,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{279,0},{62,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_15-uhd.png</string>
			<key>size</key>
			<string>{341,314}</string>
			<key>textureFileName</key>
			<string>icons/spider_15-uhd.png</string>
		</dict>
	</dict>
</plist>