<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,5}</string>
			<key>spriteSize</key>
			<string>{72,48}</string>
			<key>spriteSourceSize</key>
			<string>{76,52}</string>
			<key>textureRect</key>
			<string>{{56,2},{72,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.75,9.25}</string>
			<key>spriteSize</key>
			<string>{58,35}</string>
			<key>spriteSourceSize</key>
			<string>{76,52}</string>
			<key>textureRect</key>
			<string>{{2,80},{58,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,7}</string>
			<key>spriteSize</key>
			<string>{47,20}</string>
			<key>spriteSourceSize</key>
			<string>{76,52}</string>
			<key>textureRect</key>
			<string>{{62,76},{47,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,5}</string>
			<key>spriteSize</key>
			<string>{76,52}</string>
			<key>spriteSourceSize</key>
			<string>{76,52}</string>
			<key>textureRect</key>
			<string>{{2,2},{76,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{24,29}</string>
			<key>spriteSourceSize</key>
			<string>{28,33}</string>
			<key>textureRect</key>
			<string>{{146,72},{24,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.25,5.25}</string>
			<key>spriteSize</key>
			<string>{8,7}</string>
			<key>spriteSourceSize</key>
			<string>{28,33}</string>
			<key>textureRect</key>
			<string>{{2,117},{8,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{28,33}</string>
			<key>spriteSourceSize</key>
			<string>{28,33}</string>
			<key>textureRect</key>
			<string>{{116,72},{28,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{26,39}</string>
			<key>spriteSourceSize</key>
			<string>{30,43}</string>
			<key>textureRect</key>
			<string>{{106,2},{26,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7}</string>
			<key>spriteSize</key>
			<string>{10,9}</string>
			<key>spriteSourceSize</key>
			<string>{30,43}</string>
			<key>textureRect</key>
			<string>{{126,107},{10,9}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{30,43}</string>
			<key>spriteSourceSize</key>
			<string>{30,43}</string>
			<key>textureRect</key>
			<string>{{84,76},{30,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,0}</string>
			<key>spriteSize</key>
			<string>{34,23}</string>
			<key>spriteSourceSize</key>
			<string>{38,27}</string>
			<key>textureRect</key>
			<string>{{134,2},{34,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,0}</string>
			<key>spriteSize</key>
			<string>{16,8}</string>
			<key>spriteSourceSize</key>
			<string>{38,27}</string>
			<key>textureRect</key>
			<string>{{116,107},{16,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,0}</string>
			<key>spriteSize</key>
			<string>{38,27}</string>
			<key>spriteSourceSize</key>
			<string>{38,27}</string>
			<key>textureRect</key>
			<string>{{106,43},{38,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_02-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_02-hd.png</string>
	</dict>
</dict>
</plist>
