<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_30_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{127,104}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,110},{127,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-8}</string>
				<key>spriteSize</key>
				<string>{108,81}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{132,0},{108,81}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,15}</string>
				<key>spriteSize</key>
				<string>{80,50}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{214,87},{80,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-2}</string>
				<key>spriteSize</key>
				<string>{131,109}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{131,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{44,66}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{72,215},{44,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,7}</string>
				<key>spriteSize</key>
				<string>{30,41}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{234,209},{30,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,0}</string>
				<key>spriteSize</key>
				<string>{49,71}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{0,215},{49,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,4}</string>
				<key>spriteSize</key>
				<string>{50,86}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{214,0},{50,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11,16}</string>
				<key>spriteSize</key>
				<string>{28,50}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{175,209},{28,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,4}</string>
				<key>spriteSize</key>
				<string>{57,94}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{128,110},{57,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_30_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,0}</string>
				<key>spriteSize</key>
				<string>{56,35}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{139,205},{56,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,0}</string>
				<key>spriteSize</key>
				<string>{49,29}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{204,209},{49,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_30_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1}</string>
				<key>spriteSize</key>
				<string>{61,40}</string>
				<key>spriteSourceSize</key>
				<string>{316,150}</string>
				<key>textureRect</key>
				<string>{{186,168},{61,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_30-uhd.png</string>
			<key>size</key>
			<string>{264,264}</string>
			<key>textureFileName</key>
			<string>icons/spider_30-uhd.png</string>
		</dict>
	</dict>
</plist>