<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_05_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{62,54}</string>
			<key>spriteSourceSize</key>
			<string>{66,58}</string>
			<key>textureRect</key>
			<string>{{2,70},{62,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{58,50}</string>
			<key>spriteSourceSize</key>
			<string>{66,58}</string>
			<key>textureRect</key>
			<string>{{62,2},{58,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_05_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0.2}</string>
			<key>spriteSize</key>
			<string>{56,48}</string>
			<key>spriteSourceSize</key>
			<string>{66,58}</string>
			<key>textureRect</key>
			<string>{{66,62},{56,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_05_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0}</string>
			<key>spriteSize</key>
			<string>{66,58}</string>
			<key>spriteSourceSize</key>
			<string>{66,58}</string>
			<key>textureRect</key>
			<string>{{2,2},{66,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_05_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,34}</string>
			<key>spriteSourceSize</key>
			<string>{26,38}</string>
			<key>textureRect</key>
			<string>{{139,85},{22,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,30}</string>
			<key>spriteSourceSize</key>
			<string>{26,38}</string>
			<key>textureRect</key>
			<string>{{161,2},{18,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,38}</string>
			<key>spriteSourceSize</key>
			<string>{26,38}</string>
			<key>textureRect</key>
			<string>{{116,45},{26,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,38}</string>
			<key>spriteSourceSize</key>
			<string>{25,41}</string>
			<key>textureRect</key>
			<string>{{116,85},{21,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,41}</string>
			<key>textureRect</key>
			<string>{{141,2},{18,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,41}</string>
			<key>spriteSourceSize</key>
			<string>{25,41}</string>
			<key>textureRect</key>
			<string>{{114,2},{25,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_05_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{163,70},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_05_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{62,62},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_05_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{144,37},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_05-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_05-hd.png</string>
	</dict>
</dict>
</plist>
