<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_69_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,0}</string>
				<key>spriteSize</key>
				<string>{153,81}</string>
				<key>spriteSourceSize</key>
				<string>{161,89}</string>
				<key>textureRect</key>
				<string>{{0,90},{153,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,-1}</string>
				<key>spriteSize</key>
				<string>{147,51}</string>
				<key>spriteSourceSize</key>
				<string>{161,89}</string>
				<key>textureRect</key>
				<string>{{162,0},{147,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_69_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{29.5,2.5}</string>
				<key>spriteSize</key>
				<string>{116,68}</string>
				<key>spriteSourceSize</key>
				<string>{161,89}</string>
				<key>textureRect</key>
				<string>{{0,172},{116,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{15,0}</string>
				<key>spriteSize</key>
				<string>{161,89}</string>
				<key>spriteSourceSize</key>
				<string>{161,89}</string>
				<key>textureRect</key>
				<string>{{0,0},{161,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,2}</string>
				<key>spriteSize</key>
				<string>{50,66}</string>
				<key>spriteSourceSize</key>
				<string>{58,74}</string>
				<key>textureRect</key>
				<string>{{206,148},{50,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_69_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{35,56}</string>
				<key>spriteSourceSize</key>
				<string>{58,74}</string>
				<key>textureRect</key>
				<string>{{117,172},{35,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,2}</string>
				<key>spriteSize</key>
				<string>{58,74}</string>
				<key>spriteSourceSize</key>
				<string>{66,78}</string>
				<key>textureRect</key>
				<string>{{214,0},{58,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{43,70}</string>
				<key>spriteSourceSize</key>
				<string>{57,70}</string>
				<key>textureRect</key>
				<string>{{214,75},{43,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{24,64}</string>
				<key>spriteSourceSize</key>
				<string>{51,78}</string>
				<key>textureRect</key>
				<string>{{206,199},{24,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_69_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{51,78}</string>
				<key>spriteSourceSize</key>
				<string>{65,78}</string>
				<key>textureRect</key>
				<string>{{154,148},{51,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{117,229},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_69_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{49,29}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{65,241},{49,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_69_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,44}</string>
				<key>spriteSourceSize</key>
				<string>{64,44}</string>
				<key>textureRect</key>
				<string>{{0,241},{64,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_69-uhd.png</string>
			<key>size</key>
			<string>{272,285}</string>
			<key>textureFileName</key>
			<string>icons/spider_69-uhd.png</string>
		</dict>
	</dict>
</plist>