<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_61_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,42}</string>
			<key>spriteSourceSize</key>
			<string>{80,45}</string>
			<key>textureRect</key>
			<string>{{49,2},{77,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{73,39}</string>
			<key>spriteSourceSize</key>
			<string>{80,45}</string>
			<key>textureRect</key>
			<string>{{77,81},{73,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{73,39}</string>
			<key>spriteSourceSize</key>
			<string>{80,45}</string>
			<key>textureRect</key>
			<string>{{2,84},{73,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,45}</string>
			<key>spriteSourceSize</key>
			<string>{80,45}</string>
			<key>textureRect</key>
			<string>{{2,2},{80,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{21,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{134,38},{21,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-7.5}</string>
			<key>spriteSize</key>
			<string>{13,12}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{157,52},{13,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{25,34}</string>
			<key>spriteSourceSize</key>
			<string>{25,34}</string>
			<key>textureRect</key>
			<string>{{119,2},{25,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{21,39}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{93,47},{21,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10.5}</string>
			<key>spriteSize</key>
			<string>{16,15}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{157,34},{16,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{24,43}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{93,2},{24,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,18}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{152,71},{27,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_61_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,18}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{152,100},{27,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_61_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,21}</string>
			<key>spriteSourceSize</key>
			<string>{30,21}</string>
			<key>textureRect</key>
			<string>{{146,2},{30,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_61-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_61-hd.png</string>
	</dict>
</dict>
</plist>
