<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_05_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,8}</string>
				<key>spriteSize</key>
				<string>{111,92}</string>
				<key>spriteSourceSize</key>
				<string>{111,92}</string>
				<key>textureRect</key>
				<string>{{0,101},{111,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,8}</string>
				<key>spriteSize</key>
				<string>{105,87}</string>
				<key>spriteSourceSize</key>
				<string>{105,87}</string>
				<key>textureRect</key>
				<string>{{120,0},{105,87}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_05_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,4}</string>
				<key>spriteSize</key>
				<string>{93,79}</string>
				<key>spriteSourceSize</key>
				<string>{93,79}</string>
				<key>textureRect</key>
				<string>{{112,106},{93,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,8}</string>
				<key>spriteSize</key>
				<string>{119,100}</string>
				<key>spriteSourceSize</key>
				<string>{119,100}</string>
				<key>textureRect</key>
				<string>{{0,0},{119,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,66}</string>
				<key>spriteSourceSize</key>
				<string>{42,66}</string>
				<key>textureRect</key>
				<string>{{241,75},{42,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,61}</string>
				<key>spriteSourceSize</key>
				<string>{38,61}</string>
				<key>textureRect</key>
				<string>{{206,142},{38,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_05_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,74}</string>
				<key>spriteSourceSize</key>
				<string>{50,74}</string>
				<key>textureRect</key>
				<string>{{241,0},{50,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{41,84}</string>
				<key>spriteSourceSize</key>
				<string>{41,84}</string>
				<key>textureRect</key>
				<string>{{93,194},{41,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_05_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{32,78}</string>
				<key>spriteSourceSize</key>
				<string>{32,78}</string>
				<key>textureRect</key>
				<string>{{208,0},{32,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5}</string>
				<key>spriteSize</key>
				<string>{49,92}</string>
				<key>spriteSourceSize</key>
				<string>{49,92}</string>
				<key>textureRect</key>
				<string>{{0,194},{49,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_05_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,33}</string>
				<key>spriteSourceSize</key>
				<string>{54,33}</string>
				<key>textureRect</key>
				<string>{{241,181},{54,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_05_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{112,101},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_05_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,41}</string>
				<key>textureRect</key>
				<string>{{178,186},{62,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_05-uhd.png</string>
			<key>size</key>
			<string>{291,243}</string>
			<key>textureFileName</key>
			<string>icons/spider_05-uhd.png</string>
		</dict>
	</dict>
</plist>