<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_06_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{68,52}</string>
			<key>spriteSourceSize</key>
			<string>{72,56}</string>
			<key>textureRect</key>
			<string>{{60,2},{68,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{64,48}</string>
			<key>spriteSourceSize</key>
			<string>{72,56}</string>
			<key>textureRect</key>
			<string>{{2,76},{64,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_06_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,11}</string>
			<key>spriteSize</key>
			<string>{49,24}</string>
			<key>spriteSourceSize</key>
			<string>{72,56}</string>
			<key>textureRect</key>
			<string>{{68,72},{49,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{72,56}</string>
			<key>spriteSourceSize</key>
			<string>{72,56}</string>
			<key>textureRect</key>
			<string>{{2,2},{72,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{23,32}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{143,2},{23,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_06_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{20,29}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{125,101},{20,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{114,2},{27,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_06_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.25}</string>
			<key>spriteSize</key>
			<string>{25,36}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{114,40},{25,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,32}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{125,67},{21,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_06_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,39}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{94,72},{29,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_06_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{97,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{100,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_06_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{94,123},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_06-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_06-hd.png</string>
	</dict>
</dict>
</plist>
