<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_42_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,7.5}</string>
			<key>spriteSize</key>
			<string>{65,61}</string>
			<key>spriteSourceSize</key>
			<string>{69,65}</string>
			<key>textureRect</key>
			<string>{{69,2},{65,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,7.5}</string>
			<key>spriteSize</key>
			<string>{61,57}</string>
			<key>spriteSourceSize</key>
			<string>{69,65}</string>
			<key>textureRect</key>
			<string>{{132,2},{61,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,12.5}</string>
			<key>spriteSize</key>
			<string>{59,43}</string>
			<key>spriteSourceSize</key>
			<string>{69,65}</string>
			<key>textureRect</key>
			<string>{{132,61},{59,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,7.5}</string>
			<key>spriteSize</key>
			<string>{69,65}</string>
			<key>spriteSourceSize</key>
			<string>{69,65}</string>
			<key>textureRect</key>
			<string>{{2,2},{69,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{50,73},{19,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,29}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{27,107},{16,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,35}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{2,73},{23,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,28}</string>
			<key>spriteSourceSize</key>
			<string>{21,32}</string>
			<key>textureRect</key>
			<string>{{58,106},{17,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,25}</string>
			<key>spriteSourceSize</key>
			<string>{21,32}</string>
			<key>textureRect</key>
			<string>{{71,69},{15,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,32}</string>
			<key>spriteSourceSize</key>
			<string>{21,32}</string>
			<key>textureRect</key>
			<string>{{27,73},{21,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{91,122},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{94,122},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{88,122},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_42-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_42-hd.png</string>
	</dict>
</dict>
</plist>
