<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_08_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,6}</string>
			<key>spriteSize</key>
			<string>{64,53}</string>
			<key>spriteSourceSize</key>
			<string>{68,57}</string>
			<key>textureRect</key>
			<string>{{61,2},{64,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_08_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,6}</string>
			<key>spriteSize</key>
			<string>{61,50}</string>
			<key>spriteSourceSize</key>
			<string>{68,57}</string>
			<key>textureRect</key>
			<string>{{2,72},{61,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1.2}</string>
			<key>spriteSize</key>
			<string>{57,17}</string>
			<key>spriteSourceSize</key>
			<string>{68,57}</string>
			<key>textureRect</key>
			<string>{{65,68},{57,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,6}</string>
			<key>spriteSize</key>
			<string>{68,57}</string>
			<key>spriteSourceSize</key>
			<string>{68,57}</string>
			<key>textureRect</key>
			<string>{{2,2},{68,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_08_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{26,33}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{124,41},{26,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.8,9.2}</string>
			<key>spriteSize</key>
			<string>{15,12}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{152,55},{15,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_08_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0}</string>
			<key>spriteSize</key>
			<string>{30,37}</string>
			<key>spriteSourceSize</key>
			<string>{30,37}</string>
			<key>textureRect</key>
			<string>{{108,87},{30,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{25,37}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{116,2},{25,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.8,4.8}</string>
			<key>spriteSize</key>
			<string>{7,18}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{152,35},{7,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{29,41}</string>
			<key>spriteSourceSize</key>
			<string>{29,41}</string>
			<key>textureRect</key>
			<string>{{65,87},{29,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_08_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{140,76},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_08_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,-0.2}</string>
			<key>spriteSize</key>
			<string>{25,15}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{140,105},{25,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_08_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.2,0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{143,2},{31,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_08-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_08-hd.png</string>
	</dict>
</dict>
</plist>
