<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,8}</string>
			<key>spriteSize</key>
			<string>{126,88}</string>
			<key>spriteSourceSize</key>
			<string>{156,117}</string>
			<key>textureRect</key>
			<string>{{0,95},{126,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,8}</string>
			<key>spriteSize</key>
			<string>{116,80}</string>
			<key>spriteSourceSize</key>
			<string>{156,117}</string>
			<key>textureRect</key>
			<string>{{133,0},{116,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,11}</string>
			<key>spriteSize</key>
			<string>{93,73}</string>
			<key>spriteSourceSize</key>
			<string>{156,117}</string>
			<key>textureRect</key>
			<string>{{0,184},{93,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,8}</string>
			<key>spriteSize</key>
			<string>{132,94}</string>
			<key>spriteSourceSize</key>
			<string>{156,117}</string>
			<key>textureRect</key>
			<string>{{0,0},{132,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{41,57}</string>
			<key>spriteSourceSize</key>
			<string>{41,63}</string>
			<key>textureRect</key>
			<string>{{214,63},{41,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{41,57}</string>
			<key>spriteSourceSize</key>
			<string>{41,63}</string>
			<key>textureRect</key>
			<string>{{212,121},{41,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{49,65}</string>
			<key>spriteSourceSize</key>
			<string>{49,71}</string>
			<key>textureRect</key>
			<string>{{127,117},{49,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{34,64}</string>
			<key>spriteSourceSize</key>
			<string>{40,70}</string>
			<key>textureRect</key>
			<string>{{177,117},{34,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{34,64}</string>
			<key>spriteSourceSize</key>
			<string>{40,70}</string>
			<key>textureRect</key>
			<string>{{177,182},{34,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{42,72}</string>
			<key>spriteSourceSize</key>
			<string>{48,78}</string>
			<key>textureRect</key>
			<string>{{94,184},{42,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{137,183},{54,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{127,95},{5,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{214,0},{62,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_54-uhd.png</string>
		<key>size</key>
		<string>{256,257}</string>
		<key>textureFileName</key>
		<string>icons/spider_54-uhd.png</string>
	</dict>
</dict>
</plist>
