<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_15_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{118,83}</string>
				<key>spriteSourceSize</key>
				<string>{126,91}</string>
				<key>textureRect</key>
				<string>{{0,92},{118,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{13,-1.5}</string>
				<key>spriteSize</key>
				<string>{94,62}</string>
				<key>spriteSourceSize</key>
				<string>{126,91}</string>
				<key>textureRect</key>
				<string>{{127,0},{94,62}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_15_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{31.5,13.5}</string>
				<key>spriteSize</key>
				<string>{55,48}</string>
				<key>spriteSourceSize</key>
				<string>{126,91}</string>
				<key>textureRect</key>
				<string>{{172,120},{55,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,0}</string>
				<key>spriteSize</key>
				<string>{126,91}</string>
				<key>spriteSourceSize</key>
				<string>{126,91}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{44,58}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{136,175},{44,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_15_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-8}</string>
				<key>spriteSize</key>
				<string>{32,40}</string>
				<key>spriteSourceSize</key>
				<string>{52,66}</string>
				<key>textureRect</key>
				<string>{{56,221},{32,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_15_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{52,66}</string>
				<key>spriteSourceSize</key>
				<string>{56,70}</string>
				<key>textureRect</key>
				<string>{{190,0},{52,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,71}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{0,176},{44,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_15_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-4.5}</string>
				<key>spriteSize</key>
				<string>{24,56}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{172,95},{24,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_15_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,79}</string>
				<key>spriteSourceSize</key>
				<string>{52,79}</string>
				<key>textureRect</key>
				<string>{{119,95},{52,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{55,34}</string>
				<key>spriteSourceSize</key>
				<string>{56,34}</string>
				<key>textureRect</key>
				<string>{{0,221},{55,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>textureRect</key>
				<string>{{172,169},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_15_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{63,42}</string>
				<key>spriteSourceSize</key>
				<string>{64,42}</string>
				<key>textureRect</key>
				<string>{{72,176},{63,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_15-uhd.png</string>
			<key>size</key>
			<string>{242,255}</string>
			<key>textureFileName</key>
			<string>icons/spider_15-uhd.png</string>
		</dict>
	</dict>
</plist>