<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_46_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{175,101}</string>
				<key>spriteSourceSize</key>
				<string>{175,101}</string>
				<key>textureRect</key>
				<string>{{0,110},{175,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,5}</string>
				<key>spriteSize</key>
				<string>{165,85}</string>
				<key>spriteSourceSize</key>
				<string>{165,85}</string>
				<key>textureRect</key>
				<string>{{184,0},{165,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_46_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,14}</string>
				<key>spriteSize</key>
				<string>{110,60}</string>
				<key>spriteSourceSize</key>
				<string>{110,60}</string>
				<key>textureRect</key>
				<string>{{0,212},{110,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{183,109}</string>
				<key>spriteSourceSize</key>
				<string>{183,109}</string>
				<key>textureRect</key>
				<string>{{0,0},{183,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{47,65}</string>
				<key>spriteSourceSize</key>
				<string>{47,65}</string>
				<key>textureRect</key>
				<string>{{226,259},{47,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,60}</string>
				<key>spriteSourceSize</key>
				<string>{41,60}</string>
				<key>textureRect</key>
				<string>{{111,267},{41,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,73}</string>
				<key>spriteSourceSize</key>
				<string>{55,73}</string>
				<key>textureRect</key>
				<string>{{0,273},{55,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_46_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,4}</string>
				<key>spriteSize</key>
				<string>{43,92}</string>
				<key>spriteSourceSize</key>
				<string>{43,92}</string>
				<key>textureRect</key>
				<string>{{226,166},{43,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,4}</string>
				<key>spriteSize</key>
				<string>{38,87}</string>
				<key>spriteSourceSize</key>
				<string>{38,87}</string>
				<key>textureRect</key>
				<string>{{270,0},{38,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,4}</string>
				<key>spriteSize</key>
				<string>{49,100}</string>
				<key>spriteSourceSize</key>
				<string>{49,100}</string>
				<key>textureRect</key>
				<string>{{176,166},{49,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{153,325},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{153,327},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_46_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,1}</string>
				<key>spriteSourceSize</key>
				<string>{1,1}</string>
				<key>textureRect</key>
				<string>{{155,325},{1,1}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_46-uhd.png</string>
			<key>size</key>
			<string>{308,328}</string>
			<key>textureFileName</key>
			<string>icons/spider_46-uhd.png</string>
		</dict>
	</dict>
</plist>