<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_44_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,3.5}</string>
				<key>spriteSize</key>
				<string>{118,82}</string>
				<key>spriteSourceSize</key>
				<string>{127,91}</string>
				<key>textureRect</key>
				<string>{{0,92},{118,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{109,75}</string>
				<key>spriteSourceSize</key>
				<string>{127,91}</string>
				<key>textureRect</key>
				<string>{{127,0},{109,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{19,7.5}</string>
				<key>spriteSize</key>
				<string>{61,48}</string>
				<key>spriteSourceSize</key>
				<string>{127,91}</string>
				<key>textureRect</key>
				<string>{{202,129},{61,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,3}</string>
				<key>spriteSize</key>
				<string>{126,91}</string>
				<key>spriteSourceSize</key>
				<string>{127,91}</string>
				<key>textureRect</key>
				<string>{{0,0},{126,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{47,65}</string>
				<key>spriteSourceSize</key>
				<string>{55,73}</string>
				<key>textureRect</key>
				<string>{{203,0},{47,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,-12.5}</string>
				<key>spriteSize</key>
				<string>{28,32}</string>
				<key>spriteSourceSize</key>
				<string>{55,73}</string>
				<key>textureRect</key>
				<string>{{55,220},{28,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{55,73}</string>
				<key>spriteSourceSize</key>
				<string>{55,73}</string>
				<key>textureRect</key>
				<string>{{119,163},{55,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{44,74}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{0,175},{44,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-14}</string>
				<key>spriteSize</key>
				<string>{19,38}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{75,175},{19,38}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{52,82}</string>
				<key>spriteSourceSize</key>
				<string>{53,82}</string>
				<key>textureRect</key>
				<string>{{119,110},{52,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_44_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{0,220},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_44_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{203,66},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_44-uhd.png</string>
			<key>size</key>
			<string>{250,254}</string>
			<key>textureFileName</key>
			<string>icons/spider_44-uhd.png</string>
		</dict>
	</dict>
</plist>