<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_10_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{67,51}</string>
			<key>spriteSourceSize</key>
			<string>{71,55}</string>
			<key>textureRect</key>
			<string>{{59,2},{67,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.2,11}</string>
			<key>spriteSize</key>
			<string>{51,34}</string>
			<key>spriteSourceSize</key>
			<string>{71,55}</string>
			<key>textureRect</key>
			<string>{{59,71},{51,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12.5,-1.2}</string>
			<key>spriteSize</key>
			<string>{24,5}</string>
			<key>spriteSourceSize</key>
			<string>{71,55}</string>
			<key>textureRect</key>
			<string>{{50,75},{24,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{71,55}</string>
			<key>spriteSourceSize</key>
			<string>{71,55}</string>
			<key>textureRect</key>
			<string>{{2,2},{71,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{24,31}</string>
			<key>spriteSourceSize</key>
			<string>{28,35}</string>
			<key>textureRect</key>
			<string>{{112,36},{24,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-7}</string>
			<key>spriteSize</key>
			<string>{14,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,35}</string>
			<key>textureRect</key>
			<string>{{125,69},{14,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{28,35}</string>
			<key>spriteSourceSize</key>
			<string>{28,35}</string>
			<key>textureRect</key>
			<string>{{95,71},{28,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{20,39}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{28,75},{20,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.8,-7.8}</string>
			<key>spriteSize</key>
			<string>{11,18}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{122,108},{11,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,1.5}</string>
			<key>spriteSize</key>
			<string>{24,43}</string>
			<key>spriteSourceSize</key>
			<string>{24,43}</string>
			<key>textureRect</key>
			<string>{{2,75},{24,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{136,2},{27,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_10_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.2,-0.2}</string>
			<key>spriteSize</key>
			<string>{25,15}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{95,108},{25,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_10_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,22}</string>
			<key>spriteSourceSize</key>
			<string>{32,22}</string>
			<key>textureRect</key>
			<string>{{112,2},{32,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_10-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_10-hd.png</string>
	</dict>
</dict>
</plist>
