<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_18_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{171,129}</string>
                <key>spriteSourceSize</key>
                <string>{171,129}</string>
                <key>textureRect</key>
                <string>{{0,0},{171,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{171,129}</string>
                <key>spriteSourceSize</key>
                <string>{171,129}</string>
                <key>textureRect</key>
                <string>{{172,0},{171,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{171,129}</string>
                <key>spriteSourceSize</key>
                <string>{171,129}</string>
                <key>textureRect</key>
                <string>{{0,130},{171,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{179,137}</string>
                <key>spriteSourceSize</key>
                <string>{179,137}</string>
                <key>textureRect</key>
                <string>{{172,130},{179,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{344,0},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{388,0},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{432,0},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{46,85}</string>
                <key>spriteSourceSize</key>
                <string>{46,85}</string>
                <key>textureRect</key>
                <string>{{352,62},{46,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{46,85}</string>
                <key>spriteSourceSize</key>
                <string>{46,85}</string>
                <key>textureRect</key>
                <string>{{399,70},{46,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{352,156},{54,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_18_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_18-uhd.png</string>
            <key>size</key>
            <string>{268,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6118d887f9da1f6a8cd5d4029aee0e:5e2d02e8e5ce3e118ea0a2e20cb1106a:d52d186613400a0f4f14a1b0f4d24b04$</string>
            <key>textureFileName</key>
            <string>icons/spider_18-uhd.png</string>
        </dict>
    </dict>
</plist>
