<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_67_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,39}</string>
			<key>spriteSourceSize</key>
			<string>{65,43}</string>
			<key>textureRect</key>
			<string>{{47,2},{61,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,37}</string>
			<key>spriteSourceSize</key>
			<string>{65,43}</string>
			<key>textureRect</key>
			<string>{{47,43},{59,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,43}</string>
			<key>spriteSourceSize</key>
			<string>{65,43}</string>
			<key>textureRect</key>
			<string>{{2,2},{65,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_67_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,28}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{92,82},{20,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_67_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,26}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{92,104},{18,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_67_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{46,82},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,35}</string>
			<key>spriteSourceSize</key>
			<string>{22,39}</string>
			<key>textureRect</key>
			<string>{{26,69},{18,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,33}</string>
			<key>spriteSourceSize</key>
			<string>{22,39}</string>
			<key>textureRect</key>
			<string>{{108,43},{16,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,39}</string>
			<key>spriteSourceSize</key>
			<string>{22,39}</string>
			<key>textureRect</key>
			<string>{{2,82},{22,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,14}</string>
			<key>spriteSourceSize</key>
			<string>{31,18}</string>
			<key>textureRect</key>
			<string>{{110,2},{27,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_67_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,12}</string>
			<key>spriteSourceSize</key>
			<string>{31,18}</string>
			<key>textureRect</key>
			<string>{{120,104},{25,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_67_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,18}</string>
			<key>spriteSourceSize</key>
			<string>{31,18}</string>
			<key>textureRect</key>
			<string>{{72,82},{31,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_67-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_67-hd.png</string>
	</dict>
</dict>
</plist>
