<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>swing_42_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,3.5}</string>
			<key>spriteSize</key>
			<string>{84,68}</string>
			<key>spriteSourceSize</key>
			<string>{88,72}</string>
			<key>textureRect</key>
			<string>{{76,2},{84,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>swing_42_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.25,4.75}</string>
			<key>spriteSize</key>
			<string>{78,63}</string>
			<key>spriteSourceSize</key>
			<string>{88,72}</string>
			<key>textureRect</key>
			<string>{{146,2},{78,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_42_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8.75,14.75}</string>
			<key>spriteSize</key>
			<string>{45,43}</string>
			<key>spriteSourceSize</key>
			<string>{88,72}</string>
			<key>textureRect</key>
			<string>{{146,67},{45,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>swing_42_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,3.5}</string>
			<key>spriteSize</key>
			<string>{88,72}</string>
			<key>spriteSourceSize</key>
			<string>{88,72}</string>
			<key>textureRect</key>
			<string>{{2,2},{88,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/swing_42-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/swing_42-hd.png</string>
	</dict>
</dict>
</plist>
