<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>swing_39_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-0.5}</string>
			<key>spriteSize</key>
			<string>{75,70}</string>
			<key>spriteSourceSize</key>
			<string>{79,74}</string>
			<key>textureRect</key>
			<string>{{78,2},{75,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>swing_39_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-0.5}</string>
			<key>spriteSize</key>
			<string>{71,66}</string>
			<key>spriteSourceSize</key>
			<string>{79,74}</string>
			<key>textureRect</key>
			<string>{{150,2},{71,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_39_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.2,9.8}</string>
			<key>spriteSize</key>
			<string>{51,45}</string>
			<key>spriteSourceSize</key>
			<string>{79,74}</string>
			<key>textureRect</key>
			<string>{{78,79},{51,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_39_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-0.5}</string>
			<key>spriteSize</key>
			<string>{79,74}</string>
			<key>spriteSourceSize</key>
			<string>{79,74}</string>
			<key>textureRect</key>
			<string>{{2,2},{79,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/swing_39-hd.png</string>
		<key>size</key>
		<string>{256,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/swing_39-hd.png</string>
	</dict>
</dict>
</plist>
