<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>swing_40_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{70,71}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2,78},{70,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>swing_40_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,67}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2,150},{65,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_40_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,2.5}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{69,150},{61,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>swing_40_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2,2},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/swing_40-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/swing_40-hd.png</string>
	</dict>
</dict>
</plist>
