<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_33_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,7}</string>
				<key>spriteSize</key>
				<string>{140,134}</string>
				<key>spriteSourceSize</key>
				<string>{194,172}</string>
				<key>textureRect</key>
				<string>{{0,143},{140,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_33_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,6}</string>
				<key>spriteSize</key>
				<string>{115,122}</string>
				<key>spriteSourceSize</key>
				<string>{194,172}</string>
				<key>textureRect</key>
				<string>{{149,0},{115,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_33_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,31}</string>
				<key>spriteSize</key>
				<string>{109,75}</string>
				<key>spriteSourceSize</key>
				<string>{194,172}</string>
				<key>textureRect</key>
				<string>{{149,123},{109,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_33_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,8}</string>
				<key>spriteSize</key>
				<string>{148,142}</string>
				<key>spriteSourceSize</key>
				<string>{194,172}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_33-uhd.png</string>
			<key>size</key>
			<string>{264,277}</string>
			<key>textureFileName</key>
			<string>icons/swing_33-uhd.png</string>
		</dict>
	</dict>
</plist>