<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_30_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{146,133}</string>
				<key>spriteSourceSize</key>
				<string>{153,141}</string>
				<key>textureRect</key>
				<string>{{0,142},{146,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_30_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{129,125}</string>
				<key>spriteSourceSize</key>
				<string>{153,141}</string>
				<key>textureRect</key>
				<string>{{154,0},{129,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_30_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,74}</string>
				<key>spriteSourceSize</key>
				<string>{153,141}</string>
				<key>textureRect</key>
				<string>{{154,130},{110,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_30_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{153,141}</string>
				<key>spriteSourceSize</key>
				<string>{153,141}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_30-uhd.png</string>
			<key>size</key>
			<string>{279,275}</string>
			<key>textureFileName</key>
			<string>icons/swing_30-uhd.png</string>
		</dict>
	</dict>
</plist>