<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_10_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,12.5}</string>
				<key>spriteSize</key>
				<string>{144,147}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{153,0},{144,147}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_10_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5.5,11.5}</string>
				<key>spriteSize</key>
				<string>{137,141}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{0,156},{137,141}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_10_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{16,3.5}</string>
				<key>spriteSize</key>
				<string>{84,51}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{142,156},{84,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_10_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,12.5}</string>
				<key>spriteSize</key>
				<string>{152,155}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{0,0},{152,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_10-uhd.png</string>
			<key>size</key>
			<string>{297,293}</string>
			<key>textureFileName</key>
			<string>icons/swing_10-uhd.png</string>
		</dict>
	</dict>
</plist>