<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_27_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,2}</string>
				<key>spriteSize</key>
				<string>{147,124}</string>
				<key>spriteSourceSize</key>
				<string>{155,132}</string>
				<key>textureRect</key>
				<string>{{0,133},{147,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_27_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,13}</string>
				<key>spriteSize</key>
				<string>{139,94}</string>
				<key>spriteSourceSize</key>
				<string>{155,132}</string>
				<key>textureRect</key>
				<string>{{156,0},{139,94}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_27_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,24}</string>
				<key>spriteSize</key>
				<string>{113,70}</string>
				<key>spriteSourceSize</key>
				<string>{155,132}</string>
				<key>textureRect</key>
				<string>{{148,140},{113,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_27_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,2}</string>
				<key>spriteSize</key>
				<string>{155,132}</string>
				<key>spriteSourceSize</key>
				<string>{155,132}</string>
				<key>textureRect</key>
				<string>{{0,0},{155,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_27-uhd.png</string>
			<key>size</key>
			<string>{250,257}</string>
			<key>textureFileName</key>
			<string>icons/swing_27-uhd.png</string>
		</dict>
	</dict>
</plist>