<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_26_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,0}</string>
				<key>spriteSize</key>
				<string>{137,132}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{0,139},{137,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_26_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,0}</string>
				<key>spriteSize</key>
				<string>{129,124}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{142,0},{129,124}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_26_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,25}</string>
				<key>spriteSize</key>
				<string>{85,72}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{142,130},{85,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_26_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,0}</string>
				<key>spriteSize</key>
				<string>{141,138}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{0,0},{141,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_26-uhd.png</string>
			<key>size</key>
			<string>{266,271}</string>
			<key>textureFileName</key>
			<string>icons/swing_26-uhd.png</string>
		</dict>
	</dict>
</plist>