<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_21_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-5}</string>
				<key>spriteSize</key>
				<string>{160,151}</string>
				<key>spriteSourceSize</key>
				<string>{168,159}</string>
				<key>textureRect</key>
				<string>{{0,160},{160,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_21_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-1.5}</string>
				<key>spriteSize</key>
				<string>{146,134}</string>
				<key>spriteSourceSize</key>
				<string>{168,159}</string>
				<key>textureRect</key>
				<string>{{169,0},{146,134}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_21_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{16,-10.5}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{168,159}</string>
				<key>textureRect</key>
				<string>{{169,147},{102,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_21_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-5}</string>
				<key>spriteSize</key>
				<string>{168,159}</string>
				<key>spriteSourceSize</key>
				<string>{168,159}</string>
				<key>textureRect</key>
				<string>{{0,0},{168,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_21-uhd.png</string>
			<key>size</key>
			<string>{303,311}</string>
			<key>textureFileName</key>
			<string>icons/swing_21-uhd.png</string>
		</dict>
	</dict>
</plist>