<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_39_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1}</string>
				<key>spriteSize</key>
				<string>{149,140}</string>
				<key>spriteSourceSize</key>
				<string>{157,148}</string>
				<key>textureRect</key>
				<string>{{0,149},{149,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_39_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1}</string>
				<key>spriteSize</key>
				<string>{141,132}</string>
				<key>spriteSourceSize</key>
				<string>{157,148}</string>
				<key>textureRect</key>
				<string>{{158,0},{141,132}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_39_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,19.5}</string>
				<key>spriteSize</key>
				<string>{102,89}</string>
				<key>spriteSourceSize</key>
				<string>{157,148}</string>
				<key>textureRect</key>
				<string>{{158,142},{102,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_39_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1}</string>
				<key>spriteSize</key>
				<string>{157,148}</string>
				<key>spriteSourceSize</key>
				<string>{157,148}</string>
				<key>textureRect</key>
				<string>{{0,0},{157,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_39-uhd.png</string>
			<key>size</key>
			<string>{290,289}</string>
			<key>textureFileName</key>
			<string>icons/swing_39-uhd.png</string>
		</dict>
	</dict>
</plist>