<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_14_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,1}</string>
				<key>spriteSize</key>
				<string>{131,140}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{140,0},{131,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_14_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-12,-23.5}</string>
				<key>spriteSize</key>
				<string>{108,81}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{0,147},{108,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_14_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,8.5}</string>
				<key>spriteSize</key>
				<string>{92,69}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{109,147},{92,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_14_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,1}</string>
				<key>spriteSize</key>
				<string>{139,146}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_14-uhd.png</string>
			<key>size</key>
			<string>{271,228}</string>
			<key>textureFileName</key>
			<string>icons/swing_14-uhd.png</string>
		</dict>
	</dict>
</plist>