<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_42_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,7}</string>
				<key>spriteSize</key>
				<string>{168,136}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{0,145},{168,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_42_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,9.5}</string>
				<key>spriteSize</key>
				<string>{155,125}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{177,0},{155,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_42_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{17.5,29.5}</string>
				<key>spriteSize</key>
				<string>{89,85}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{169,156},{89,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_42_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,7}</string>
				<key>spriteSize</key>
				<string>{176,144}</string>
				<key>spriteSourceSize</key>
				<string>{234,234}</string>
				<key>textureRect</key>
				<string>{{0,0},{176,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_42-uhd.png</string>
			<key>size</key>
			<string>{302,281}</string>
			<key>textureFileName</key>
			<string>icons/swing_42-uhd.png</string>
		</dict>
	</dict>
</plist>