<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{1,4},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{141,4},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{281,4},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_10_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{145,152}</string>
                <key>spriteSourceSize</key>
                <string>{145,152}</string>
                <key>textureRect</key>
                <string>{{420,2},{145,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_10-uhd.png</string>
            <key>size</key>
            <string>{610,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d0224b37cf0b73e2cdc879eb3fe67d:547f9388e76ae4f93f0e1aa5c2bf1c9d:217f16b3dda520c314377e7bd0c7d3ac$</string>
            <key>textureFileName</key>
            <string>icons/swing_10-uhd.png</string>
        </dict>
    </dict>
</plist>
