<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_15_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,128}</string>
				<key>spriteSourceSize</key>
				<string>{180,166}</string>
				<key>textureRect</key>
				<string>{{0,137},{150,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_15_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,27}</string>
				<key>spriteSize</key>
				<string>{135,66}</string>
				<key>spriteSourceSize</key>
				<string>{180,166}</string>
				<key>textureRect</key>
				<string>{{159,0},{135,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_15_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,25.5}</string>
				<key>spriteSize</key>
				<string>{133,57}</string>
				<key>spriteSourceSize</key>
				<string>{180,166}</string>
				<key>textureRect</key>
				<string>{{226,0},{133,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_15_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{158,136}</string>
				<key>spriteSourceSize</key>
				<string>{180,166}</string>
				<key>textureRect</key>
				<string>{{0,0},{158,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_15-uhd.png</string>
			<key>size</key>
			<string>{283,265}</string>
			<key>textureFileName</key>
			<string>icons/swing_15-uhd.png</string>
		</dict>
	</dict>
</plist>